<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html ng-app="routeFeeConfigAddApp">
<head>
<title>众邦_网点费用新增</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="keywords" content="众邦" />
<meta name="description" content="众邦" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="../css/$tenantId$/icon.css?v=${ver}" />
<link rel="stylesheet" type="text/css" href="../css/$tenantId$/public.css?v=${ver}" />
<link rel="stylesheet" type="text/css" href="../css/$tenantId$/head.css?v=${ver}" />
<link rel="stylesheet" type="text/css" href="../css/$tenantId$/leftboxcs.css?v=${ver}" />
<link rel="stylesheet" type="text/css" href="../css/$tenantId$/master.css?v=${ver}" />

</head>
<body ng-controller="routeFeeConfigAddCtrl" >
	<!-- 异常处理 -->
	<div class="billing_1 clearfix pb_20 mt_20 plr_20" style="min-height: 400px">
		
		<table width="100%" border="0" cellspacing="0" cellpadding="0" class="search_table search_term" style="padding: 20px 0;">
					<tbody>
					<tr>
		    <td class="term_label" width="120"><label class="yic_label">归属组织：</label></td>
			<td><div class="form_select_c ">
                                <select ng-model="data.tenantId" ng-disabled="all" ng-options="obj.orgId as obj.orgName for obj in rootOrgInfo ">
                            	</select>
                            </div></td>
			<td class="term_label" width="140"><label class="yic_label">网点：</label></td>
			<td><div class="form_select_c ">
                                <select ng-model="data.orgId" ng-disabled="all"  ng-change="changeCountType(data.feeId,data.orgId,data.collectType)" ng-options="obj.orgId as obj.orgName for  obj in orgInfo ">
                            	</select>
                            </div></td>
			
			<td class="term_label" width="140"><label class="yic_label">费用科目：</label></td>
			<td><div class="form_select_c ">
                                <select ng-model="data.feeId" ng-change="changeCountType(data.feeId,data.orgId,data.collectType,data.countType)"  ng-options="obj.feeId as obj.feeName for obj in acFeeConfig ">
                            	</select>				</div></td>
           </tr>
           <tr>
			<td class="term_label"><label class="yic_label">计费方式：</label></td>
			<td><div class="form_select_c ">
					 <my-select id="data.countType" code-type="COUNT_TYPE" url=""  change="changeLimitTip(data.feeId,data.countType)" />
				</div></td>
			<td class="term_label"><label class="yic_label">操作类型：</label></td>
			<td><div class="form_select_c ">
					 <my-select id="data.collectType" code-type="COLLECT_TYPE" url=""/>
				</div></td>
			<td class="term_label"  id="building_type_id" style="display:none"><label class="yic_label">楼房类型：</label></td>
			<td id="building_type_id" style="display:none"><div class="form_select_c fl " style="min-width:140px">
					 <my-select id="data.formulaType" code-type="FEE_ID@FORMULAR_TYPE" url=""/>
				</div></td>
			<td class="term_label"><label class="yic_label">起始范围：</label></td>
			<td><input class="yic_input" ng-model="data.lowerLimit" type="text" id="lowerLimit"  onfocus="this.value=''" value="重量:单位千克"/></td>
			</tr>
			<tr>
			<td class="term_label"><label class="yic_label">终止范围：</label></td>
			<td><input class="yic_input" ng-model="data.topLimit" type="text" id="topLimit"  onfocus="this.value=''" value="重量:单位千克"/></td>
			<td class="term_label" id="area_id_display" style="display:none"><label class="yic_label">派送区域：</label></td>
			<td id="area_id_display" style="display:none"><div class="fl">
					<input class="yic_input" ng-model="data.areaName" type="text" />
				</div></td>
			<td class="term_label"><label class="yic_label">计算公式：</label></td>
			<td><input class="yic_input" ng-model="data.formula" type="text" placeholder="计算价格单位:分"/></td>
			<td></td>
			<td></td>
			</tr>
			<tr>
			<td class="term_label" valign="top"><label class="yic_label">提示：</label></td>
			<td colspan="5"><div class="fl"  style="min-width:380px;padding-left: 10px;">
					符号：+（加）、-（减）、*（乘）、/（除）、（）括号<br>
					变量：W（重量）、V（体积）、N（件数）、F（楼层）、L（距离）、P（百分比）<br>
					范围：起始（重量）< W <= 终止（重量）<br>
					例如：运费，20KG以内，首重3KG为12元，续重1KG为3元，则配置为：<br>
					<div style="color:red">起始范围：0，终止范围：20，最低价格：12，最高价格：无<br>
					公式：12+(W－3)*3<br></div>
					例如：上楼费，楼梯楼，20KG以内，1、2楼价格30，2楼以上，每多一层，多10元，则配置为：<br>
					<div style="color:red">起始范围：0，终止范围：20，最低价格：30，最高价格：无<br>
					公式：30+(L－2)*10<br></div>
					例如：上楼费，电梯楼，20KG以内，价格30，则配置为：<br>
					<div style="color:red">起始范围：0，终止范围：20，最低价格：30，最高价格：30<br>
					公式：无</div>
				</div></td>
				</tr>
				</tbody>
				</table>
	
	</div>

	<div class="bottom_nav1">
		<a href="javascript:void(0)" ng-click="doSave()" ng-show="showSave">保 存</a><a href="javascript:void(0)" ng-click="close()">取
			消</a>
	</div>

	<!--[if !IE]> -->
	<script src='../js/angular/angular.min.js'></script>
	<!-- <![endif]-->
	<!--[if lte IE 8 ]>
			<script src='../js/angular-1.2.19/angular.min.js'></script>
		<![endif]-->
	<!--[if !lte IE 8 ]>
			<script src='../js/angular/angular.min.js'></script>
		<![endif]-->
	<script type="text/javascript" src="../js/jquery-1.11.1.min.js?v=${ver}"></script>
	<script type="text/javascript" src="../js/md5.js?v=${ver}"></script>
	<script type="text/javascript" src="../js/common.js?v=${ver}"></script>
	<script type="text/javascript" src="../js/My97DatePicker/WdatePicker.js?v=${ver}"></script>
	<script type="text/javascript" src="orgFeeConfigAddCtrl.js?v=${ver}"></script>
</body>
</html>

