<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="afterSaleAddApp">
<head>
<title>调度任务-待签收任务</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="../../css/$tenantId$/icon.css?v=${ver}" />
<link rel="stylesheet" type="text/css" href="../../css/$tenantId$/public.css?v=${ver}" />
<link rel="stylesheet" type="text/css" href="../../css/$tenantId$/head.css?v=${ver}" />
<link rel="stylesheet" type="text/css" href="../../css/$tenantId$/master.css?v=${ver}" />
<style>
.hideString{
	        white-space: nowrap !important;word-break: keep-all;overflow: hidden;text-overflow: ellipsis;
	    }
.ng-hide{display: none !important;}
.aft_list {
	border-bottom: 1px solid #b7d3e7;
	border-right: 1px solid #b7d3e7;
	border-radius: 3px;
	width: -moz-calc(100% -       1px);
	width: -webkit-calc(100% -       1px);
	width: calc(100% -       1px)
}

.aft_list td {
	font-family: 宋体;
	font-size: 12px;
	border-left: 1px solid #b7d3e7;
	border-top: 1px solid #b7d3e7;
	padding: 0 5px
}

.aft_list label {
	text-align: right;
	line-height: 26px;
	color: #333;
	display: block;
}

.aft_td {
	background: #f1f5fc;
}

.search_list {
	border-top: 1px solid #A1BBD1;
}
.search_list thead th,.search_list_dhl td {
	line-height: 22px !important;
	color: #000 !important;
	font-size: 14px;
	font-weight: normal;
	background: #E4EAF5;
	border-right: 1px solid #A1BBD1;
	border-bottom: 1px solid #A1BBD1;
}

.search_list tbody td {
	line-height: 22px !important;
	color: #323232;
	border-bottom: 1px solid #A1BBD1;
	border-right: 1px solid #A1BBD1;
	height: 22px;
	font-size: 12px;
	white-space: nowrap;
	word-break: keep-all;
	overflow: hidden;
	text-overflow: ellipsis;
}

.search_list tbody td {
    text-align: center;
}

</style>

</head>
<body ng-controller="afterSaleAddCtrl" onload="setContentHegthDelay()"
	style="overflow: hidden">
	<div class="billing_1" style="padding-bottom: 80px;">
		<!--待分配任务 start-->
		<div id="con_two_1">
			<div class="search" style="margin: 0 35px;">
				<table width="100%" border="0" cellspacing="0" cellpadding="0"
					class="search_table tx_tc_table dhl_r">
					<tbody>
						<tr>
							<td width="100"><label class="control-label"><em>*</em>运单号：</label></td>
							<td><input class="input_box" ng-model="query.trackingNum"   
								ng-disabled="isView == 1 || isSales == 1" ng-blur="toView();saleOrderInfo(query.trackingNum);checkTrackingNumOrdSale(query.trackingNum);" maxlength="20"
								type="text"  />
								</td>
							<td width="100">
							<a ng-if="isView==''||isView==null||isView==undefined" ng-click="toView();saleOrderInfo(query.trackingNum);checkTrackingNumOrdSale(query.trackingNum);" href="javascript:void(0);"  ng-Enter></a>
							<a class="search_ydcx" ng-if="isView==''||isView==null||isView==undefined" ng-click="doQueryOrd();" href="javascript:void(0);">选择运单</a>
							</td>
							<td colspan="3" rowspan="5" valign="top">
								<table width="100%" border="0" cellspacing="0" cellpadding="0"
									class="aft_list">
									<tr>
										<td class="aft_td" width="12%"><label>开单网点</label></td>
										<td width="13%" class="ng-cloak">{{ordSaleOrderInfoData.ordOrdIdName}}
										</td>
										<td width="12%" class="aft_td"><label>开单时间</label></td>
										<td width="13%" class="ng-cloak">{{ordSaleOrderInfoData.orderDateString}}
										</td>
										<td width="12%" class="aft_td"><label>开单人</label></td>
										<td width="13%" class="ng-cloak">{{ordSaleOrderInfoData.opName}}
										</td>
										<td width="12%" class="aft_td"><label>配送网点</label></td>
										<td width="13%" class="ng-cloak">{{ordSaleOrderInfoData.currentOrgIdName}}
										</td>
									</tr>
									<tr>
										<td class="aft_td"><label>发货人</label></td>
										<td class="ng-cloak">{{ordSaleOrderInfoData.consignorName}}
										</td>
										<td class="aft_td"><label>发货人电话</label></td>
										<td class="ng-cloak">{{ordSaleOrderInfoData.consignorTelephone}}
										</td>
										<td class="aft_td"><label>收货人</label></td>
										<td class="ng-cloak">{{ordSaleOrderInfoData.consigneeName}}
										</td>
										<td class="aft_td"><label>收货人电话</label></td>
										<td class="ng-cloak">{{ordSaleOrderInfoData.consigneeTelephone}}
										</td>
									</tr>
									<tr>
										<td class="aft_td"><label>师傅合作商</label></td>
										<td class="ng-cloak">{{ordSaleOrderInfoData.sfName}}</td>
										<td class="aft_td"><label>合作商电话</label></td>
										<td class="ng-cloak">{{ordSaleOrderInfoData.sfTel}}</td>
										<td class="aft_td"><label>个体师傅</label></td>
										<td class="ng-cloak">{{ordSaleOrderInfoData.belongObjName}}
										</td>
										<td class="aft_td"><label>师傅电话</label></td>
										<td class="ng-cloak">{{ordSaleOrderInfoData.belongTel}}</td>
									</tr>
									<tr>
										<td class="aft_td"><label>承运商</label></td>
										<td class="ng-cloak">{{ordSaleOrderInfoData.carrierOrgIdName}}
										</td>
										<td class="aft_td"><label>承运商电话</label></td>
										<td class="ng-cloak">{{ordSaleOrderInfoData.linkerPhone}}
										</td>
										<td class="aft_td"><label>付款方式</label></td>
										<td class="ng-cloak">{{ordSaleOrderInfoData.paymentTypeString}}
										</td>
										<td class="aft_td"><label>费用合计</label></td>
										<td class="ng-cloak">{{ordSaleOrderInfoData.totalFeeString}}
										</td>
									</tr>
									<tr>
										<td class="aft_td"><label>货品</label></td>
										<td class="ng-cloak">{{ordSaleOrderInfoData.products}}</td>
										<td class="aft_td"><label>件数</label></td>
										<td class="ng-cloak">{{ordSaleOrderInfoData.count}}</td>
										<td class="aft_td"><label>体积</label></td>
										<td class="ng-cloak">{{ordSaleOrderInfoData.volume}}</td>
										<td class="aft_td"><label>重量</label></td>
										<td class="ng-cloak">{{ordSaleOrderInfoData.weight}}</td>
									</tr>
									<tr>
										<td class="aft_td"><label>目的区域</label></td>
										<td colspan="3" class="ng-cloak">{{ordSaleOrderInfoData.descRegionString}}
										</td>
										<td class="aft_td"><label>运单备注</label></td>
										<td colspan="3" class="ng-cloak" >
											<input type="text" readOnly ng-model="ordSaleOrderInfoData.remarks" title="ordSaleOrderInfoData.remarks" style="font-size:12px; font-family:宋体; border:0; background:#fff">
										</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td width="100"><label class="control-label"><em>*</em>售后状态：</label></td>
							<td width="23%">
								<div class="search_select">
									<my-select id="query.salesState" has-all="" default-value="" disabled="ng-disabled='isSales == 1'"
										code-type="SALES_STATE" />
								</div>
							</td>
							<td width="100"></td>
						</tr>
						<tr>
							<td width="100"><label class="control-label"><em>*</em>下次跟踪时间：</label></td>
							<td width="23%"><input
								my-Date-Picker='{"minDate":"","maxDate":"","dateFmt":"yyyy-MM-dd HH:mm:ss"}'
								ng-model="query.trackDate" id="trackDate" readonly="readonly" ng-disabled='isSales == 1'
								class="input_box" type="text"></td>
							<td width="100"></td>
						</tr>
						<tr>
							<td width="100"><label class="control-label"><em>*</em>售后类型：</label></td>
							<td width="23%">
								<div class="search_select">
									<my-select id="query.salesType" has-all="" default-value="" disabled="ng-disabled='isSales == 1'"
										code-type="SALES_TYPE" url-param='' />
								</div>
							</td>
							<td width="100"></td>
						</tr>
						<tr>
							<td width="100">
							</td>
							<td width="23%">
							</td>
							<td width="100"></td>
						</tr>
						<tr>
							<td width="100"><label class="control-label">承担方1：</label></td>
							<td width="23%">
								<input class="input_box" type="hidden" ng-model="query.bearPartyOneId" /> 
								<input id="_goodsName0" maxlength="99" type="text" class="input_box" ng-disabled='isSales==1'
								ng-model="query.bearPartyOneName"
								ng-focus="showOrHideGoodsNameSelect(0, 1,2);"
								ng-blur="showOrHideGoodsNameSelect(0, 0,0);" />
								<div class="list_xl ng-cloak"
									style="margin-left: 1px; margin-top: 6px; height: 220px; width: 280px;"
									ng-show="showGoodsName0">
									<h2>请选择承担方</h2>
									<i class="list_xl_icon icon"><a class="gone"
										href="javascript:void(0)"
										ng-click="showOrHideGoodsNameSelect(0, 0,0);"></a></i>
									<div class="list_xl_tbody">
										<table width="100%" border="0" cellspacing="0" cellpadding="0">
											<tbody>
												<tr ng-repeat="obj in commonGoodsName"
													ng-click="selectGoodsName(0,obj)">
													<td class="ng-cloak"
														style="width: 100%; border-right: 0px;">{{obj.name}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div></td>
							<td width="100"><label class="control-label">金额1：</label></td>
							<td width="23%"><input class="input_box" maxlength="10" my-Double-Val="keyup"
								ng-disabled="isSales==1" ng-model="query.bearPartyOneMoney"
								type="text"></td>
							<td width="100"></td>
							<td width="23%"></td>
						</tr>
						<tr>
							<td width="100"><label class="control-label">承担方2：</label></td>
							<td width="23%"><input class="input_box" type="hidden" ng-model="query.bearPartyTwoId" /> <input id="_goodsName1"
								maxlength="99" type="text" class="input_box" ng-disabled='isSales==1' 
								ng-model="query.bearPartyTwoName"
								ng-focus="showOrHideGoodsNameSelect(1, 1,2);"
								ng-blur="showOrHideGoodsNameSelect(1, 0,0);" />
								<div class="list_xl ng-cloak"
									style="margin-left: 1px; margin-top: 6px; height: 220px; width: 280px;"
									ng-show="showGoodsName1">
									<h2>请选择承担方</h2>
									<i class="list_xl_icon icon"><a class="gone"
										href="javascript:void(0)"
										ng-click="showOrHideGoodsNameSelect(1, 0,0);"></a></i>
									<div class="list_xl_tbody">
										<table width="100%" border="0" cellspacing="0" cellpadding="0">
											<tbody>
												<tr ng-repeat="obj in commonGoodsName"
													ng-click="selectGoodsName(1,obj);">
													<td class="ng-cloak"
														style="width: 100%; border-right: 0px;">{{obj.name}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div></td>
							<td width="100"><label class="control-label">金额2：</label></td>
							<td width="23%"><input class="input_box"  maxlength="10" my-Double-Val="keyup"
								ng-disabled="isSales == 1" ng-model="query.bearPartyTwoMoney"
								type="text"></td>
							<td width="100"></td>
							<td width="23%"></td>
						</tr>
						<tr>
							<td width="100"><label class="control-label">承担方3：</label></td>
							<td width="23%"><input class="input_box" type="hidden" ng-model="query.bearPartyThreeId" /> <input id="_goodsName2"
								maxlength="99" type="text" class="input_box" ng-disabled='isSales==1'
								ng-model="query.bearPartyThreeName"
								ng-focus="showOrHideGoodsNameSelect(2, 1,1);"
								ng-blur="showOrHideGoodsNameSelect(2, 0,0);" />
								<div class="list_xl ng-cloak"
									style="margin-left: 1px; margin-top: 6px; height: 220px; width: 280px;"
									ng-show="showGoodsName2">
									<h2>请选择承担方</h2>
									<i class="list_xl_icon icon"><a class="gone"
										href="javascript:void(0)"
										ng-click="showOrHideGoodsNameSelect(2, 0,0);"></a></i>
									<div class="list_xl_tbody">
										<table width="100%" border="0" cellspacing="0" cellpadding="0">
											<tbody>
												<tr ng-repeat="obj in commonGoodsName"
													ng-click="selectGoodsName(2,obj);">
													<td class="ng-cloak"
														style="width: 100%; border-right: 0px;">{{obj.name}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div></td>
							<td width="100"><label class="control-label">金额3：</label></td>
							<td width="23%"><input class="input_box" maxlength="10" my-Double-Val="keyup"
								ng-disabled="isSales == 1" ng-model="query.bearPartyThreeMoney"
								type="text"></td>
							<td width="100"></td>
							<td width="23%"></td>
						</tr>

						<tr>
							<td valign="top"><label class="control-label">售后跟踪备注：</label></td>
							<td colspan="5"><textarea maxlength="255"
									ng-disabled="isSales == 1" ng-model="query.trackRemark"
									style="height: 90px; width: 100%; border: 1px solid #A1BBD1; border-radius: 5px; padding: 3px 4px;"
									ng-model="newData.carOwnerVisitLog"
									class="form-control ng-pristine ng-valid ng-valid-maxlength ng-touched"></textarea>
							</td>
						</tr>
					</tbody>
				</table>
			</div>


			<div class="search" style="margin: 0 35px;">
				<table width="100%" border="0" cellspacing="0" cellpadding="0"
					class="search_table  tx_tc_table dhl_r">
					<tbody>
						<tr>
							<td width="100"><label class="control-label w_100">上传图片：</label></td>
							<td colspan="5"><ul class="dd_cx clearfix">
									<li><span my-File-Model="exceImage1" is-Close="true"></span></li>
									<li><span my-File-Model="exceImage2" is-Close="true"></span></li>
									<li><span my-File-Model="exceImage3" is-Close="true"></span></li>
									<li><span my-File-Model="exceImage4" is-Close="true"></span></li>
									<li><span my-File-Model="exceImage5" is-Close="true"></span></li>
								</ul></td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- <div class="search" style="margin: 0 35px;">
				<div
					ng-show="isHide&&(userData.userType==userTypeData.MASTER_PARTNERS||userData.userType==userTypeData.CHAIN)"
					class="bottom_nav1 "
					style="text-align: left; margin: 20px 0 0 100px; width: auto; padding: 0">
					<a href="javascript:void(0)" ng-click="showTask(1);" class="hover">生成维修任务</a>
					<a href="javascript:void(0)" ng-click="hideTask(1)" class="">取消维修任务</a>
				</div>
			</div>
			点击显示 开始
			<div ng-show="isTaskShowRepair" style="margin-top: 20px;" ng-if="isSales == null || isSales == '' || isSales == undefined">
				<table width="100%" border="0" cellspacing="0" cellpadding="0"
					class="search_table tx_tc_table dhl_r" style="padding-top: 0;">
					<tbody>
						<tr>
							<td width="100"><label class="control-label">维修类别：</label></td>
							<td width="200">
								<div class="search_select">
									<my-select id="query.maintainType" has-all="" default-value=""
										code-type="SCHE_VALUE_SERVICE_ATTR" url-param='' />
								</div>
							</td>
							<td width="100"><label class="control-label">师傅账号：</label></td>
							<td width="200"><input 
								ng-blur="querySf(1);" class="input_box" ng-model="query.sfPhone"
								maxlength="20" type="text"></td>
							<td width="100"><label class="control-label">师傅：</label></td>
							<td width="200"><input class="input_box" disabled="disabled"
								ng-model="query.sfName" maxlength="20" type="text"></td>
							<td><a class="search_ydcx" ng-click="querySfOrService(1);"
								href="javascript:void(0);">找师傅</a></td>

						</tr>
						<tr>
							<td width="100"><label class="control-label">维修费：</label></td>
							<td><input class="input_box" ng-model="query.repairFee"
								 type="text"></td>

							<td><label class="control-label">上门地址：</label></td>
							<td colspan="4"><input class="input_box" disabled="disabled"
								value="{{showData.ordOrderInfo.destProvinceName}}{{showData.ordOrderInfo.destCityName}}{{showData.ordOrderInfo.destCountyName}}{{showData.ordOrderInfo.destStreetName}}{{showData.ordOrderInfo.address}}"
								type="text"></td>

						</tr>


						<tr>
							<td width="100" valign="top"><label class="control-label">任务备注：</label></td>
							<td colspan="5"><textarea maxlength="500"
									 ng-model="query.remark"
									style="height: 90px; width: 100%; border: 1px solid #A1BBD1; border-radius: 5px; padding: 3px 4px;"
									ng-model="newData.carOwnerVisitLog"
									class="form-control ng-pristine ng-valid ng-valid-maxlength ng-touched"></textarea>
							</td>
							<td></td>
						</tr>

					</tbody>
				</table>
			</div> -->
			<!-- 售后跟踪日志 开始 -->
			<div class="waybill_title">
				<h2 class="title_h2">
					<i class="icon title_icon fl"></i>售后跟踪日志
				</h2>
			</div>
			<div class="mkae" style="position: relative; overflow: auto;">
				<table width="100%" cellspacing="0" cellpadding="0" border="0" class="search_list yc_message_list dhl_uy" style="width: 100%;">
					<thead>
						<tr>
							<th width="80">跟踪人</th>
							<th width="100">跟踪时间</th>
							<th width="100">售后类型</th>
							<th width="120">下次跟踪时间</th>
							<th width="100">承担方1</th>
							<th width="90">金额1</th>
							<th width="90">承担方2</th>
							<th width="90">金额2</th>
							<th width="90">承担方3</th>
							<th width="90">金额3</th>
							<th width="200">售后备注</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-show="ordSales.length==0 || ordSales == null">
							<th width="80"></th>
							<th width="100"></th>
							<th width="100"></th>
							<th width="120"></th>
							<th width="100"></th>
							<th width="90"></th>
							<th width="90"></th>
							<th width="90"></th>
							<th width="90"></th>
							<th width="90"></th>
							<th width="200"></th>
						</tr>
						<tr ng-repeat="o in ordSales" >
							<td width="80">{{o.creater}}</td>
							<td width="100">{{o.opDateString}}</td>
							<td width="100">{{o.salesTypeString}}</td>
							<td width="120">{{o.trackDateString}}</td>
							<td width="100">{{o.bearPartyOneIdName}}</td>
							<td width="90">{{o.bearPartyOneMoneyString}}</td>
							<td width="90">{{o.bearPartyTwoIdName}}</td>
							<td width="90">{{o.bearPartyTwoMoneyString}}</td>
							<td width="90">{{o.bearPartyThreeIdName}}</td>
							<td width="90">{{o.bearPartyThreeMoneyString}}</td>
							<td width="200" title="{{o.trackRemark}}">
								<!-- <input type="text" readOnly ng-model="o.trackRemark" title="o.trackRemark" style="font-size:12px; font-family:宋体; border:0; background:#fff"> -->
								{{o.trackRemark}}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- 售后跟踪日志 结束 -->
			<!-- 维修任务信息 开始 -->
			<!-- <div class="waybill_title">
				<h2 class="title_h2">
					<i class="icon title_icon fl"></i>维修任务信息
				</h2>
			</div>
			<div class="mkae" style="position: relative; overflow: auto;">
				<table width="100%" cellspacing="0" cellpadding="0" border="0" class="search_list yc_message_list">
					<thead>
						<tr>
							<th width="10%">维修任务编号</th>
							<th width="10%">维修类型</th>
							<th width="10%">维修费用</th>
							<th width="10%">维修师傅</th>
							<th width="10%">师傅帐号</th>
							<th width="10%">接单时间</th>
							<th width="10%">预约时间</th>
							<th width="10%">预约上门时间</th>
							<th width="10%">签收时间</th>
							<th width="10%">任务备注</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-show="fixSales.length==0 || fixSales==null">
							<td width="10%"></td>
							<td width="10%"></td>
							<td width="10%"></td>
							<td width="10%"></td>
							<td width="10%"></td>
							<td width="10%"></td>
							<td width="10%"></td>
							<td width="10%"></td>
							<td width="10%"></td>
							<td width="10%"></td>
						</tr>
						<tr ng-repeat="o in fixSales">
							<td width="10%"></td>
							<td width="10%">{{o.repairTypeString}}</td>
							<td width="10%">{{o.repairFeeString}}</td>
							<td width="10%">{{o.doObjName}}</td>
							<td width="10%">{{o.doTel}}</td>
							<td width="10%">{{o.acceptTimeString}}</td>
							<td width="10%">{{o.upFixTimeString}}</td>
							<td width="10%">{{o.yyTimeString}}</td>
							<td width="10%">{{o.signTimeString}}</td>
							<td width="10%">{{o.remark}}</td>
						</tr>
					</tbody>
				</table>
			</div> -->
			<!-- 售后跟踪日志 结束 -->
			<div class="tx_tc_button" style="margin: 20px 0" >
				<a class="search_button_ss" ng-click="doSave();" href="javascript:void(0);" ng-if="!(isSales == 1)">保存</a> 
				<a class="search_button_cz" href="javascript:void(0);" ng-click="close();" ng-if="!(isSales == 1)">取消</a>
			</div>
		</div>
	</div>
	<!--查找运单 开始 -->
	<div id="exc_1" class="ng-hide" ng-show="isCheckTrackingNum" 
		style="position: fixed; top: 20px; left: 50%; width: 850px; height: 600px; margin-left: -440px; z-index: 99996;">
		<a class="tc_x" href="javascript:void(0)" ng-click="closeView();">x</a>

		<div class="billing_1 clearfix pb_20" style="margin: 0 !important">

			<table width="100%" border="0" cellspacing="0" cellpadding="0"
				class="search_table search_term dhl_qkd kz_fx">
				<tbody>
					<tr>
						<td width="110"><label class="term_label">运单号：</label></td>
						<td><input ng-model="form.trackingNum" class="form_term"
							type="text" maxlength="22"></td>
						<td width="90"><label class="term_label">发货方：</label></td>
						<td><input ng-model="form.consignorName" class="form_term"
							type="text" maxlength="22"></td>
						<td width="90"><label class="term_label">发货人：</label></td>
						<td><input ng-model="form.consignorLinkmanName"
							class="form_term" type="text" maxlength="22"></td>

						<td rowspan="3">
							<div class="bottom_search search_button"
								style="position: inherit;">
								<a ng-click="doQueryOrd();" href="javascript:void(0);">查询</a><a
									class="qink" href="javascript:void(0);"
									ng-click="clearModel();">清空</a>
							</div>
						</td>
					</tr>
					<tr>
						<td><label class="term_label">发货人手机：</label></td>
						<td><input ng-model="form.consignorBill" class="form_term"
							type="text" maxlength="22"></td>
						<td><label class="term_label">中转单号：</label></td>
						<td><input ng-model="form.outgoingTrackingNum"
							class="form_term" type="text" maxlength="22"></td>
						<td><label class="term_label">收货方：</label></td>
						<td><input ng-model="form.consigneeName" class="form_term"
							type="text" maxlength="22"></td>
					</tr>
					<tr>
						<td><label class="term_label">收货人：</label></td>
						<td><input ng-model="form.consigneeLinkmanName"
							class="form_term" type="text" maxlength="22"></td>
						<td><label class="term_label">收货人手机：</label></td>
						<td><input ng-model="form.consigneeBill" class="form_term"
							type="text" maxlength="22"></td>
					</tr>
				</tbody>
			</table>
			<div class="bottom_nav pb_20 bottom_nav_search clearfix">
				<h2>
					查询结果--
					<!-- <span class="f14">双击查看详情</span> -->
				</h2>
				<a ng-click="selectOrder()" href="javascript:void(0);">确定</a>
			</div>
			<div class="kz_fx_list">
				<my-Adv-Table width="2512px" isautohide="false" doubleclick=""
					name="orderInfo" isShowSeq="false" isMultiSelect="false"
					isShowCheck="true" isFilter="true" isSum="false" id="trackingNum"
					head='[
	                           {"name":"运单号","code":"trackingNum","width":"100"}
	                           ,{"name":"受理日期","code":"createDateString","width":"100"}
	                           ,{"name":"件数","code":"count","isSum":"true","width":"60"}
	                           ,{"name":"品名","code":"products","width":"80"}
	                           ,{"name":"发货方","code":"consignorName","width":"100"}
	                           ,{"name":"发货方电话","code":"consignorTelephone","width":"100"}
	                           ,{"name":"发货人","code":"consignorLinkmanName","width":"100"}
	                           ,{"name":"发货人手机","code":"consignorBill","width":"100"}
	                           ,{"name":"收货方","code":"consigneeName","width":"100"}
	                           ,{"name":"收货方电话","code":"consigneeTelephone","width":"100"}
	                           ,{"name":"收货人","code":"consigneeLinkmanName","width":"100"}
	                           ,{"name":"收货人手机","code":"consigneeBill","width":"100"}
	                           ,{"name":"状态","code":"orderStateName","width":"100"}
	                           ,{"name":"受理网点","code":"orgIdName","width":"100"}
	                           ,{"name":"到站","code":"distributionOrgName","width":"100"}
	                           ,{"name":"收货地址","code":"address","width":"180"}
	                           ,{"name":"付款方式","code":"paymentTypeName","width":"80"}
	                           ,{"name":"承运公司","code":"carrierCompanyName","width":"100"}
	                           ,{"name":"外发单号","code":"outgoingTrackingNum","width":"100"}
	                           ,{"name":"外发费","code":"outgoingFee","width":"100","isSum":"true","number":"2"} 
	                           ,{"name":"本地联系人","code":"linkerName","width":"100"} 
	                           ,{"name":"联系电话","code":"linkerPhone","width":"100"} 
	                           ,{"name":"提货电话","code":"deliveryPhone","width":"100"} 
	                           ,{"name":"提货地址","code":"deliveryAddress","width":"100"} 
	                           ]'>
				</my-Adv-Table>
			</div>
		</div>
	</div>
	<!--找师傅 开始 -->
	<div id="exc_2" class="ng-hide" ng-show="isSfSelect"
		style="position: fixed; top: 50%; left: 50%; width: 850px; height: 600px; margin-left: -440px; margin-top: -307px; z-index: 99996;">
		<a class="tc_x" href="javascript:void(0)"
			onclick="document.getElementById('exc_2').style.display='none';document.getElementById('alertMsgIsShow').style.display='none';document.getElementById('sfName').value='';document.getElementById('phone').value=''">x</a>

		<div class="billing_1 clearfix pb_20" style="margin: 0 !important">

			<table width="100%" border="0" cellspacing="0" cellpadding="0"
				class="search_table search_term dhl_qkd kz_fx">
				<tbody>
					<tr>
						<td><label class="control-label">师傅名称：</label></td>
						<td><input class="input_box" id="sfName"
							ng-model="params.sfUserName" type="text" /></td>
						<td width="100"><label class="control-label w_100">师傅账号：</label></td>
						<td><input class="input_box" ng-model="params.sfUserAcct"
							id="phone" type="text" /></td>
						<td rowspan="3">
							<!-- <div class="bottom_search search_button" style="position:inherit;"><a ng-click="querySfOrService();" ng-Enter href="javascript:void(0);">查询</a></div> -->
							<div class="bottom_search search_button"
								style="position: inherit;">
								<a ng-click="querySfOrService();" href="javascript:void(0);">查询</a>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="bottom_nav pb_20 bottom_nav_search clearfix">
				<h2>
					查询结果--
					<!-- <span class="f14">双击查看详情</span> -->
				</h2>
				<a ng-click="selectSf();" href="javascript:void(0);">确定</a>
			</div>
			<div class="kz_fx_list">
				<my-Adv-Table isShowSeq="false" width="1200px" isMultiSelect="false"
					isShowCheck="true" doubleclick="toDetailAllInfo" isFilter="true"
					isSum="true" id="sfUserId"
					head='[
			                {"name":"省","code":"provinceName","width":"80"},{"name":"市","code":"cityName","width":"100"},{"name":"师傅名称","code":"name","width":"80"},
			                {"name":"师傅账号","code":"phone","width":"100"},{"name":"收款方式","code":"receiTypeName","width":"80"},{"name":"卡名","code":"bankName","width":"80"},
			                {"name":"账户名","code":"accountName","width":"90"},{"name":"账号/卡号","code":"bankAccount","width":"90"},
			                {"name":"认证状态","code":"auditStateName","width":"80"},
			                {"name":"合作方式","code":"cooperationTypeName","width":"80"}]'>
				</my-Adv-Table>
			</div>
		</div>
	</div>
	<!--找师傅 结束 -->
	<!--服务商 开始 -->
	<div id="master" ng-show = "isCheckMaster" class="ng-hide"
		style="position: fixed; top: 50%; left: 50%; width: 850px; height: 600px; margin-left: -440px; margin-top: -307px; z-index: 99996;">
		<a class="tc_x" href="javascript:void(0)" ng-click="closeMaster();">x</a>

		<div class="billing_1 clearfix pb_20" style="margin: 0 !important">

			<table width="100%" border="0" cellspacing="0" cellpadding="0"
				class="search_table search_term dhl_qkd kz_fx">
				<tbody>
					<tr>
						<td width="100"><label class="term_label">合作商名称：</label></td>
						<td><input class="form_term" ng-model="user.name" /></td>
						<td width="100"><label class="term_label">联系人：</label></td>
						<td><input class="form_term" ng-model="user.linkMan" /></td>
						<td width="100"><label class="term_label">联系电话：</label></td>
						<td><input class="form_term" ng-model="user.linkPhone"
							maxlength="11" /></td>
						<td rowspan="2">
							<div class="bottom_search search_button"
								style="position: inherit;">
								<a ng-click="doQueryMaster();" href="javascript:void(0);">查询</a>
								<a class="qink" href="javascript:void(0);" ng-click="clear();">清空</a>

							</div>
						</td>
					</tr>
					<tr>
						<td width="100"><label class="term_label">主营业务：</label></td>
						<td><input class="form_term" ng-model="user.busiNotes" /></td>
						<td width="100"><label class="term_label">省份：</label></td>
						<td>
							<div class="form_select">
								<select class="ng-cloak"
									ng-change="selectCity(user.provinceId);"
									ng-model="user.provinceId"
									ng-options="obj.id as obj.name for  obj in provinceData.items ">
								</select>
							</div>
						</td>
						<td width="100"><label class="term_label">城市：</label></td>
						<td><div class="form_select">
								<select class="ng-cloak" ng-model="user.regionId"
									ng-options="obj.id as obj.name for  obj in cityData.items ">
								</select>
							</div></td>
					</tr>
				</tbody>
			</table>
			<div class="bottom_nav pb_20 bottom_nav_search clearfix">
				<h2>
					查询结果--
					<!-- <span class="f14">双击查看详情</span>-->
				</h2>
				<a ng-click="selectMaster();" href="javascript:void(0);">确定</a>
			</div>
			<div class="kz_fx_list">
				<my-Adv-Table isShowSeq="false" isMultiSelect="false"
					isShowCheck=true isFilter="false" width="100%" isSum="false"
					id="tenantId" name="masterInfo"
					head='[
                {"name":"师傅合作商编码","code":"tenantCode","width":"15%"},
                {"name":"师傅合作商名称","code":"name","width":"15%"},
                {"name":"服务城市","code":"address","width":"15%"},
                {"name":"联系人","code":"linkMan","width":"15%"},
                {"name":"联系电话","code":"linkPhone","width":"15%"},
                {"name":"主营业务","code":"busiNotes","width":"19%"}
                ]'>
				</my-Adv-Table>
			</div>
		</div>
	</div>
	<!--服务商 结束 -->
	<div id="alertMsgIsShow" class="ng-hide popup_bj" ng-show="isAlertMsgIsShow"
		style="z-index: 99995"></div>
	<!--查找运单 结束 -->
	<!--[if !IE]> -->
	<script src='../../js/angular/angular.min.js'></script>
	<!-- <![endif]-->
	<!--[if lte IE 8 ]>
			<script src='../../js/angular-1.2.19/angular.min.js'></script>
		<![endif]-->
	<!--[if !lte IE 8 ]>
			<script src='../../js/angular/angular.min.js'></script>
		<![endif]-->
	<script type="text/javascript" src="../../js/md5.js"></script>
	<script type="text/javascript" src="../../js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="../../js/common.js?v=${ver}"></script>
	<script type="text/javascript" src="../../js/base64.js?v=${ver}"></script>
	<script type="text/javascript"
		src="../../js/jquery.hotkeys.js?v=${ver}"></script>
	<script type="text/javascript"
		src="../../js/My97DatePicker/WdatePicker.js?v=${ver}"></script>
	<script type="text/javascript" src="afterSaleAddCtrl.js?v=${ver}"></script>
</body>
</html>

