<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html ng-app="addDepartApp" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>新增配载</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="../css/$tenantId$/icon.css?v=${ver}">
	<link rel="stylesheet" type="text/css" href="../css/$tenantId$/public.css?v=${ver}">
	<link rel="stylesheet" type="text/css" href="../css/$tenantId$/head.css?v=${ver}">
	<link rel="stylesheet" type="text/css" href="../css/$tenantId$/leftboxcs.css?v=${ver}">
	<link rel="stylesheet" type="text/css" href="../css/$tenantId$/master_open.css?v=${ver}">
	<link rel="stylesheet" type="text/css" href="../css/$tenantId$/master.css?v=${ver}">
	<style type="text/css">
		.list_xl .list_xl_tbody td {
		    line-height: 34px;
		    border-bottom: 1px dotted #dfdedf;
		    color: #333;
		    text-align:center;
		    text-indent:0em;
		    white-space: nowrap;}
		.list_dhl .list_xl_thead th{text-indent:0;text-align:center;}
		.dhl_hd td{padding-bottom: 10px;}
		[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate) {
    		display: none !important;
		}
		.wdcy_input .form_term{width: 120px!important;}
		.mt0{margin-top: 1px!important;}
	</style>
</head>
<body ng-controller="addDepartCtrl" onload="setContentHegthDelay()" style="overflow: hidden;">
	<div class="billing_1 clearfix mt_20" style="border: 0;padding-bottom: 15px!important;">
		<div id="add_id1"  style="display: block;">
		<table width="100%" border="0" cellspacing="0" cellpadding="0" class="search_table search_term" style="padding: 20px 0 8px !important;">
				<tbody>
					<tr>
						<td width="100"><label class="term_label">扫描运单号：</label></td>
						<td  width="130"><input class="form_term ng-pristine ng-untouched ng-valid ng-valid-maxlength" style="width: 130px;" id="_trackingNum" ng-disabled="all" ng-model="trackingNum" type="text" ng-keypress="setTrackingNum(($event));">
						</td>
						<td width="80"><label class="term_label" style="width: 80px;">开单时间：</label></td>
						<td width="180">
						    <input my-Date-Picker ng-model="query.beginDate" style="width: 80px!important;" id="beginDate" readonly="readonly" class="form_term fl w_xjr"  type="text"><span class="search_span fl">到</span><input style="width: 80px!important;" readonly="readonly" ng-model="query.endDate"  my-Date-Picker id="endDate" class="form_term fl w_xjr" type="text">
						</td>
						<td width="80"><label class="term_label" style="width: 80px;">目的地：</label></td>
						<td  width="120">
								 <span class="wdcy_input" my-city="des"></span>
		                </td>
		                
		                <td width="80"><label class="term_label" style="width: 80px;">配送网点：</label></td>
						<td  width="">
							<div class="form_select" style="width: 140px;">
								<select name="select" class="xl_z ng-pristine ng-valid ng-touched" ng-model="query.descOrgId" ng-disabled="all" ng-options="obj.endOrgId as obj.endOrgName for obj in payDot"></select>
		                	</div>
		                </td>
		                
						<td width="180">
							<div class="xyib fl" style="margin: 0"><a class="button ml_10 xyb" href="javascript:void(0)" ng-click="query()">查询</a></div>
                       		<div class="xyib fl" style="margin: 0 10px 0 10px"><a class="button ml_10 xyb" href="javascript:void(0)" ng-click="next(1)">下一步</a></div>
                       	</td>
						
						
					</tr>
					
				</tbody>
		</table>
			<!-- 新增配载信息 -->
			<div class="added_zzwf clearfix " style="width:auto;margin-top: 15px;">
				<!-- 搜索 -->
				<!-- 左侧 开始-->
				<div class="fl ng-cloak" style="width: 50%">
					<div class="table_height" style="position: relative; border: 1px solid #e1effa; margin: 0 5px 0 10px;overflow: auto;">
						<table class="search_lista" width="100%" border="0" cellspacing="0" cellpadding="0">
							<thead class="fixed-thead">
								<tr>
									<th width="25" style="padding-left: 14px;" class="ng-show" >
										<a  style="cursor: pointer;margin-top: 5px;" class="icon pcar_j" ng-click="onLeftBtClick('all','')"  tips="全部移除数据到右边"></a>
									</th>
									<th width="40">序号</th>
									<th width="100" ng-click="onLeftSortClick('trackingNum')">运单号<i ng-if="leftSortObj['trackingNum']=='+'"  class="list_top_tp"></i><i ng-if="leftSortObj['trackingNum']=='-'"  class="list_top_tpx"></i></th>
									<th width="130" ng-click="onLeftSortClick('consigneeName')">收货人<i ng-if="leftSortObj['consigneeName']=='+'"  class="list_top_tp"></i><i ng-if="leftSortObj['consigneeName']=='-'"  class="list_top_tpx"></i></th>
									<th width="120" ng-click="onLeftSortClick('createDateString')">开单时间<i ng-if="leftSortObj['createDateString']=='+'"  class="list_top_tp"></i><i ng-if="leftSortObj['createDateString']=='-'"  class="list_top_tpx"></i></th>
									<th width="100" ng-click="onLeftSortClick('destCityName')">目的市<i ng-if="leftSortObj['destCityName']=='+'"  class="list_top_tp"></i><i ng-if="leftSortObj['destCityName']=='-'"  class="list_top_tpx"></i></th>
									<th width="100" ng-click="onLeftSortClick('destCityNameAnddestCountyName')">目的区域<i ng-if="leftSortObj['destCityNameAnddestCountyName']=='+'"  class="list_top_tp"></i><i ng-if="leftSortObj['destCityNameAnddestCountyName']=='-'"  class="list_top_tpx"></i></th>
									<th width="100" ng-click="onLeftSortClick('distributionOrgName')">配送网点<i ng-if="leftSortObj['distributionOrgName']=='+'"  class="list_top_tp"></i><i ng-if="leftSortObj['distributionOrgName']=='-'"  class="list_top_tpx"></i></th>
									<th width="100" ng-click="onLeftSortClick('kcOrgName')">库存网点<i ng-if="leftSortObj['kcOrgName']=='+'"  class="list_top_tp"></i><i ng-if="leftSortObj['kcOrgName']=='-'"  class="list_top_tpx"></i></th>
									<th width="100" ng-click="onLeftSortClick('products')">货品名<i ng-if="leftSortObj['products']=='+'"  class="list_top_tp"></i><i ng-if="leftSortObj['products']=='-'"  class="list_top_tpx"></i></th>
									<th width="50" 	ng-click="onLeftSortClick('count')">件数<i ng-if="leftSortObj['count']=='+'"  class="list_top_tp"></i><i ng-if="leftSortObj['count']=='-'"  class="list_top_tpx"></i></th>
									<th width="100" ng-click="onLeftSortClick('volume')">体积<i ng-if="leftSortObj['volume']=='+'"  class="list_top_tp"></i><i ng-if="leftSortObj['volume']=='-'"  class="list_top_tpx"></i></th>
									<th width="100" ng-click="onLeftSortClick('weight')">重量<i ng-if="leftSortObj['weight']=='+'"  class="list_top_tp"></i><i ng-if="leftSortObj['weight']=='-'"  class="list_top_tpx"></i></th>
									<th width="100" ng-click="onLeftSortClick('consigneeBill')">收货人手机<i ng-if="leftSortObj['consigneeBill']=='+'"  class="list_top_tp"></i><i ng-if="leftSortObj['consigneeBill']=='-'"  class="list_top_tpx"></i></th>
									<th width="100" ng-click="onLeftSortClick('address')">收货人地址<i ng-if="leftSortObj['address']=='+'"  class="list_top_tp"></i><i ng-if="leftSortObj['address']=='-'"  class="list_top_tpx"></i></th>
									<th width="100" ng-click="onLeftSortClick('consignorLinkmanName')">发货人<i ng-if="leftSortObj['consignorLinkmanName']=='+'"  class="list_top_tp"></i><i ng-if="leftSortObj['consignorLinkmanName']=='-'"  class="list_top_tpx"></i></th>
									<th width="100" ng-click="onLeftSortClick('consignorTelephone')">发货电话<i ng-if="leftSortObj['consignorTelephone']=='+'"  class="list_top_tp"></i><i ng-if="leftSortObj['consignorTelephone']=='-'"  class="list_top_tpx"></i></th>
									<th width="100" ng-click="onLeftSortClick('totalFeeString')">费用合计<i ng-if="leftSortObj['totalFeeString']=='+'"  class="list_top_tp"></i><i ng-if="leftSortObj['totalFeeString']=='-'"  class="list_top_tpx"></i></th>
									<th width="100" ng-click="onLeftSortClick('freightCollectString')">到付金额<i ng-if="leftSortObj['freightCollectString']=='+'"  class="list_top_tp"></i><i ng-if="leftSortObj['freightCollectString']=='-'"  class="list_top_tpx"></i></th>
									<th width="100" ng-click="onLeftSortClick('collectingMoneyString')">代收货款<i ng-if="leftSortObj['collectingMoneyString']=='+'"  class="list_top_tp"></i><i ng-if="leftSortObj['collectingMoneyString']=='-'"  class="list_top_tpx"></i></th>
									<th width="100" ng-click="onLeftSortClick('installCostsString')">配安费<i ng-if="leftSortObj['installCostsString']=='+'"  class="list_top_tp"></i><i ng-if="leftSortObj['installCostsString']=='-'"  class="list_top_tpx"></i></th>
									<th width="100" ng-click="onLeftSortClick('deliveryTypeName')">交接方式<i ng-if="leftSortObj['deliveryTypeName']=='+'"  class="list_top_tp"></i><i ng-if="leftSortObj['deliveryTypeName']=='-'"  class="list_top_tpx"></i></th>
									<th width="100" ng-click="onLeftSortClick('serviceTypeName')">服务方式<i ng-if="leftSortObj['serviceTypeName']=='+'"  class="list_top_tp"></i><i ng-if="leftSortObj['serviceTypeName']=='-'"  class="list_top_tpx"></i></th>
									<th width="100" ng-click="onLeftSortClick('receiptNum')">回单号<i ng-if="leftSortObj['receiptNum']=='+'"  class="list_top_tp"></i><i ng-if="leftSortObj['receiptNum']=='-'"  class="list_top_tpx"></i></th>
									<th width="100" ng-click="onLeftSortClick('receiptCount')">回单份数<i ng-if="leftSortObj['receiptCount']=='+'"  class="list_top_tp"></i><i ng-if="leftSortObj['receiptCount']=='-'"  class="list_top_tpx"></i></th>
									<th width="100" ng-click="onLeftSortClick('remarks')">备注<i ng-if="leftSortObj['remarks']=='+'"  class="list_top_tp"></i><i ng-if="leftSortObj['remarks']=='-'"  class="list_top_tpx"></i></th>
									
								</tr>
								<tr>
									<th></th>
									<th></th>
									<th><input value=""  class="inp_sr mt0"  ng-click="scrollTopTable()" type="text" ng-model="filterInput.trackingNum" ng-change="onLeftInputChange('trackingNum')"></th>
									<th><input value=""  class="inp_sr mt0"  ng-click="scrollTopTable()" type="text" ng-model="filterInput.consigneeName" ng-change="onLeftInputChange('consigneeName')"></th>
									<th><input value=""  class="inp_sr mt0"  ng-click="scrollTopTable()" type="text" ng-model="filterInput.createDateString" ng-change="onLeftInputChange('createDateString')"></th>
									<th><input value=""  class="inp_sr mt0"  ng-click="scrollTopTable()" type="text" ng-model="filterInput.destCityName" ng-change="onLeftInputChange('destCityName')"></th>
									<th><input value=""  class="inp_sr mt0"  ng-click="scrollTopTable()" type="text" ng-model="filterInput.destCityNameAnddestCountyName"  ng-change="onLeftInputChange('destCityNameAnddestCountyName')"></th>
									<th><input value=""  class="inp_sr mt0"  ng-click="scrollTopTable()" type="text" ng-model="filterInput.distributionOrgName"  ng-change="onLeftInputChange('distributionOrgName')"></th>
									<th><input value=""  class="inp_sr mt0"  ng-click="scrollTopTable()" type="text" ng-model="filterInput.kcOrgName"  ng-change="onLeftInputChange('kcOrgName')"></th>
									<th><input value=""  class="inp_sr mt0"  ng-click="scrollTopTable()" type="text" ng-model="filterInput.products"  ng-change="onLeftInputChange('products')"></th>
									<th><input value=""  class="inp_sr mt0"  ng-click="scrollTopTable()" type="text" ng-model="filterInput.count"  ng-change="onLeftInputChange('count')"></th>
									<th><input value=""  class="inp_sr mt0"  ng-click="scrollTopTable()" type="text" ng-model="filterInput.volume"  ng-change="onLeftInputChange('volume')"></th>
									<th><input value=""  class="inp_sr mt0"  ng-click="scrollTopTable()" type="text" ng-model="filterInput.weight"  ng-change="onLeftInputChange('weight')"></th>
									<th><input value=""  class="inp_sr mt0"  ng-click="scrollTopTable()" type="text" ng-model="filterInput.consigneeBill"  ng-change="onLeftInputChange('consigneeBill')"></th>
									<th><input value=""  class="inp_sr mt0"  ng-click="scrollTopTable()" type="text" ng-model="filterInput.address"  ng-change="onLeftInputChange('address')"></th>
									<th><input value=""  class="inp_sr mt0"  ng-click="scrollTopTable()" type="text" ng-model="filterInput.consignorLinkmanName"  ng-change="onLeftInputChange('consignorLinkmanName')"></th>
									<th><input value=""  class="inp_sr mt0"  ng-click="scrollTopTable()"  type="text" ng-model="filterInput.consignorTelephone"  ng-change="onLeftInputChange('consignorTelephone')"></th>
									<th><input value=""  class="inp_sr mt0"  ng-click="scrollTopTable()" type="text" ng-model="filterInput.totalFeeString"  ng-change="onLeftInputChange('totalFeeString')"></th>
									<th><input value=""  class="inp_sr mt0"  ng-click="scrollTopTable()" type="text" ng-model="filterInput.freightCollectString"  ng-change="onLeftInputChange('freightCollectString')"></th>
									<th><input value=""  class="inp_sr mt0"  ng-click="scrollTopTable()" type="text" ng-model="filterInput.collectingMoneyString"  ng-change="onLeftInputChange('collectingMoneyString')"></th>
									<th><input value=""  class="inp_sr mt0"  ng-click="scrollTopTable()" type="text" ng-model="filterInput.installCostsString"  ng-change="onLeftInputChange('installCostsString')"></th>
									<th><input value=""  class="inp_sr mt0"  ng-click="scrollTopTable()" type="text" ng-model="filterInput.deliveryTypeName"  ng-change="onLeftInputChange('deliveryTypeName')"></th>
									<th><input value=""  class="inp_sr mt0"  ng-click="scrollTopTable()" type="text" ng-model="filterInput.serviceTypeName"  ng-change="onLeftInputChange('serviceTypeName')"></th>
									<th><input value=""  class="inp_sr mt0"  ng-click="scrollTopTable()" type="text" ng-model="filterInput.receiptNum"  ng-change="onLeftInputChange('receiptNum')"></th>
									<th><input value=""  class="inp_sr mt0"  ng-click="scrollTopTable()" type="text" ng-model="filterInput.receiptCount"  ng-change="onLeftInputChange('receiptCount')"></th>
									<th><input value=""  class="inp_sr mt0"  ng-click="scrollTopTable()" type="text" ng-model="filterInput.remarks"  ng-change="onLeftInputChange('remarks')"></th>
								</tr>
							</thead>
							<tbody class="fixed-tbody m_true" style="margin-top: 49px;">
								
								<tr ng-repeat=" vl in matchList track by vl.trackingNum" ng-dblclick="onLeftBtClick('',vl.trackingNum)">
									<td width="25" style="padding-left: 14px;">
										<a ng-click="onLeftBtClick('',vl.trackingNum)" style="cursor: pointer;margin-top: 3px;" class="icon pcar_j"  tips="移除数据到右边"></a>
									</td>
									<td width="40">{{$index+1}}</td>
									<td width="100">{{vl.trackingNum}}</td>
									<td width="130">{{vl.consigneeName}}</td>
									<td width="120">{{vl.createDateString}}</td>
									<td width="100">{{vl.destCityName}}</td>
									<td width="100">{{vl.destCityNameAnddestCountyName}}</td>
									<td width="100">{{vl.distributionOrgName}}</td>
									<td width="100">{{vl.kcOrgName}}</td>
									<td width="100">{{vl.products}}</td>
									<td width="50">{{vl.count}}</td>
									<td width="100">{{vl.volume | number:2}}</td>
									<td width="100">{{vl.weight | number :2}}</td>
									<td width="100">{{vl.consigneeBill}}</td>
									<td width="100">{{vl.address}}</td>
									<td width="100">{{vl.consignorLinkmanName}}</td>
									<td width="100">{{vl.consignorTelephone}}</td>
									<td width="100">{{vl.totalFeeString}}</td>
									<td width="100">{{vl.freightCollectString}}</td>
									<td width="100">{{vl.collectingMoneyString}}</td>
									<td width="100">{{vl.installCostsString}}</td>
									<td width="100">{{vl.deliveryTypeName}}</td>
									<td width="100">{{vl.serviceTypeName}}</td>
									<td width="100">{{vl.receiptNum}}</td>
									<td width="100">{{vl.receiptCount}}</td>
									<td width="100">{{vl.remarks}}</td>
								</tr>
							</tbody>
							<tfoot class="fixed-tfoot tfoot">
							<tr >
								<td  width="25" style="padding-left: 14px;"></td>
								<td  width="40"></td>
								<td  width="100"></td>
								<td width="130"></td>
								<td  width="120"></td>
								<td width="100"></td>
								<td  width="100"></td>
								<td width="100"></td>
								<td width="100"></td>
								<td width="100"></td>
								<td width="50">{{leftSum.count}}</td>
								<td width="100">{{leftSum.volume | number:2}}</td>
								<td width="100">{{leftSum.weight | number:2}}</td>
								<td width="100"></td>
								<td width="100"></td>
								<td width="100"></td>
								<td width="100"></td>
								<td width="100">{{leftSum.totalFee | number:2}}</td>
								<td width="100">{{leftSum.freightCollect | number:2}}</td>
								<td width="100">{{leftSum.collectingMoney | number:2}}</td>
								<td width="100">{{leftSum.installCosts | number:2}}</td>
								<td width="100"></td>
								<td width="100"></td>
								<td width="100"></td>
								<td width="100"></td>
								<td width="100"></td>
							</tr>
							 </tfoot>
						</table>
						
		           </div>

				</div>
				<!-- 左侧 结束 -->
			
				<!-- 右侧 开始-->
				<div class="fl ng-cloak" style="width: 50%">
					<div  class="table_height" style="position: relative; border: 1px solid #e1effa; margin: 0 10px 0 5px; overflow: auto;">
						
					<table class="search_lista" width="100%" border="0" cellspacing="0" cellpadding="0">
							<thead class="fixed-thead">
								<tr>
									<th width="25" style="padding-left: 14px;" class="ng-show" >
										<a  style="cursor: pointer;margin-top: 5px;" class="icon pcar_m" ng-click="onRigthBtClick('all','')"  tips="全部移除数据到左边"></a>
									</th>
									<th width="40">序号</th>
									<th width="100" ng-click="onRigthSortClick('trackingNum')">运单号<i ng-if="rigthSortObj['trackingNum']=='+'"  class="list_top_tp"></i><i ng-if="rigthSortObj['trackingNum']=='-'"  class="list_top_tpx"></i></th>
									<th width="130" ng-click="onRigthSortClick('consigneeName')">收货人<i ng-if="rigthSortObj['consigneeName']=='+'"  class="list_top_tp"></i><i ng-if="rigthSortObj['consigneeName']=='-'"  class="list_top_tpx"></i></th>
									<th width="120" ng-click="onRigthSortClick('createDateString')">开单时间<i ng-if="rigthSortObj['createDateString']=='+'"  class="list_top_tp"></i><i ng-if="rigthSortObj['createDateString']=='-'"  class="list_top_tpx"></i></th>
									<th width="100" ng-click="onRigthSortClick('destCityName')">目的市<i ng-if="rigthSortObj['destCityName']=='+'"  class="list_top_tp"></i><i ng-if="rigthSortObj['destCityName']=='-'"  class="list_top_tpx"></i></th>
									<th width="100" ng-click="onRigthSortClick('destCityNameAnddestCountyName')">目的区域<i ng-if="rigthSortObj['destCityNameAnddestCountyName']=='+'"  class="list_top_tp"></i><i ng-if="rigthSortObj['destCityNameAnddestCountyName']=='-'"  class="list_top_tpx"></i></th>
									<th width="100" ng-click="onRigthSortClick('distributionOrgName')">配送网点<i ng-if="rigthSortObj['distributionOrgName']=='+'"  class="list_top_tp"></i><i ng-if="rigthSortObj['distributionOrgName']=='-'"  class="list_top_tpx"></i></th>
									<th width="100" ng-click="onRigthSortClick('kcOrgName')">库存网点<i ng-if="rigthSortObj['kcOrgName']=='+'"  class="list_top_tp"></i><i ng-if="rigthSortObj['kcOrgName']=='-'"  class="list_top_tpx"></i></th>
									<th width="100" ng-click="onRigthSortClick('products')">货品名<i ng-if="rigthSortObj['products']=='+'"  class="list_top_tp"></i><i ng-if="rigthSortObj['products']=='-'"  class="list_top_tpx"></i></th>
									<th width="50" 	ng-click="onRigthSortClick('count')">件数<i ng-if="rigthSortObj['count']=='+'"  class="list_top_tp"></i><i ng-if="rigthSortObj['count']=='-'"  class="list_top_tpx"></i></th>
									<th width="100" ng-click="onRigthSortClick('volume')">体积<i ng-if="rigthSortObj['volume']=='+'"  class="list_top_tp"></i><i ng-if="rigthSortObj['volume']=='-'"  class="list_top_tpx"></i></th>
									<th width="100" ng-click="onRigthSortClick('weight')">重量<i ng-if="rigthSortObj['weight']=='+'"  class="list_top_tp"></i><i ng-if="rigthSortObj['weight']=='-'"  class="list_top_tpx"></i></th>
									<th width="100" ng-click="onRigthSortClick('consigneeBill')">收货人手机<i ng-if="rigthSortObj['consigneeBill']=='+'"  class="list_top_tp"></i><i ng-if="rigthSortObj['consigneeBill']=='-'"  class="list_top_tpx"></i></th>
									<th width="100" ng-click="onRigthSortClick('address')">收货人地址<i ng-if="rigthSortObj['address']=='+'"  class="list_top_tp"></i><i ng-if="rigthSortObj['address']=='-'"  class="list_top_tpx"></i></th>
									<th width="100" ng-click="onRigthSortClick('consignorLinkmanName')">发货人<i ng-if="rigthSortObj['consignorLinkmanName']=='+'"  class="list_top_tp"></i><i ng-if="rigthSortObj['consignorLinkmanName']=='-'"  class="list_top_tpx"></i></th>
									<th width="100" ng-click="onRigthSortClick('consignorTelephone')">发货电话<i ng-if="rigthSortObj['consignorTelephone']=='+'"  class="list_top_tp"></i><i ng-if="rigthSortObj['consignorTelephone']=='-'"  class="list_top_tpx"></i></th>
									<th width="100" ng-click="onRigthSortClick('totalFeeString')">费用合计<i ng-if="rigthSortObj['totalFeeString']=='+'"  class="list_top_tp"></i><i ng-if="rigthSortObj['totalFeeString']=='-'"  class="list_top_tpx"></i></th>
									<th width="100" ng-click="onRigthSortClick('freightCollectString')">到付金额<i ng-if="rigthSortObj['freightCollectString']=='+'"  class="list_top_tp"></i><i ng-if="rigthSortObj['freightCollectString']=='-'"  class="list_top_tpx"></i></th>
									<th width="100" ng-click="onRigthSortClick('collectingMoneyString')">代收货款<i ng-if="rigthSortObj['collectingMoneyString']=='+'"  class="list_top_tp"></i><i ng-if="rigthSortObj['collectingMoneyString']=='-'"  class="list_top_tpx"></i></th>
									<th width="100" ng-click="onRigthSortClick('installCostsString')">配安费<i ng-if="rigthSortObj['installCostsString']=='+'"  class="list_top_tp"></i><i ng-if="rigthSortObj['installCostsString']=='-'"  class="list_top_tpx"></i></th>
									<th width="100" ng-click="onRigthSortClick('deliveryTypeName')">交接方式<i ng-if="rigthSortObj['deliveryTypeName']=='+'"  class="list_top_tp"></i><i ng-if="rigthSortObj['deliveryTypeName']=='-'"  class="list_top_tpx"></i></th>
									<th width="100" ng-click="onRigthSortClick('serviceTypeName')">服务方式<i ng-if="rigthSortObj['serviceTypeName']=='+'"  class="list_top_tp"></i><i ng-if="rigthSortObj['serviceTypeName']=='-'"  class="list_top_tpx"></i></th>
									<th width="100" ng-click="onRigthSortClick('receiptNum')">回单号<i ng-if="rigthSortObj['receiptNum']=='+'"  class="list_top_tp"></i><i ng-if="rigthSortObj['receiptNum']=='-'"  class="list_top_tpx"></i></th>
									<th width="100" ng-click="onRigthSortClick('receiptCount')">回单份数<i ng-if="rigthSortObj['receiptCount']=='+'"  class="list_top_tp"></i><i ng-if="rigthSortObj['receiptCount']=='-'"  class="list_top_tpx"></i></th>
									<th width="100" ng-click="onRigthSortClick('remarks')">备注<i ng-if="rigthSortObj['remarks']=='+'"  class="list_top_tp"></i><i ng-if="rigthSortObj['remarks']=='-'"  class="list_top_tpx"></i></th>
									
									
								</tr>
								<tr>
									<th></th>
									<th></th>
									<th><input value=""  class="inp_sr mt0"  ng-click="scrollTopTable()" type="text" ng-model="filterInputRigth.trackingNum" ng-change="onRigthInputChange('trackingNum')"></th>
									<th><input value=""  class="inp_sr mt0"  ng-click="scrollTopTable()" type="text" ng-model="filterInputRigth.consigneeName" ng-change="onRigthInputChange('consigneeName')"></th>
									<th><input value=""  class="inp_sr mt0"  ng-click="scrollTopTable()" type="text" ng-model="filterInputRigth.createDateString" ng-change="onRigthInputChange('createDateString')"></th>
									<th><input value=""  class="inp_sr mt0"  ng-click="scrollTopTable()" type="text" ng-model="filterInputRigth.destCityName" ng-change="onRigthInputChange('destCityName')"></th>
									<th><input value=""  class="inp_sr mt0"  ng-click="scrollTopTable()" type="text" ng-model="filterInputRigth.destCityNameAnddestCountyName"  ng-change="onRigthInputChange('destCityNameAnddestCountyName')"></th>
									<th><input value=""  class="inp_sr mt0"  ng-click="scrollTopTable()" type="text" ng-model="filterInputRigth.distributionOrgName"  ng-change="onRigthInputChange('distributionOrgName')"></th>
									<th><input value=""  class="inp_sr mt0"  ng-click="scrollTopTable()" type="text" ng-model="filterInputRigth.kcOrgName"  ng-change="onRigthInputChange('kcOrgName')"></th>
									<th><input value=""  class="inp_sr mt0"  ng-click="scrollTopTable()" type="text" ng-model="filterInputRigth.products"  ng-change="onRigthInputChange('products')"></th>
									<th><input value=""  class="inp_sr mt0"  ng-click="scrollTopTable()" type="text" ng-model="filterInputRigth.count"  ng-change="onRigthInputChange('count')"></th>
									<th><input value=""  class="inp_sr mt0"  ng-click="scrollTopTable()" type="text" ng-model="filterInputRigth.volume"  ng-change="onRigthInputChange('volume')"></th>
									<th><input value=""  class="inp_sr mt0"  ng-click="scrollTopTable()" type="text" ng-model="filterInputRigth.weight"  ng-change="onRigthInputChange('weight')"></th>
									<th><input value=""  class="inp_sr mt0"  ng-click="scrollTopTable()" type="text" ng-model="filterInputRigth.consigneeBill"  ng-change="onRigthInputChange('consigneeBill')"></th>
									<th><input value=""  class="inp_sr mt0"  ng-click="scrollTopTable()" type="text" ng-model="filterInputRigth.address"  ng-change="onRigthInputChange('address')"></th>
									<th><input value=""  class="inp_sr mt0"  ng-click="scrollTopTable()" type="text" ng-model="filterInputRigth.consignorLinkmanName"  ng-change="onRigthInputChange('consignorLinkmanName')"></th>
									<th><input value=""  class="inp_sr mt0"  ng-click="scrollTopTable()"  type="text" ng-model="filterInputRigth.consignorTelephone"  ng-change="onRigthInputChange('consignorTelephone')"></th>
									<th><input value=""  class="inp_sr mt0"  ng-click="scrollTopTable()" type="text" ng-model="filterInputRigth.totalFeeString"  ng-change="onRigthInputChange('totalFeeString')"></th>
									<th><input value=""  class="inp_sr mt0"  ng-click="scrollTopTable()" type="text" ng-model="filterInputRigth.freightCollectString"  ng-change="onRigthInputChange('freightCollectString')"></th>
									<th><input value=""  class="inp_sr mt0"  ng-click="scrollTopTable()" type="text" ng-model="filterInputRigth.collectingMoneyString"  ng-change="onRigthInputChange('collectingMoneyString')"></th>
									<th><input value=""  class="inp_sr mt0"  ng-click="scrollTopTable()" type="text" ng-model="filterInputRigth.installCostsString"  ng-change="onRigthInputChange('installCostsString')"></th>
									<th><input value=""  class="inp_sr mt0"  ng-click="scrollTopTable()" type="text" ng-model="filterInputRigth.deliveryTypeName"  ng-change="onRigthInputChange('deliveryTypeName')"></th>
									<th><input value=""  class="inp_sr mt0"  ng-click="scrollTopTable()" type="text" ng-model="filterInputRigth.serviceTypeName"  ng-change="onRigthInputChange('serviceTypeName')"></th>
									<th><input value=""  class="inp_sr mt0"  ng-click="scrollTopTable()" type="text" ng-model="filterInputRigth.receiptNum"  ng-change="onRigthInputChange('receiptNum')"></th>
									<th><input value=""  class="inp_sr mt0"  ng-click="scrollTopTable()" type="text" ng-model="filterInputRigth.receiptCount"  ng-change="onRigthInputChange('receiptCount')"></th>
									<th><input value=""  class="inp_sr mt0"  ng-click="scrollTopTable()" type="text" ng-model="filterInputRigth.remarks"  ng-change="onRigthInputChange('remarks')"></th>
								</tr>
							</thead>
							<tbody class="fixed-tbody m_true" style="margin-top: 49px;">
								
								<tr ng-repeat=" vl in selectMatchList track by vl.trackingNum" ng-dblclick="onRigthBtClick('',vl.trackingNum)">
									<td width="25" style="padding-left: 14px;">
										<a ng-click="onRigthBtClick('',vl.trackingNum)" style="cursor: pointer;margin-top: 3px;" class="icon pcar_m"  tips="移除数据到左边"></a>
									</td>
									<td width="40">{{$index+1}}</td>
									<td width="100">{{vl.trackingNum}}</td>
									<td width="130">{{vl.consigneeName}}</td>
									<td width="120">{{vl.createDateString}}</td>
									<td width="100">{{vl.destCityName}}</td>
									<td width="100">{{vl.destCityNameAnddestCountyName}}</td>
									<td width="100">{{vl.distributionOrgName}}</td>
									<td width="100">{{vl.kcOrgName}}</td>
									<td width="100">{{vl.products}}</td>
									<td width="50">{{vl.count}}</td>
									<td width="100">{{vl.volume | number:2}}</td>
									<td width="100">{{vl.weight | number:2}}</td>
									<td width="100">{{vl.consigneeBill}}</td>
									<td width="100">{{vl.address}}</td>
									<td width="100">{{vl.consignorLinkmanName}}</td>
									<td width="100">{{vl.consignorTelephone}}</td>
									<td width="100">{{vl.totalFeeString}}</td>
									<td width="100">{{vl.freightCollectString}}</td>
									<td width="100">{{vl.collectingMoneyString}}</td>
									<td width="100">{{vl.installCostsString}}</td>
									<td width="100">{{vl.deliveryTypeName}}</td>
									<td width="100">{{vl.serviceTypeName}}</td>
									<td width="100">{{vl.receiptNum}}</td>
									<td width="100">{{vl.receiptCount}}</td>
									<td width="100">{{vl.remarks}}</td>
								</tr>
							</tbody>
							<tfoot class="fixed-tfoot tfoot">
							<tr >
								<td  width="25" style="padding-left: 14px;"></td>
								<td  width="40"></td>
								<td  width="100"></td>
								<td width="130"></td>
								<td  width="120"></td>
								<td width="100"></td>
								<td  width="100"></td>
								<td width="100"></td>
								<td width="100"></td>
								<td width="100"></td>
								<td width="50">{{rigthSum.count}}</td>
								<td width="100">{{rigthSum.volume | number:2}}</td>
								<td width="100">{{rigthSum.weight | number:2}}</td>
								<td width="100"></td>
								<td width="100"></td>
								<td width="100"></td>
								<td width="100"></td>
								<td width="100">{{rigthSum.totalFee | number:2}}</td>
								<td width="100">{{rigthSum.freightCollect | number:2}}</td>
								<td width="100">{{rigthSum.collectingMoney | number:2}}</td>
								<td width="100">{{rigthSum.installCosts | number:2}}</td>
								<td width="100"></td>
								<td width="100"></td>
								<td width="100"></td>
								<td width="100"></td>
								<td width="100"></td>
							</tr>
							 </tfoot>
						</table>
					
						
	                </div>
				</div>
				<!-- 右侧  结束-->
			</div>
	   </div>
	   <!-- 中转送货选择库存  结束 -->
	   
	   <!-- 中转送货编辑  开始-->
		<div id="add_id2"  class="added_zzwf clearfix" style="min-height: 500px;width:auto;display: none;">
			<div class="xyib">
				<a class="xyb" style="margin-right: 10px!important;" href="javascript:void(0)" ng-click="doSave()">保存</a>
				<a class="fh_z_1" href="javascript:void(0)" ng-click="next(2)">返回</a>
			</div>
			<!-- 中转送货  开始 -->
			<div class="added_top" style="padding-left:0;padding-right:25px;border-bottom: 0;padding-top: 10px;" ng-show="!tabShow">
				<table width="100%" border="0" cellspacing="0" cellpadding="0" class="search_table search_term dhl_auto dhl_x" style="padding: 0!important;table-layout: fixed!important;">
					<tbody>
						<tr>
							<td width="120"><label class="term_label">到达网点：</label></td>
							<td width="" >
	                            <div class="form_select">
		                            <select ng-model="form.descOrgId"  ng-init="form.descOrgId=-1" ng-change="selectDispatchOrg()">
		                            	<option value="-1">请选择</option>
		                            	<option ng-repeat="obj in dispatchOrg"  value="{{obj.endOrgId}}">{{obj.endOrgName}}</option>
									</select>
								</div>
	                        </td>
							<td width="120"><label class="term_label">网点电话：</label></td>
							<td width=""><input class="form_term" type="text" maxlength="16" ng-model="form.destOrgPhone"/></td>
							
							<td width="120"><label class="term_label">网点地址：</label></td>
							<td colspan="3"><input class="form_term" type="text"  ng-model="form.destOrgAdder"/></td>
						</tr>
						<tr>
						<td><label class="term_label">车牌信息：</label></td>
						<td style="position: relative;">
							<a href="javascript:void(0)" style="position: absolute;right: 8px; top: 4px; " ng-click="doAddViechInfo()">新增</a>
							<input class="form_term"  ng-model="form.plateNumber" maxlength="7"  ng-focus="showTotrue()"  ng-keyup="doQueryVehile(form.plateNumber)" type="text"/>
						    <div class="list_xl ng-cloak list_dhl" style="left: 0%;width: 650px;height: 500px;" ng-show="showPcum">
						        <div class="clearfix">
						        	<h2 style="float: left;">请选择车辆</h2>
						        	<span style="font-size: 12px;font-family:宋体;float: left;padding: 6px 0 6px 10px;display: block;color: #ff0000;">单击一行选中</span>
						        	<i class="list_xl_icon icon"><a class="gone" ng-click="showToFalse()" href="javascript:void(0)"></a></i>
						        </div>
					            
					           <div style="background: #e8f1fa;width: 100%"> 
					           	<table style="width: 630px;" width="100%" border="0" cellspacing="0" cellpadding="0" class="list_xl_thead">
					            	<thead>
					                	<tr>
					                    	<th style="width: 90px;padding-left: 6px;">车牌号</th>
					                        <th style="width: 90px;">车辆类型</th>
					                        <th style="width: 80px;">司机名称</th>
					                        <th style="width: 100px;">手机号码</th>
					                        <th style="width: 70px;">体积</th>
					                        <th  width="70px;">重量</th>
					                    </tr>
					                </thead>
					            </table></div>
						        <my-table>
						            <div class="list_xl_tbody ng-cloak" style="height: 370px!important">
						            	<table  width="100%" border="0" cellspacing="0" cellpadding="0">
						            	<tbody>
						                  <tr ng-repeat="obj in page.data.items" ng-click="selectVehicle(obj)">
						                    <td width="90px;" style="padding-left: 6px;" >{{obj.plateNumber}}</td>
						                    <td width="90px;">{{obj.vehicleTypeName}}</td>
						                    <td width="80px;">{{obj.name}}</td>
						                    <td width="100px;">{{obj.bill}}</td>
						                    <td width="70px;">{{obj.actualVolume.toFixed(1)}}</td>
						                    <td  width="70px;">{{obj.actualWeight.toFixed(2)}}</td>
						                   </tr>
						                  </tbody>
						            </table>
						            </div>
								</my-table>
						    </div>
						</td>
						<td><label class="term_label">司机：</label></td>
						<td><input ng-model="form.driverName" class="form_term" type="text" readonly="readonly"></td>
						<td><label class="term_label">电话：</label></td>
						<td><input ng-model="form.driverBill" class="form_term" type="text" readonly="readonly"></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td><label class="term_label">可配置体积：</label></td>
						<td><input ng-model="form.volume" class="form_term" type="text" readonly="readonly"></td>
						<td><label class="term_label">可配置重量：</label></td>
						<td><input ng-model="form.weight" class="form_term" type="text" readonly="readonly"></td>
						<td><label class="term_label">车辆类型：</label></td>
						<td>
                            <div class="form_select">
						       <select ng-model="form.vehicleType"  ng-init="form.vehicleType=-1">
						     		<option value="-1">请选择</option>
	                            	<option ng-repeat="obj in vehicleTypeList"  value="{{obj.codeValue}}" >{{obj.codeName}}</option>
								</select>
                            </div>
						</td>
						<td><label class="term_label">经营方式：</label></td>
						<td><div class="form_select ">
                                <select ng-model="form.businessType"  ng-init="form.businessType=-1">
						     		<option value="-1">请选择</option>
	                            	<option ng-repeat="obj in businessTypeList"  value="{{obj.codeValue}}" >{{obj.codeName}}</option>
								</select>
                            </div>
						</td>
					</tr>
					<tr>
						<td><label class="term_label">装卸费(元)：</label></td>
						<td>
							<input class="form_term fl" style="width: 32%" ng-model="form.stevedoring"  my-double-val='keyup' type="text" onkeyup="this.value=this.value.replace(/^[0-9]\.[0-9]{2}?$/,'')">
							<div class="controls fl" style="margin-left: 5px;">
<!-- 								<span class="tdspan fl">
									<input type="radio" ng-value="1" ng-model="form.stevedoringPayState" name="stevedoringPayState" style="vertical-align:middle">未付
								</span>
							 	<span class="tdspan fl">
							 		<input type="radio" ng-value="2" ng-model="form.stevedoringPayState" name="stevedoringPayState" style="vertical-align:middle">已付
							 	</span> -->
							 	<span class="tdspan fl">
									<input type="checkbox"  ng-model="form.stevedoringPayStateFlag" name="stevedoringPayState" style="vertical-align:middle">未付
								</span>
							</div>
						</td>
						<td><label class="term_label">付款方：</label></td>
						<td>
							<div class="form_select">
                                <select ng-model="form.stevedoringPayDot"  ng-init="form.stevedoringPayDot=-1">
						     		<option value="-1">请选择</option>
	                            	<option ng-repeat="obj in dispatchOrgList"  value="{{obj.endOrgId}}" ng-selected="obj.endOrgId==form.stevedoringPayDot?true:fasle">{{obj.endOwnerName}}</option>
								</select>
                            </div>
                        </td>
						<td><label class="term_label">运费(元)：</label></td>
						<td>
							<input class="form_term fl" style="width: 32%" ng-model="form.freight"  my-double-val='keyup' type="text" onkeyup="this.value=this.value.replace(/^[0-9]\.[0-9]{2}?$/,'')">
							<div class="controls fl" style="margin-left: 5px;">
<!-- 								<span class="tdspan fl">
									<input type="radio" ng-value="1" ng-model="form.payState" name="payState" style="vertical-align:middle">未付
								</span>
							 	<span class="tdspan fl">
							 		<input type="radio" ng-value="2" ng-model="form.payState" name="payState" style="vertical-align:middle">已付
							 	</span> -->
							 	<span class="tdspan fl">
									<input type="checkbox"  ng-model="form.payStateFlag" name="payState" style="vertical-align:middle">未付
								</span>
							</div>
						</td>
						<td><label class="term_label">付款方：</label></td>
						<td>
							<div class="form_select">
                                <select ng-model="form.freightPayDot" ng-init="form.freightPayDot=-1">
						     		<option value="-1">请选择</option>
	                            	<option ng-repeat="obj in dispatchOrgList"  value="{{obj.endOrgId}}"  ng-selected="obj.endOrgId==form.freightPayDot?true:fasle">{{obj.endOwnerName}}</option>
								</select>
                            </div>
                        </td>
					</tr>
					<tr>
						<td valign="top"><label class="term_label">备注：</label></td>
						<td colspan="7">
							<textarea class="textarea" maxlength="250" placeholder="最多支持250个字符（包括数字、中文、字母、标点符号等）" ng-model="form.remarks"   rows="2" style="width:100%; border: 1px solid #d9e2ee;border-radius: 5px; padding:3px 4px;" class="form-control ng-pristine ng-valid ng-valid-maxlength ng-touched ng-untouched">
							</textarea>
						</td>
					</tr>
					<tr>
						<td valign="top"><label class="term_label">运输合同：</label></td>
						<td><input  class="form_term"  type="text" maxlength="16" ng-disabled="view"  ng-model="form.transportContract"/></td>
 					    <td valign="top"><label class="term_label">批次号：</label></td>
						<td><input  class="form_term"  type="text" maxlength="20" ng-disabled="view"  ng-model="form.batchNumAlias" placeholder="不填系统默认" /></td>  
					</tr>
				</tbody>
				</table>
				<table width="100%" border="0" cellspacing="0" cellpadding="0" class="search_table search_term dhl_auto dhl_x dhl_x2" style="padding: 0!important;table-layout: fixed!important;">
					<tr>
						<td width="120" align="right"><label class="term_label">到付：</label></td>
						<td width="120"><span class="red fl">{{freightCollect | number:2}}</span><span class="fl hg">元</span></td>
						<td width="60" align="right"><label class="term_label">货款：</label></td>
						<td width="120"><span class="red fl">{{collectingMoney | number:2}}</span><span class="fl hg">元</span></td>
						<td width="80"></td>
						<td colspan="3">
							<div style="position:inherit;text-align:right;border-left: 0;margin-left: 15px;">
								<a class="fh_z " href="javascript:void(0);" ng-click="clearSelect();">移除运单</a>
<!-- 								<a class="button ml_10 modify" href="javascript:void(0)" ng-click="editTab()"> -->
<!-- 									<i class="button_icon button_icon dw_modify ml0"></i>修改发货人 -->
<!-- 								</a> -->
							</div>
						</td>
					</tr>
				</table>
			</div>
			<!--   结束 -->
			<!-- 列表 -->
			<div class="search_nr clearfix mt_20 dhl_add">
				<div class="table_height" style="width: 100%; overflow: auto; height: 491px;">
					<table class="search_lista" width="100%" border="0" cellspacing="0" cellpadding="0">
							<thead class="fixed-thead">
								<tr>
									<th  class="search_list_border ng-scope" width="60">
										<div class="controls">
											<input  class="none"  id="checkId-1" value="-1"  type="checkbox" name="checkName" >
											<label for="check-1" ng-click="updateSelection($event,-1)"></label>
										</div>
									</th>
									<th width="40">序号</th>
									<th width="100" ng-click="onRigthSortClick('trackingNum')">运单号<i ng-if="rigthSortObj['trackingNum']=='+'"  class="list_top_tp"></i><i ng-if="rigthSortObj['trackingNum']=='-'"  class="list_top_tpx"></i></th>
									<th width="130" ng-click="onRigthSortClick('consigneeName')">收货人<i ng-if="rigthSortObj['consigneeName']=='+'"  class="list_top_tp"></i><i ng-if="rigthSortObj['consigneeName']=='-'"  class="list_top_tpx"></i></th>
									<th width="120" ng-click="onRigthSortClick('createDateString')">开单时间<i ng-if="rigthSortObj['createDateString']=='+'"  class="list_top_tp"></i><i ng-if="rigthSortObj['createDateString']=='-'"  class="list_top_tpx"></i></th>
									<th width="100" ng-click="onRigthSortClick('destCityName')">目的市<i ng-if="rigthSortObj['destCityName']=='+'"  class="list_top_tp"></i><i ng-if="rigthSortObj['destCityName']=='-'"  class="list_top_tpx"></i></th>
									<th width="100" ng-click="onRigthSortClick('destCityNameAnddestCountyName')">目的区域<i ng-if="rigthSortObj['destCityNameAnddestCountyName']=='+'"  class="list_top_tp"></i><i ng-if="rigthSortObj['destCityNameAnddestCountyName']=='-'"  class="list_top_tpx"></i></th>
									<th width="100" ng-click="onRigthSortClick('distributionOrgName')">配送网点<i ng-if="rigthSortObj['distributionOrgName']=='+'"  class="list_top_tp"></i><i ng-if="rigthSortObj['distributionOrgName']=='-'"  class="list_top_tpx"></i></th>
									<th width="100" ng-click="onRigthSortClick('kcOrgName')">库存网点<i ng-if="rigthSortObj['kcOrgName']=='+'"  class="list_top_tp"></i><i ng-if="rigthSortObj['kcOrgName']=='-'"  class="list_top_tpx"></i></th>
									<th width="100" ng-click="onRigthSortClick('products')">货品名<i ng-if="rigthSortObj['products']=='+'"  class="list_top_tp"></i><i ng-if="rigthSortObj['products']=='-'"  class="list_top_tpx"></i></th>
									<th width="50" 	ng-click="onRigthSortClick('count')">件数<i ng-if="rigthSortObj['count']=='+'"  class="list_top_tp"></i><i ng-if="rigthSortObj['count']=='-'"  class="list_top_tpx"></i></th>
									<th width="100" ng-click="onRigthSortClick('volume')">体积<i ng-if="rigthSortObj['volume']=='+'"  class="list_top_tp"></i><i ng-if="rigthSortObj['volume']=='-'"  class="list_top_tpx"></i></th>
									<th width="100" ng-click="onRigthSortClick('weight')">重量<i ng-if="rigthSortObj['weight']=='+'"  class="list_top_tp"></i><i ng-if="rigthSortObj['weight']=='-'"  class="list_top_tpx"></i></th>
									<th width="100" ng-click="onRigthSortClick('consigneeBill')">收货人手机<i ng-if="rigthSortObj['consigneeBill']=='+'"  class="list_top_tp"></i><i ng-if="rigthSortObj['consigneeBill']=='-'"  class="list_top_tpx"></i></th>
									<th width="100" ng-click="onRigthSortClick('address')">收货人地址<i ng-if="rigthSortObj['address']=='+'"  class="list_top_tp"></i><i ng-if="rigthSortObj['address']=='-'"  class="list_top_tpx"></i></th>
									<th width="100" ng-click="onRigthSortClick('consignorLinkmanName')">发货人<i ng-if="rigthSortObj['consignorLinkmanName']=='+'"  class="list_top_tp"></i><i ng-if="rigthSortObj['consignorLinkmanName']=='-'"  class="list_top_tpx"></i></th>
									<th width="100" ng-click="onRigthSortClick('consignorTelephone')">发货电话<i ng-if="rigthSortObj['consignorTelephone']=='+'"  class="list_top_tp"></i><i ng-if="rigthSortObj['consignorTelephone']=='-'"  class="list_top_tpx"></i></th>
									<th width="100" ng-click="onRigthSortClick('totalFeeString')">费用合计<i ng-if="rigthSortObj['totalFeeString']=='+'"  class="list_top_tp"></i><i ng-if="rigthSortObj['totalFeeString']=='-'"  class="list_top_tpx"></i></th>
									<th width="100" ng-click="onRigthSortClick('freightCollectString')">到付金额<i ng-if="rigthSortObj['freightCollectString']=='+'"  class="list_top_tp"></i><i ng-if="rigthSortObj['freightCollectString']=='-'"  class="list_top_tpx"></i></th>
									<th width="100" ng-click="onRigthSortClick('collectingMoneyString')">代收货款<i ng-if="rigthSortObj['collectingMoneyString']=='+'"  class="list_top_tp"></i><i ng-if="rigthSortObj['collectingMoneyString']=='-'"  class="list_top_tpx"></i></th>
									<th width="100" ng-click="onRigthSortClick('installCostsString')">配安费<i ng-if="rigthSortObj['installCostsString']=='+'"  class="list_top_tp"></i><i ng-if="rigthSortObj['installCostsString']=='-'"  class="list_top_tpx"></i></th>
									<th width="100" ng-click="onRigthSortClick('deliveryTypeName')">交接方式<i ng-if="rigthSortObj['deliveryTypeName']=='+'"  class="list_top_tp"></i><i ng-if="rigthSortObj['deliveryTypeName']=='-'"  class="list_top_tpx"></i></th>
									<th width="100" ng-click="onRigthSortClick('serviceTypeName')">服务方式<i ng-if="rigthSortObj['serviceTypeName']=='+'"  class="list_top_tp"></i><i ng-if="rigthSortObj['serviceTypeName']=='-'"  class="list_top_tpx"></i></th>
									<th width="100" ng-click="onRigthSortClick('receiptNum')">回单号<i ng-if="rigthSortObj['receiptNum']=='+'"  class="list_top_tp"></i><i ng-if="rigthSortObj['receiptNum']=='-'"  class="list_top_tpx"></i></th>
									<th width="100" ng-click="onRigthSortClick('receiptCount')">回单份数<i ng-if="rigthSortObj['receiptCount']=='+'"  class="list_top_tp"></i><i ng-if="rigthSortObj['receiptCount']=='-'"  class="list_top_tpx"></i></th>
									<th width="100" ng-click="onRigthSortClick('remarks')">备注<i ng-if="rigthSortObj['remarks']=='+'"  class="list_top_tp"></i><i ng-if="rigthSortObj['remarks']=='-'"  class="list_top_tpx"></i></th>
									
									
								</tr>
								<tr>
									<th></th>
									<th></th>
									<th><input value=""  class="inp_sr mt0"  ng-click="scrollTopTable()" type="text" ng-model="filterInputRigth.trackingNum" ng-change="onRigthInputChange('trackingNum')"></th>
									<th><input value=""  class="inp_sr mt0"  ng-click="scrollTopTable()" type="text" ng-model="filterInputRigth.consigneeName" ng-change="onRigthInputChange('consigneeName')"></th>
									<th><input value=""  class="inp_sr mt0"  ng-click="scrollTopTable()" type="text" ng-model="filterInputRigth.createDateString" ng-change="onRigthInputChange('createDateString')"></th>
									<th><input value=""  class="inp_sr mt0"  ng-click="scrollTopTable()" type="text" ng-model="filterInputRigth.destCityName" ng-change="onRigthInputChange('destCityName')"></th>
									<th><input value=""  class="inp_sr mt0"  ng-click="scrollTopTable()" type="text" ng-model="filterInputRigth.destCityNameAnddestCountyName"  ng-change="onRigthInputChange('destCityNameAnddestCountyName')"></th>
									<th><input value=""  class="inp_sr mt0"  ng-click="scrollTopTable()" type="text" ng-model="filterInputRigth.distributionOrgName"  ng-change="onRigthInputChange('distributionOrgName')"></th>
									<th><input value=""  class="inp_sr mt0"  ng-click="scrollTopTable()" type="text" ng-model="filterInputRigth.kcOrgName"  ng-change="onRigthInputChange('kcOrgName')"></th>
									<th><input value=""  class="inp_sr mt0"  ng-click="scrollTopTable()" type="text" ng-model="filterInputRigth.products"  ng-change="onRigthInputChange('products')"></th>
									<th><input value=""  class="inp_sr mt0"  ng-click="scrollTopTable()" type="text" ng-model="filterInputRigth.count"  ng-change="onRigthInputChange('count')"></th>
									<th><input value=""  class="inp_sr mt0"  ng-click="scrollTopTable()" type="text" ng-model="filterInputRigth.volume"  ng-change="onRigthInputChange('volume')"></th>
									<th><input value=""  class="inp_sr mt0"  ng-click="scrollTopTable()" type="text" ng-model="filterInputRigth.weight"  ng-change="onRigthInputChange('weight')"></th>
									<th><input value=""  class="inp_sr mt0"  ng-click="scrollTopTable()" type="text" ng-model="filterInputRigth.consigneeBill"  ng-change="onRigthInputChange('consigneeBill')"></th>
									<th><input value=""  class="inp_sr mt0"  ng-click="scrollTopTable()" type="text" ng-model="filterInputRigth.address"  ng-change="onRigthInputChange('address')"></th>
									<th><input value=""  class="inp_sr mt0"  ng-click="scrollTopTable()" type="text" ng-model="filterInputRigth.consignorLinkmanName"  ng-change="onRigthInputChange('consignorLinkmanName')"></th>
									<th><input value=""  class="inp_sr mt0"  ng-click="scrollTopTable()"  type="text" ng-model="filterInputRigth.consignorTelephone"  ng-change="onRigthInputChange('consignorTelephone')"></th>
									<th><input value=""  class="inp_sr mt0"  ng-click="scrollTopTable()" type="text" ng-model="filterInputRigth.totalFeeString"  ng-change="onRigthInputChange('totalFeeString')"></th>
									<th><input value=""  class="inp_sr mt0"  ng-click="scrollTopTable()" type="text" ng-model="filterInputRigth.freightCollectString"  ng-change="onRigthInputChange('freightCollectString')"></th>
									<th><input value=""  class="inp_sr mt0"  ng-click="scrollTopTable()" type="text" ng-model="filterInputRigth.collectingMoneyString"  ng-change="onRigthInputChange('collectingMoneyString')"></th>
									<th><input value=""  class="inp_sr mt0"  ng-click="scrollTopTable()" type="text" ng-model="filterInputRigth.installCostsString"  ng-change="onRigthInputChange('installCostsString')"></th>
									<th><input value=""  class="inp_sr mt0"  ng-click="scrollTopTable()" type="text" ng-model="filterInputRigth.deliveryTypeName"  ng-change="onRigthInputChange('deliveryTypeName')"></th>
									<th><input value=""  class="inp_sr mt0"  ng-click="scrollTopTable()" type="text" ng-model="filterInputRigth.serviceTypeName"  ng-change="onRigthInputChange('serviceTypeName')"></th>
									<th><input value=""  class="inp_sr mt0"  ng-click="scrollTopTable()" type="text" ng-model="filterInputRigth.receiptNum"  ng-change="onRigthInputChange('receiptNum')"></th>
									<th><input value=""  class="inp_sr mt0"  ng-click="scrollTopTable()" type="text" ng-model="filterInputRigth.receiptCount"  ng-change="onRigthInputChange('receiptCount')"></th>
									<th><input value=""  class="inp_sr mt0"  ng-click="scrollTopTable()" type="text" ng-model="filterInputRigth.remarks"  ng-change="onRigthInputChange('remarks')"></th>
								</tr>
							</thead>
							<tbody class="fixed-tbody m_true" style="margin-top: 49px;">
								<tr ng-repeat=" vl in selectMatchList track by vl.trackingNum">
									<td  class="search_list_border ng-scope" width="60">
										<div class="controls">
											<input  class="none"  id="{{'checkId'+vl.trackingNum}}" value="{{vl.trackingNum}}"  type="checkbox" name="checkName" >
											<label for="check-1" ng-click="updateSelection($event,vl.trackingNum)"></label>
										</div>
									</td>
									<td width="40">{{$index+1}}</td>
									<td width="100">{{vl.trackingNum}}</td>
									<td width="130">{{vl.consigneeName}}</td>
									<td width="120">{{vl.createDateString}}</td>
									<td width="100">{{vl.destCityName}}</td>
									<td width="100">{{vl.destCityNameAnddestCountyName}}</td>
									<td width="100">{{vl.distributionOrgName}}</td>
									<td width="100">{{vl.kcOrgName}}</td>
									<td width="100">{{vl.products}}</td>
									<td width="50">{{vl.count}}</td>
									<td width="100">{{vl.volume | number:2}}</td>
									<td width="100">{{vl.weight | number:2}}</td>
									<td width="100">{{vl.consigneeBill}}</td>
									<td width="100">{{vl.address}}</td>
									<td width="100">{{vl.consignorLinkmanName}}</td>
									<td width="100">{{vl.consignorTelephone}}</td>
									<td width="100">{{vl.totalFeeString}}</td>
									<td width="100">{{vl.freightCollectString}}</td>
									<td width="100">{{vl.collectingMoneyString}}</td>
									<td width="100">{{vl.installCostsString}}</td>
									<td width="100">{{vl.deliveryTypeName}}</td>
									<td width="100">{{vl.serviceTypeName}}</td>
									<td width="100">{{vl.receiptNum}}</td>
									<td width="100">{{vl.receiptCount}}</td>
									<td width="100">{{vl.remarks}}</td>
								</tr>
							</tbody>
							<tfoot class="fixed-tfoot tfoot">
							<tr >
								<td  width="60" ></td>
								<td  width="40"></td>
								<td  width="100"></td>
								<td width="130"></td>
								<td  width="120"></td>
								<td width="100"></td>
								<td  width="100"></td>
								<td width="100"></td>
								<td width="100"></td>
								<td width="100"></td>
								<td width="50">{{rigthSum.count}}</td>
								<td width="100">{{rigthSum.volume | number:2}}</td>
								<td width="100">{{rigthSum.weight | number:2}}</td>
								<td width="100"></td>
								<td width="100"></td>
								<td width="100"></td>
								<td width="100"></td>
								<td width="100">{{rigthSum.totalFee | number:2}}</td>
								<td width="100">{{rigthSum.freightCollect | number:2}}</td>
								<td width="100">{{rigthSum.collectingMoney | number:2}}</td>
								<td width="100">{{rigthSum.installCosts | number:2}}</td>
								<td width="100"></td>
								<td width="100"></td>
								<td width="100"></td>
								<td width="100"></td>
								<td width="100"></td>
							</tr>
							 </tfoot>
						</table>
			
					</div>
			
			</div>
		</div>
		<!-- 中转送货编辑  结束-->
	</div>
	<!--[if !IE]> -->
	<script src='../js/angular/angular.min.js'></script>
	<!-- <![endif]-->
	<!--[if lte IE 8 ]>
			<script src='../js/angular-1.2.19/angular.min.js'></script>
		<![endif]-->
	<!--[if !lte IE 8 ]>
			<script src='../js/angular/angular.min.js'></script>
		<![endif]-->
	<script type="text/javascript" src="../js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript" src="../js/md5.js"></script>
	<script type="text/javascript" src="../js/common.js?v=${ver}"></script>
	<script type="text/javascript" src="../js/jquery.hotkeys.js?v=${ver}"></script>
	<script type="text/javascript" src="../js/x.js"></script>
	<script type="text/javascript" src="../js/base64.js?v=${ver}"></script>
	<script type="text/javascript" src="../js/My97DatePicker/WdatePicker.js?v=${ver}"></script>
	<script type="text/javascript" src="addDepartCtrl.js?v=${ver}"></script>
</body>
</html>

