<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="changeOrderQueryApp">
<head>
<title></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="keywords" content="联运汇" />
<meta name="description" content="联运汇" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css"
	href="../css/$tenantId$/icon.css?v=${ver}">
<link rel="stylesheet" type="text/css"
	href="../css/$tenantId$/public.css">
<link rel="stylesheet" type="text/css"
	href="../css/$tenantId$/head.css?v=${ver}">
<link rel="stylesheet" type="text/css"
	href="../css/$tenantId$/leftboxcs.css?v=${ver}">
<link rel="stylesheet" type="text/css"
	href="../css/$tenantId$/master.css?v=${ver}">
<style>
.form_billing {
	border-radius: 1px;
}

.ui-select {
	width: 100%;
	width: -moz-calc(100% - 2px);
	width: -webkit-calc(100% - 2px);
	width: calc(100% - 2px)
}

.ui-select, .ui-select select {
	height: 24px !important;
	min-height: 24px !important;
}

.ui-select select {
	
}

.qlfconsignor {
	
}
</style>

</head>
<body ng-controller="changeOrderQueryCtrl" class="ng-cloak">

	<!-- 小费对账 开始 -->
	<div class="billing_1 clearfix pb_20 mt_20" style="min-height: 300px">
		<div class="search">
			<table width="100%" border="0" cellspacing="0" cellpadding="0"
				class="search_table search_term">
				<tbody>
					<tr>
						<td width="80"><label class="term_label">开单物流：</label></td>
						<td width="15%"><input ng-model="query.ordTenantName"
							class="input_box w_b90" type="text"></td>
						<td width="90"><label class="term_label">客户选择物流：</label></td>
						<td width="15%"><input ng-model="query.ordsTenantName"
							class="input_box w_b90" type="text"></td>
						<td width="80"><label class="term_label">拉包工：</label></td>
						<td width="15%"><input class="input_box w_b90 "
							ng-model="query.pullName" maxlength="20" type="text" /></td>
						<td width="80"></td>
						<td width=""></td>
						<td rowspan="3" width="12%"><div
								class="bottom_search search_button" style="position: inherit;">
								<a ng-click="doQuery();" ng-enter="" href="javascript:void(0);">查询</a><a
									class="qink" href="javascript:void(0);"
									ng-click="cleanQuery();">清空</a>
							</div></td>
					</tr>
					<tr>
						<td width="80"><label class="term_label">开单时间：</label></td>
						<td width="15%"><input style="width: 40% !important;"
							my-Date-Picker='' ng-model="query.billingBegin" id="billingBegin"
							readonly="readonly" class="form_term fl w_xjr" type="text">
							<span class="search_span fl" style="width: 10% !important;">到</span>
							<input readonly="readonly" style="width: 40% !important;"
							ng-model="query.billingEnd" my-Date-Picker='' id="billingEnd"
							class="form_term fl w_xjr" type="text"></td>
						<td width="80"></td>
						<td width="15%"></td>

						<td width="80"></td>
						<td width="15%"></td>
						<td width="80"></td>
						<td width=""></td>
						<td width="12%"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div style="position: relative;" class="search_nr clearfix mt_20">
			<div class="bottom_nav pb_20 bottom_nav_search clearfix tableStyle">
					<h2>查询结果</h2>
				<div class="fr mt15_mr20">
					<a class="button fl ml_10 gangxianjs"
						ng-click="page.downloadExcelFile()" href="javascript:void(0);">
						<i class="button_icon button_icon dw_gangxianjs"></i>导出
					</a>
				</div>
			</div>
			<my-Table-Cm head="head" table="page" url="url" param="urlParam"
				id="orderId" is-Multi-Select="" table-Name="changeOrderQuery"
				is-Select-Data="false" ver="${ver}" after-Init-Fn="doQuery()"
				is-Show-Row="true"></my-Table-Cm>
		</div>
	</div>

	<!--[if !IE]> -->
	<script src='../js/angular/angular.min.js'></script>
	<!-- <![endif]-->
	<!--[if lte IE 8 ]>
			<script src='../js/angular-1.2.19/angular.min.js'></script>
		<![endif]-->
	<!--[if !lte IE 8 ]>
			<script src='../js/angular/angular.min.js'></script>
		<![endif]-->
	<script type="text/javascript" src="../js/md5.js?v=${ver}"></script>
	<script type="text/javascript" src="../js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="../js/base64.js?v=${ver}"></script>
	<script type="text/javascript" src="../js/common.js?v=${ver}"></script>
	<script type="text/javascript"
		src="../js/My97DatePicker/WdatePicker.js?v=${ver}"></script>
	<script type="text/javascript"
		src="../js/table/tableCommon.js?v=${ver}"></script>
	<script type="text/javascript" src="changeOrderQueryCtrl.js?v=${ver}"></script>

</body>
</html>

