<!-- 运单上传图片 -->
    	<div id="vehicle_up_qs" class="popup" style="width: 800px; height: 450px; margin-left: -400px; top:50px!important; z-index: 1006; display: block;">
			<div class="tx_tc">
				<div style="min-height:200px; padding-top:20px;">
				<ul class="dd_cx clearfix">
					<li><span my-File-Model="idenCard1" is-Close="true" ></span></li>
					<li><span my-File-Model="idenCard2" is-Close="true" ></span></li>
					<li><span my-File-Model="idenCard3" is-Close="true" ></span></li>
					<li><span my-File-Model="idenCard4" is-Close="true" ></span></li>
					<li><span my-File-Model="idenCard5" is-Close="true" ></span></li>
				</ul>
				</div>
				<div class="tx_tc_button">
					<a ng-hide="orderPic==false" class="search_button_ss" href="javascript:void(0);" ng-click="doSavePic();">保存</a>
					<a class="search_button_cz" href="javascript:void(0);" ng-click="closeUp();">关闭</a>
				</div>
			</div>
    	</div>
    	<!-- 运单上传图片 -->
    <!--半透明黑色背景  开始-->
	<div id="fade1_xz"  class="popup_bj" style="display: block;"></div>
	<!--半透明黑色背景  结束-->

