<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html ng-app="shippingDepartManageApp"> 
	<head>
	    <title>联运汇_干线发车 </title>
	    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="keywords" content="联运汇"/> 
		<meta name="description" content="联运汇" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />	
        <link rel="stylesheet" type="text/css" href="../css/$tenantId$/icon.css?v=${ver}">	
		<link rel="stylesheet" type="text/css" href="../css/$tenantId$/public.css?v=${ver}">
		<link rel="stylesheet" type="text/css" href="../css/$tenantId$/head.css?v=${ver}">
        <link rel="stylesheet" type="text/css" href="../css/$tenantId$/leftboxcs.css?v=${ver}">
        <link rel="stylesheet" type="text/css" href="../css/$tenantId$/master.css?v=${ver}">
        <style type="text/css">
        	[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate) {
	    		display: none !important;
			}
			.form_term{width: 140px!important;}
		    .w_xjr{width: 80px!important;}
		    .form_select {width: 140px!important;}
        </style>
</head>
	<body ng-controller="shippingDepartManageCtrl" style="overflow:hidden" onload="setContentHeight()">
        <!-- 运单录入 -->
        <div class="billing_1 clearfix pb_20 mt_20">
        	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="search_table search_term">
				<tbody>
					<tr>
						<td width="100"><label class="term_label">配载时间：</label></td>
						<td>
							<input  ng-model="query.departBeginTime" id="departBeginTime" my-Date-Picker readonly="readonly" class="form_term w_xjr fl"  type="text">
							<span class="search_span fl">到</span>
							<input  ng-model="query.departEndTime"  id="departEndTime" my-Date-Picker  readonly="readonly" class="form_term w_xjr fl" type="text">
						</td>
						<td width="100"><label class="term_label">开船时间：</label></td>
						<td>
							<input  ng-model="query.shipDateBegin" id="shipDateBegin" my-Date-Picker readonly="readonly" class="form_term w_xjr fl"  type="text">
							<span class="search_span fl">到</span>
							<input  ng-model="query.shipDateEnd"  id="shipDateEnd" my-Date-Picker  readonly="readonly" class="form_term w_xjr fl" type="text">
						</td>
						<td width="100"><label class="term_label">目的网点：</label>
                       	</td>
						<td>
							<div class="form_select " >
								<select name="select" class="xl_z ng-pristine ng-valid ng-touched" ng-model="query.descOrgId"  ng-options="obj.endOrgId as obj.endOrgName for obj in desOrgData"></select>
                            </div>
                        </td>
						<td width="100"><label class="term_label">批次号：</label>
                       		</td>
						<td><input  class="form_term" maxlength="16" ng-model="query.batchNumAlias" type="text"></td>
						<td rowspan="2">
							<div class="bottom_search search_button" style="position:inherit;">
								<a ng-click="doQuery();" ng-Enter href="javascript:void(0);">查询</a>
								<a class="qink" href="javascript:void(0);" ng-click="clear();">清空</a>
							</div>
						</td>
					</tr>
					<tr>
					<td width="100"><label class="term_label">到达时间：</label></td>
						<td>
							<input  ng-model="query.arrivalVehTimeBegin" id="arrivalVehTimeBegin" my-Date-Picker readonly="readonly" class="form_term w_xjr fl"  type="text">
							<span class="search_span fl">到</span>
							<input  ng-model="query.arrivalVehTimeEnd"  id="arrivalVehTimeEnd" my-Date-Picker  readonly="readonly" class="form_term w_xjr fl" type="text">
						</td>
						<td width="100"><label class="term_label">配载状态：</label></td>
						<td>
							<div class="form_select">
                                 <select name="select" class="xl_z ng-cloak" ng-model="query.vehicleState" ng-init="query.vehicleState=-1">
                                 	<option value="-1">所有</option>
								    <option  ng-repeat="o in vehicleStateList" value="{{o.codeValue}}" >{{o.codeName}}</option>
						        </select>
                            </div>
                        </td>
						<td width="100"><label class="term_label">柜号：</label></td>
						<td><input  class="form_term" maxlength="16" ng-model="query.cntrNo" type="text"></td>
						<td width="100"><label class="term_label">封条号：</label></td>
						<td><input  class="form_term" maxlength="16" ng-model="query.sealNo" type="text"></td>
					</tr>
				</tbody>
		</table>
                
                     <div class="search_nr clearfix mt_20">
              <div class="bottom_nav pb_20 bottom_nav_search clearfix"><h2>查询结果</h2>
              	<a class="button ml_10 newly" style="width: auto;"  ng-click="doSave()" href="javascript:void(0)"><i class="button_icon button_icon dw_newly ml0"></i>新增船运配载</a>
              	<a  ng-click="confirmMatchVehi();" href="javascript:void(0)" >发船确认</a>
              	<a  ng-click="cancelMatchVehi();" href="javascript:void(0)" >取消发船</a>
              	<a class="button ml_10 see_b" href="javascript:void(0)" ng-click="toView();"><i class="button_icon button_icon dw_see_b"></i>查看船运配载</a>
              	<a class="button ml_10 delete" style="width: auto;"   ng-click="deleteDepart();" href="javascript:void(0)"><i class="button_icon button_icon dw_delete ml0"></i>删除船运配载</a>
              	<a class="button ml_10 modify" style="width: auto;"  ng-click="doModify()" href="javascript:void(0)"><i class="button_icon button_icon dw_modify ml0"></i>修改船运配载</a>
              	<a href="javascript:void(0)" id="exportId" ng-click="table.downloadExcelFile()">导  出</a><a ng-click="toView();" href="javascript:void()">打印配载信息</a></div>
                 <my-Table-Cm after-Init-Fn="doQuery()" head="head" table="table" url="url" param="query" id="batchNum" table-Name＝"" ver="${ver}"></my-Table-Cm>
             
        </div>
        </div>
 		<!--[if !IE]> -->
	    <script src='../js/angular/angular.min.js'></script>
		<!-- <![endif]-->
		<!--[if lte IE 8 ]>
			<script src='../js/angular-1.2.19/angular.min.js'></script>
		<![endif]-->
		<!--[if !lte IE 8 ]>
			<script src='../js/angular/angular.min.js'></script>
		<![endif]-->
		<script type="text/javascript" src="../js/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="../js/jquery.js"></script>
		<script type="text/javascript" src="../js/md5.js"></script>
		<script type="text/javascript" src="../js/common.js?v=${ver}"></script>
		<script type="text/javascript" src="../js/table/tableCommon.js?v=${ver}"></script>
		<script type="text/javascript" src="../js/base64.js?v=${ver}"></script>
		<script type="text/javascript" src="../js/My97DatePicker/WdatePicker.js?v=${ver}"></script>
		<script type="text/javascript" src="shippingDepartManageCtrl.js?v=${ver}"></script>
</body>
</html>

