<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html  ng-app="MyApp">
<head>
	<title>新闻公告管理</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- bootstrap -->
    <link href="../css/bootstrap/bootstrap.css" rel="stylesheet">
    <link href="../css/bootstrap/bootstrap-overrides.css" type="text/css" rel="stylesheet">
    <!-- global styles -->
    
    <link rel="stylesheet" type="text/css" href="../css/$tenantId$/news/layout.css?v=2.7.6">
    <link rel="stylesheet" type="text/css" href="../css/$tenantId$/news/elements.css">
    <link rel="stylesheet" type="text/css" href="../css/$tenantId$/news/icons.css">
    <!-- libraries -->
    <link href="../css/$tenantId$/news/font-awesome.css" type="text/css" rel="stylesheet" />
    <!-- this page specific styles -->
    <link rel="stylesheet" href="../css/$tenantId$/news/user-list.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="../css/$tenantId$/news/index.css" type="text/css" media="screen" />
    <!-- open sans font -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
	<!-- ueditor配置文件 -->
	<script type="text/javascript" src="../ueditor/ueditor.config.js"></script>
	<!-- ueditor编辑器源码文件 -->
	<script type="text/javascript" src="../ueditor/ueditor.all.js"></script>
	<!-- ueditor实例化编辑器 -->
	<style type="text/css">
		.protal_menu {
			list-style: outside none none;
		    margin-bottom: 0;
		}
		
		.protal_menu > li{
		    position: relative;
		    cursor: pointer;
		}
		
		.protal_menu > li > a {
		    box-shadow: 0 2px 1px -1px #ffffff;
		    color: #6e829b;
		    display: block;
		    line-height: 21px;
		    margin-bottom: 5px;
		    margin-left: -15px;
		    outline: 0 none;
		    padding: 16px 8px 8px;
		    text-decoration: none;
		}
		
		.protal_menu > li i {
		    font-size: 23px;
		    top: 14px;
		}
		
		.protal_menu a i {
		    height: 24px;
		    left: 0;
		    opacity: 0.7;
		    position: absolute;
		    transition: opacity 0.1s ease 0s;
		    width: 24px;
		}
		
		.protal_menu a span {
		    font-size: 16px;
		    margin-left: 35px;
		    transition: color 0.1s linear 0s;
		}
		
		.news_table td {
			padding-bottom: 5px;
		}
		
		.search_btn {
			font-size: 23px; height: 24px; left: 0; opacity: 0.7; transition: opacity 0.1s ease 0s; width: 24px;
		}
	</style>
</head>
<body ng-controller="newsCtrl">
	<div class="content" style="padding-top: 10px;" id="newMainDiv">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-3">
					<table width="100%" border="0" cellspacing="0" cellpadding="0" class="news_table" style="margin-left: 20px;">
						<tr>
							<td><input type="text" class="form-control" ng-model="formData.title" placeholder="标题" style="width: 180px;"></td>
						</tr>
						<tr>
							<td><div class="ui-select w180"><my-select  code-type="CODE_TYPE_SYS_NEWS@TYPE" query-all id="formDataType"></my-select></div></td>
						</tr>
						<tr>
							<td style="width: 80%"><div class="ui-select w180"><my-select code-type="CODE_TYPE_SYS_NEWS@STATE" query-all id="formDataState"></my-select></div></td>
							<td><a ng-click="queryNews();" style="text-decoration: none; cursor: pointer;"><i class="icon-search search_btn"></i></a></td>
						</tr>
					</table>
					<logbi-table load-data-url="newsBO.ajax?cmd=queryNewsThumbnailInfo" outter-scope-object="newsManageMainWinTable" init-callback="newsManageMainWinTableInitCallback"></logbi-table>
				</div>
				<div class="col-md-7" id="container"></div>
				<div class="col-md-2" style="padding-right: 10px;">
					<div>
						<form name="myForm">
						<table width="100%" border="0" cellspacing="0" cellpadding="0" class="news_table">
							<tr>
								<td><textarea placeholder="标题(必填)" ng-model="newsInfo.title" class="form-control w180" style="height: 80px;" type="text" maxlength='255' id="newsInfoTitle"></textarea></td>
							<tr>
							<tr>
								<td><input placeholder="来源(选填，默认‘握物流’)" ng-model="newsInfo.source" value="握物流" class="form-control w180" type="text" maxlength='125'/></td>
							</tr>
							<tr>
								<td><div class="ui-select w180"><my-select code-type="CODE_TYPE_SYS_NEWS@TYPE" id="newsInfoType"></my-select></div></td>
							</tr>
							<tr>
								<td align="center">
									<image-upload></image-upload>
								</td>
							</tr>
							<tr ng-if="newsInfo.stateName.length > 0">
								<td>状态：<span style="color:  #ff7800;">{{newsInfo.stateName}}</span></td>
							</tr>
							<tr ng-if="newsInfo.createDate.length > 0">
								<td>创建时间：<span style="color:  #ff7800;">{{newsInfo.createDate}}</span></td>
							</tr>
							<tr ng-if="newsInfo.auditDate.length > 0">
								<td>审核时间：<span style="color:  #ff7800;">{{newsInfo.auditDate}}</span></td>
							</tr>
						</table>
						</form>
					</div>
					<ul class="protal_menu">
						<li>
							<a ng-click="clearUEditorData();"><i class="icon-trash"></i><span>清空</span></a>
						</li>
						<li>
							<a ng-click="saveUEditorData();"><i class="icon-save"></i><span>保存</span></a>
						</li>
						<li>
							<a ng-click="submitAuth();"><i class="icon-share"></i><span>提交审核</span></a>
						</li>
						<li>
							<a ng-click="authContent();"><i class="icon-ok"></i><span>审核通过</span></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>
	<!-- scripts -->
<!-- 	<script src="../js/bootstrap.min.js"></script>
 --> <script src="../js/jquery/jquery.min.js"></script>
	<!--[if !IE]> -->
	<script src="../js/angular/angular.min.js"></script>
	<!-- <![endif]-->
	<!--[if lte IE 8 ]>
	<script src="../js/angular-1.2.19/angular.min.js"></script>
	<![endif]-->
	<!--[if !lte IE 8 ]>
	<script src="../js/angular/angular.min.js"></script>
	<![endif]-->
	<script src="../js/angular/angular-mocks.js"></script>
	<script src="../js/angular/angular-route.js"></script>
<!-- 	<script src="../../js/paging.js?v=2.7.6"  charset="utf-8"></script>-->
<!-- 	<script src="../../js/theme.js"></script>
 --><!-- 	<script src="../../js/selectCity.js" type="text/javascript"></script>
 -->	<!-- <script src="../../js/codemirror.js"></script> -->
	<script src="../js/fileupload/angular-file-upload-shim.js"></script>
	<script src="../js/fileupload/angular-file-upload.js"></script>
	<script src="../js/fileupload/upload.js"></script>
	<script src="../js/angular/angular-messages.js"></script>
	<script type="text/javascript" src="../js/base64.js"></script>
	<script type="text/javascript" src="../js/md5.js"></script>
	<script src="../js/common.js"></script>
    <script src="newsManage.js"></script>
</html>