<div class="popup" ng-show="isShowIMgBig" style="position: fixed; z-index: 2000000; border-radius: 5px;border-top:0; background: white;width: 750px;height: 520px;margin-left: -370px;left: 50%;top:10px">	
  <div ng-click="loadcosle()" style="cursor: pointer;overflow-y: hidden;width: 750px;height: 490px;" id="exceImage3ImgBigDIV">
   <img width="750" id="picId" height="480" ng-src="{{imageFullUrl}}"></div>		
	  <div style=" width: 710px; display: block; overflow: hidden; padding-left: 20px; padding-right: 20px;/* position:absolute; */bottom: 0;" class="MagicThumb-caption"><b style="float: right;">点击图片关闭</b>
<!-- 		  <div class="img2"><img title="旋转" ng-click="imgRotate('picId','left')" style="cursor: pointer;" src="../../image/$tenantId$/xz.png">
		  </div> -->
	  </div>	
  </div>
 <div class="" ng-show="isShowIMgBig" style="position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; z-index: 1999999; opacity: 0.5; text-align: center; background: rgb(102, 102, 102);"></div>