        <!-- 专线签收详情开始 -->
<div class="waybill_title"><h2 class="title_h2"><i class="icon title_icon fl"></i>签收信息</h2></div>
		<div class="mkae" style=" position: relative;border-top:1px solid #e0e5e9;">
        	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="notice">
                  <tr>
                    <td width="12%" class="notice_fa">运单号</td>
                    <td width="15%" class="notice_sz">{{notify.trackingNum}}</td>
                    <td width="10%" class="notice_fa">开单日期</td>
                    <td width="15%" class="notice_sz">{{notify.createDate}}</td>
                    <td width="10%" class="notice_fa">回单号</td>
                    <td width="15%" class="notice_sz">{{notify.receiptNum}}</td>
                    <td width="12%" class="notice_fa">回单份数</td>
                    <td class="notice_sz">
                       <span ng-show="notify.receiptCount > 0 && notify.receiptCount != ''"> {{notify.receiptCount}} 份</span>
                    </td>
                  </tr>
                  <tr>
                    <td class="notice_fa">发货方</td>
                    <td class="notice_sz">{{notify.consignorName}}</td>
                    <td class="notice_fa">发货联系人</td>
                    <td class="notice_sz">{{notify.consignorLinkmanName}}</td>
                    <td class="notice_fa">发货联系电话</td>
                    <td class="notice_sz">{{notify.consignorTelephone}}</td>
                    <td class="notice_fa">发货人手机</td>
                    <td class="notice_sz">{{notify.consignorBill}}</td>
                  </tr>
                  <tr>
                    <td class="notice_fa">收货方</td>
                    <td class="notice_sz">{{notify.consigneeName}}</td>
                    <td class="notice_fa">收货联系人</td>
                    <td class="notice_sz">{{notify.consigneeLinkmanName}}</td>
                    <td class="notice_fa">收货联系电话</td>
                    <td class="notice_sz">{{notify.consigneeTelephone}}</td>
                    <td class="notice_fa">收货人手机</td>
                    <td class="notice_sz">{{notify.consigneeBill}}</td>
                  </tr>
                  <tr>
                    <td class="notice_fa">
                    	<div class="notice_tip">
                        	<span class="fl">配送方式</span>
                        	<a class="notice_a fl" href="">
	                        	<i class="notes icon fl"></i>
	                            <span class="notice_tipnr" style="display: none;">
	                            	<div class="arrow-up"></div>
	                                <p class="notice_tipp">配送方式变更，可导致费用变更。</p>
	                            </span>
                            </a>
                        </div>
                    </td>
                    <td class="notice_sz">{{notify.deliveryTypeName}}</td>
                    <!-- <div class="notice_select w_b100">
                                <select>
                                    <option selected="">自提</option>
                                    <option>自提1</option>
                                    <option>自提2</option>
                                </select>
                            </div>
                            </td> -->
                    <td class="notice_fa">楼层</td>
                    <td class="notice_sz">{{notify.floor}}</td>
                    <td class="notice_fa">配送区域</td>
                    <td class="notice_sz">{{notify.descRegionName}}</td>
                    <td class="notice_fa">到付（元） </td>
                    <td class="notice_sz">{{notify.freightCollect != 0 && notify.freightCollect != "" ?  notify.freightCollect/100 : ""}}</td>
                  </tr>
                  <tr>
                   
                    <td class="notice_fa">收货详细地址</td>
                    <td class="notice_sz" colspan="5">{{notify.address}}</td>
                     <td class="notice_fa">代收货款（元）</td>
                    <td class="notice_sz">{{notify.collectingMoney != 0  &&  notify.collectingMoney != "" ? notify.collectingMoney/100  : ""}}</td>
                  </tr>
                  <tr>
                    <td class="notice_fa">货物重量(kg)</td>
                    <td class="notice_sz">{{notify.weight}}</td>
                    <td class="notice_fa">货物类型</td>
                    <td class="notice_sz">{{notify.goodsTypeName}}</td>
                    <td class="notice_fa">包装类型</td>
                    <td class="notice_sz">{{notify.packingTypeName}}</td>
                    <td class="notice_fa">货物数量</td>
                    <td class="notice_sz">{{notify.goodsCount}}</td>
                   <!--  <td class="notice_fa">收货地址</td>
                    <td class="notice_sz" colspan="3">
                    	<input type="text" class="notice_input" style="background:#fff" ng-model="notify.address"  placeholder="请输入电话号码" >
                    	{{notify.address}}
                        <span style="display:none" >揭阳网点地址（自提）、其他交接方式手动输入</span>
                        有输入用第一种  没有输入直接是文字
                    </td> -->
                    </tr>
                  <tr>
                    <td class="notice_fa">签收人</td>
                    <td class="notice_f1">
                        <input type="text"  class="notice_input" style="background:#fff;width: 90%;" ng-model="notify.signName" maxlength="20" readonly="readonly"/>
                    </td>
                    <td class="notice_f1"></td>
                    <td class="notice_f1"></td>
                  <!--   <td class="notice_fa">签收状态</td>
                    <td class="notice_f1">{{notify.signStatusName}}</td> -->
                    <td class="notice_fa">派件员</td>
                    <td class="notice_f1">{{notify.deliveryManName}}</td>
                    <td class="notice_fa">
                      <!--   <input ng-if="notify.freightCollect/100>0" id="check-3" class="none" type="checkbox"  ng-show="notify.orderState != 5" ng-disabled="all"  name="check-3" />
                        <label ng-if="notify.freightCollect/100>0" style="float: left;" for="check-3" ng-show="notify.orderState != 5"><span class="billing_an end">到付款已收</span></label> -->
                    </td>
                    <td class="notice_f1"></td>
                  </tr>
                   <tr>
                    <td class="notice_fa"><em>*</em>签收类型</td>
                    <td class="notice_sz">
                    <div class="notice_select w_b80" style="border: 1px solid #dee6e9;">
                         <select ng-model="notify.signType"  disabled="disabled">
				     		<option value="-1">请选择</option>
                           	<option ng-repeat="obj in signTypeList"  value="{{obj.codeValue}}" ng-selected="obj.codeValue==notify.signType">{{obj.codeName}}</option>
						</select>
                    </div>
                    </td>
                     <td class="notice_fa">证件类型</td>
                    <td class="notice_sz">
                    <div class="notice_select w_b80" style="border: 1px solid #dee6e9;">
<!--                         <my-select id="notify.certificateType" code-type="CERTIFICATE_TYPE" url=""/> -->
                        <select ng-model="notify.certificateType"  ng-init="notify.certificateType=-1" disabled="disabled">
				     		<option value="-1">请选择</option>
                           	<option ng-repeat="obj in certificateTypeList"  value="{{obj.codeValue}}"   ng-selected="obj.codeValue==notify.certificateType">{{obj.codeName}}</option>
						</select>
                    </div>
                    </td>
                     <td class="notice_fa">证件号</td>
                    <td class="notice_sz">
                            <input type="text" readonly="readonly" class="notice_input" style="background:#fff;border: 1px solid #dee6e9;width: 90%;" ng-model="notify.certificateNumber" maxlength="20"/>
                    </td>
                    <td class="notice_fa">签收凭证</td>
                    <td class="notice_f1">
                      <div class="controls">
	                       <span my-File-Model="myFile" is-Close="false"  is-Show="false"></span>
	                  </div>
                        <!--  <input type="text" class="notice_input" style="background:#fff" ng-model="ordNotify.imagePath"  placeholder="请输入签收凭证" /> -->
                     </td>
                   </tr>
                   <tr>
                    <td class="notice_fa">备注</td>
                    <td class="notice_sz" colspan="7">
                        <input type="text"  class="notice_input" style="background:#fff" ng-model="notify.remark" maxlength="100" readonly="readonly"/>
                    </td>
                  </tr>
                </table>
</div>
 <!-- 专线签收详情 介绍-->	