<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="addCmCarrierCompanyApp">
<head>
<title></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="keywords" content="联运汇" />
<meta name="description" content="联运汇" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="../css/$tenantId$/icon.css?v=${ver}">
<link rel="stylesheet" type="text/css" href="../css/$tenantId$/public.css">
<link rel="stylesheet" type="text/css" href="../css/$tenantId$/head.css?v=${ver}">
<link rel="stylesheet" type="text/css" href="../css/$tenantId$/leftboxcs.css?v=${ver}">
<link rel="stylesheet" type="text/css" href="../css/$tenantId$/master.css">

</head>
<body ng-controller="addCmCarrierCompanyCtrl" >

	<!-- 网点设置 -->
	<div class="billing_1 clearfix pb_20 mt_20 plr_20"
		style="min-height: 300px">
		<form>
			<div class="billing_list">
				<table width="100%" border="0" cellspacing="0" cellpadding="0" class="search_table search_term" style="width: 700px;margin: 0 auto;">
				
				<!-- <tr>
						<td class="" width="120"><label class="term_label"><em>*</em>归属网点：</label></td>
						<td class="">
							<div class="ui-select">
									<select ng-model="data.orgId" 
										ng-options="obj.orgId as obj.orgName for  obj in orgInfo.items  ">
									</select>
							</div>
						</td>
						<td width="120"></td>
						<td></td> 
					</tr>-->
				    <tr>
						<td class=""><label class="term_label"><em>*</em>承运商：</label></td>
						<td class="" colspan="3">
							
							       <input  maxlength="15" ng-model="data.orgName" class="form_billing w_b100 ng-pristine ng-valid ng-valid-maxlength ng-touched"/>
						    
					    </td>
					</tr>
				    <tr>
						<td class=""><label class="term_label">联系人：</label></td>
						<td class="">
							
							       <input  maxlength="15" ng-model="data.orgPrincipal" class="form_billing w_b100 ng-pristine ng-valid ng-valid-maxlength ng-touched"/>
						   
					    </td>
					    <td class=""><label class="term_label"><em>*</em>联系电话：</label></td>
						<td class="">
							
							       <input  maxlength="16" ng-model="data.orgPrincipalPhone" class="form_billing w_b100 ng-pristine ng-valid ng-valid-maxlength ng-touched" />
						   
					    </td>
					</tr>
					<tr>
						<td class=""><label class="term_label"><em>*</em>提货省份：</label></td>
						<td class="">
							<div class="ui-select">
							   <select ng-model="data.provinceId" 
									ng-options="obj.id as obj.name for  obj in provinces" 
									ng-change="selectCity(data.provinceId)">
								</select>
							</div>
					    </td>
					    <td class=""><label class="term_label">提货城市：</label></td>
						<td class="">
							<div class="ui-select">
							   <select ng-model="data.regionId"
									ng-options="obj.id as obj.name for  obj in citys"
									ng-change="selectDistrict(data.regionId)">
								</select>
							</div>
					    </td>
					</tr>
				<tr>
						<td class=""><label class="term_label">提货区域：</label></td>
						<td class=""><div >
						    <div class="ui-select">
							    <select ng-model="data.countyId"
									ng-options="obj.id as obj.name for obj in districts">
								</select>
							</div>
						</td>
						<td class=""><label class="term_label">提货电话：</label></td>
						<td class="">
							
							     <input maxlength="13" ng-model="data.carryLinkPhone" type="text" class="form_billing w_b100 ng-pristine ng-valid ng-valid-maxlength ng-touched"/>
							
						</td>
					</tr>
					 <tr>
						<td class=""><label class="term_label">详细地址：</label></td>
						<td class="" colspan="3">
							<div >
							       <input  maxlength="100" ng-model="data.departmentAddress" class="form_billing w_b100 ng-pristine ng-valid ng-valid-maxlength ng-touched"/>
						    </div>
					    </td>
					</tr>
				</table>
			</div>
		</form>
	</div>
	<div class="bottom_nav1">
		<a href="javascript:void(0)" ng-click="doSave()">保 存</a><a
			href="javascript:void(0)" ng-click="close()">取 消</a>
	</div>
	<!--[if !IE]> -->
	<script src='../js/angular/angular.min.js'></script>
	<!-- <![endif]-->
	<!--[if lte IE 8 ]>
			<script src='../js/angular-1.2.19/angular.min.js'></script>
		<![endif]-->
	<!--[if !lte IE 8 ]>
			<script src='../js/angular/angular.min.js'></script>
		<![endif]-->
	<script type="text/javascript" src="../js/md5.js?v=${ver}"></script>
	<script type="text/javascript" src="../js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="../js/base64.js?v=${ver}"></script>
	<script type="text/javascript" src="../js/common.js?v=${ver}"></script>
	<script type="text/javascript" src="addCmCarrierCompanyCtrl.js?v=${ver}"></script>
</body>
</html>

