<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html ng-app="areaManagementApp"> 
	<head>
	    <title>${title}_专线查询 </title>
	    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="keywords" content="${title}"/> 
		<meta name="description" content="${title}" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />	
        <link rel="stylesheet" type="text/css" href="../css/$tenantId$/icon.css?v=${ver}">	
		<link rel="stylesheet" type="text/css" href="../css/$tenantId$/public.css?v=${ver}">
		<link rel="stylesheet" type="text/css" href="../css/$tenantId$/head.css?v=${ver}">
        <link rel="stylesheet" type="text/css" href="../css/$tenantId$/leftboxcs.css?v=${ver}">
        <link rel="stylesheet" type="text/css" href="../css/$tenantId$/master.css?v=${ver}">
       
</head>
	<body ng-controller="areaManagementCtrl" style="overflow:hidden" onLoad="setContentHeight()">
        <!-- 专线查询   start -->
        <div class="billing_1 clearfix pb_20 mt_20">
        	 
             <table width="100%" border="0" cellspacing="0" cellpadding="0" class="search_table search_term">
					<tbody>
					<tr>
						<td width="100"><label class="term_label">省份：</label></td>
						<td>
							<div class="form_select" >
								<select ng-model="query.province"   ng-options="obj.id as obj.name for obj in provinceData.items " ng-change="getCityData(query.province)">
								</select>
							</div>
						</td>
						<td width="100"><label class="term_label">城市：</label></td>
						<td>
						<div class="form_select" >
							<select ng-model="query.city"   ng-options="obj.id as obj.name for obj in cityData.items "  ng-change="getDistrictData(query.city)">
							</select>
						</div>
						</td>
						<td width="100"><label class="term_label">区域：</label></td>
						<td>
							<div class="form_select"   >
							<select ng-model="query.district"   ng-options="obj.id as obj.name for obj in districtData.items " >
							</select>
						</div>
						</td>
						
						<td rowspan="2"><div class="bottom_search search_button" style="position:inherit;"><a ng-click="doQuery();" ng-Enter href="javascript:void(0);">查询</a><a class="qink" href="javascript:void(0);" ng-click="clear();">清空</a></div></td>
					</tr>
					<tr>
						<td width="100">
							<label class="term_label">关键字：</label>
						</td>
						<td>
							<input class="form_term" ng-model="query.keyWords" maxlength="50"/>
						</td>
						<td width="100"><label class="term_label">服装城名称：</label></td>
						<td><input class="form_term" ng-model="query.clothCityName" maxlength="100"/></td>
						<td width="100"></td>
						<td></td>
						
					</tr>
					
				</tbody>
		</table>
        <div class="search_nr clearfix mt_20">
              <div class="bottom_nav pb_20 bottom_nav_search clearfix">
              <h2>查询结果</h2>
              <!-- <a href="javascript:void(0)">干线费用</a>
              <a href="javascript:void(0)">配安费用</a> -->
              <a ng-click="newAdd()" class="button ml_10 newly" href="javascript:void(0)">
             	 <i class="button_icon button_icon dw_newly"></i>新增
              </a>
              <a ng-click="update()" class="button ml_10 modify" href="javascript:void(0)">
             	 <i class="button_icon button_icon dw_modify"></i>修改
              </a>
              <a ng-click="delOrg()" class="button ml_10 delete" href="javascript:void(0)">
             	 <i class="button_icon button_icon dw_delete"></i>删除
              </a>
              </div>
              
             <my-Table-Cm head="head" table="page" url="url" param="query" is-Filter="false" id="id" table-name="areaManagement" ver="${ver}" after-Init-fn="doQuery()"  ></my-Table-Cm>
                
                
        	</div>
        	
        </div>
        <!-- 专线查询  end -->
 		
 		<!--[if !IE]> -->
	    <script src='../js/angular/angular.min.js'></script>
		<!-- <![endif]-->
		<!--[if lte IE 8 ]>
			<script src='../js/angular-1.2.19/angular.min.js'></script>
		<![endif]-->
		<!--[if !lte IE 8 ]>
			<script src='../js/angular/angular.min.js'></script>
		<![endif]-->
		<script type="text/javascript" src="../js/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="../js/jquery.js"></script>
		<script type="text/javascript" src="../js/md5.js"></script>
		<script type="text/javascript" src="../js/common.js?v=${ver}"></script>
		<script type="text/javascript" src="../js/base64.js?v=${ver}"></script>
		<script type="text/javascript" src="../js/My97DatePicker/WdatePicker.js?v=${ver}"></script>
		<script type="text/javascript" src="../js/table/tableCommon.js?v=${ver}"></script>
		<script type="text/javascript" src="areaManagementCtrl.js?v=${ver}"></script>
</body>
</html>

