<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html ng-app="auditUserManageApp" xmlns="http://www.w3.org/1999/xhtml" >
	<head>
	    <title>师傅实名认证</title>
	    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="keywords" content="一智通"/> 
		<meta name="description" content="一智通" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />	
        <link rel="stylesheet" type="text/css" href="../css/$tenantId$/icon.css?v=${ver}">	
		<link rel="stylesheet" type="text/css" href="../css/$tenantId$/public.css">
		<link rel="stylesheet" type="text/css" href="../css/$tenantId$/head.css?v=${ver}">
        <link rel="stylesheet" type="text/css" href="../css/$tenantId$/master.css?v=${ver}">
</head>
	<body ng-controller="auditUserManageCtrl">
		  <!-- 认证审核   start -->
        <div class="billing_1 clearfix pb_20 mt_20">
        	 
             <table width="100%" border="0" cellspacing="0" cellpadding="0" class="search_table search_term">
					<tbody>
					<tr>
						<td width="140"><label class="term_label">师傅名称：</label></td>
						<td><input ng-disabled="1==1" class="form_term" ng-model="cmSfUser.name" maxlength="10"/></td>
						<td width="140"><label class="term_label">籍贯：</label></td>
						<td><input ng-disabled="1==1" class="form_term" ng-model="cmSfUser.native_" maxlength="10"/></td>
						<td>
							<label class="term_label">师傅手机：</label>
						</td>
						<td>
							<input class="form_term" ng-disabled="1==1" ng-blur="checkPhone();" ng-model="cmSfUser.phone" maxlength="11"/>
						</td>
						
					</tr>
					<tr>
						<td><label class="term_label">服务省：</label></td>
						<td><div class="search_select">
								<select name="select" ng-disabled="1==1" class="xl_z" id="provinceId"  ng-model="cmSfUser.provinceId" ng-change="queryCity()"  ng-options="province.id as province.name for  province in provinces">
								<option value="">请选择服务省</option>
								</select>
								<input id="provinceName" value="" ng-model="cmSfUser.provinceName" type="hidden" />
							</div></td>
						
						<td><label class="term_label">服务市：</label></td>
						<td><div class="search_select">
								<select name="select" ng-disabled="1==1" class="xl_z" id="cityId" ng-model="cmSfUser.cityId"  ng-click="selectCity()" ng-options="objCon.id as objCon.name for  objCon in citys">
								<option value="">请选择服务市</option>
								</select>
							</div></td>
								<td width="100"><label class="control-label w_100">服务区域：</label></td>
					<td>
						<input class="input_box search_select" id="districts" ng-readonly="setReadOnly" ng-click="queryDistrict()" ng-model="cmSfUser.districtNames" style="width: 100%;" type="text" />
						<!-- 下拉选择-->
						<div id="selectItem" class="drop_down" style=" width:397px;min-height:200px;" ng-show="isAreaShow">
							<div class="drop_down_1 clearfix" style="min-height:198px;">
								<h2>选择服务区域(可多选)</h2>
								<div class="drop_down_nr" ng-repeat="district in districts">
								<a href="#" ng-click="selDistrict(this)" ng-class="districtIds.district_{{district.id}}" >{{district.name}}</a>
								</div>
								<div class="drop_down_ann" ng-show="setReadOnly!=true"><a class="drop_down_a" href="#" ng-click="selectAllDistrict()">全选</a><a class="drop_down_a" href="#" ng-click="districtConfirm()">确定</a><a class="drop_down_a" href="#" ng-click="isAreaShow=false">关闭</a></div>
						</div>
					</div>
					</td>
					</tr>
					<tr>
						<td><label class="term_label">合作方式：</label></td>
						<td><div class="search_select">
								<my-select id="cmSfUser.cooperationType"  has-all="false" default-value=""
									code-type="COOPERATION_TYPE" url-param='' />
							</div></td>
						<td>
							<label class="term_label">账户类型：</label>
						</td>
						<td>
							<div class="search_select">
		 						<my-select id="cmSfUser.receiType"  has-all="false" default-value=""
									code-type="ACCT_RECC_TYPE" url-param='' />
                            </div>
						</td>
						<td><label class="term_label">持卡人/帐户名：</label></td>
						<td><input class="form_term" ng-disabled="1==1" ng-model="cmSfUser.accountName" maxlength="11"/></td>
					</tr>
					<tr>
						<td ng-show="cmSfUser.receiType==1"><label class="term_label">归属银行：</label></td>
						<td  ng-show="cmSfUser.receiType==1"><div class="search_select">
		 						<my-select id="cmSfUser.bankType"  has-all="false" default-value=""
									code-type="BANK_TYPE" url-param='' />
                            </div></td>
						<td>
							<label class="term_label">卡号/帐号：</label>
						</td>
						<td>
							<input ng-disabled="1==1" class="form_term" ng-model="cmSfUser.bankAccount" maxlength="20"/>
						</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						
					</tr>
					<tr>
						
						<td>
							<label class="term_label">身份证正面：</label>
						</td>
						<td>
						<div>
						<ul class="dd_cx clearfix">
							<li><span my-File-Model="imageCounter" is-Close="true" ></span></li>
						</ul>
						</div>
						</td>
						<td>
							<label class="term_label">身份证背面：</label>
						</td>
						<td>
						<div>
						<ul class="dd_cx clearfix">
							<li><span my-File-Model="imagePositive" is-Close="true" ></span></li>
						</ul>
						</div>
						</td>
						<td></td>
						<td></td>
						
					</tr>
					<tr>
						
						<td>
							<label class="term_label">仓库地址：</label>
						</td>
						<td colspan="5">
						<input class="form_term" ng-disabled="1==1" style="width: 95%" ng-model="cmSfUser.storeAddr" maxlength="200"/>
						</td>
						
						
					</tr>
					<tr>
								<td colspan="6">
						<div style="margin-top:30px;">
							<table width="100%" border="0" cellspacing="0" cellpadding="0">
							  <tr>
								<td>&nbsp;</td>
								<td>
									<div class="addition_div">
										<div class="addition_2" id="addition_2" ng-show="showServiceInfo">
											<dl class="clearfix" id="addition_3" ng-repeat=" serObj in cmSfUser.showSfServices"><div ng-if="serObj!=''"><dt>{{serObj.serName}}/{{serObj.serChildName}}：</dt><dd>{{serObj.installName}}</dd><dd>{{serObj.sendName}}</dd><dd>{{serObj.sendAndInstallName}}</dd><dd ng-show="setReadOnly!=true"><a class="addition_2_a mt_10" href="javascript:void(0);"  ng-click="delSelService(serObj.serChildId)"></a></dd></div></dl>
										</div>
									</div>
								</td>
							  </tr>
							</table>
							</div>
						</td>
				  </tr>
				  <tr>
					<td width="100"><label class="control-label w_100">增值服务：</label></td>
					<td colspan="5">
						<ul class="addition_gx clearfix">
							<li>
								<div class=" fl addition_gx_input">
									<input id="check-1" class="none input_gx" ng-model="cmSfUser.valueService.maintain" ng-disabled="setReadOnly" ng-true-value="1" ng-false-value="-1" type="checkbox">
									<label for="check-1" class="input_for">维护</label>
								</div>
								<!-- 维修 勾选显示  开始-->
								<ul class="addition_gx_z clearfix fl">
									<li><div class="triangle-left"></div></li>
									<li>
										<div class=" fl addition_gx_input">
											<input id="check-4" class="none input_gx" ng-model="cmSfUser.valueService.maintainAttr.skin" ng-disabled="setReadOnly" ng-true-value="1" ng-false-value="-1" type="checkbox">
											<label for="check-4" class="input_for">皮革</label>
										</div>
									</li>
									<li>
										<div class=" fl addition_gx_input">
											<input id="check-5" class="none input_gx" ng-model="cmSfUser.valueService.maintainAttr.wood" ng-disabled="setReadOnly" ng-true-value="2" ng-false-value="-1" type="checkbox">
											<label for="check-5" class="input_for">板式</label>
										</div>
									</li>
									<li>
										<div class=" fl addition_gx_input">
											<input id="check-6" class="none input_gx" ng-model="cmSfUser.valueService.maintainAttr.other" ng-disabled="setReadOnly" ng-true-value="3" ng-false-value="-1" type="checkbox">
											<label for="check-6" class="input_for">其他</label>
										</div>
									</li>
								</ul>
								<!-- 维修 勾选显示  结束-->
							</li>
							<li>
								<div class=" fl addition_gx_input">
									<input id="check-2" class="none input_gx" ng-model="cmSfUser.valueService.yanghu" ng-disabled="setReadOnly"  ng-true-value="3" ng-false-value="-1" type="checkbox">
									<label for="check-2" class="input_for">养护</label>
								</div>
							</li>
							<li>
								<div class=" fl addition_gx_input">
									<input id="check-3" class="none input_gx" ng-model="cmSfUser.valueService.returnGoods" ng-disabled="setReadOnly" ng-true-value="2" ng-false-value="-1" type="checkbox">
									<label for="check-3" class="input_for">返货</label>
								</div>
							</li>
						</ul>
					</td>
					
				  </tr>
					<tr>
						
						<td>
							<label class="term_label">审核原因：</label>
						</td>
						<td colspan="5">
							
							<textarea class="yic_text" ng-model="cmSfUser.auditReason" style="width: 95%" ></textarea>
						</td>
						
						
					</tr>
					
				</tbody>
		</table>
        <div class="tx_tc_button">
					<a class="search_button_ss"  ng-click="toAuditSfUser(2);" href="javascript:void(0);">审核通过</a>
					<a class="search_button_cz"  ng-click="toAuditSfUser(4);" href="javascript:void(0);" style="width: auto;padding: 0 10px;">审核不通过</a>
					<a class="search_button_cz" ng-click="doClose();"  href="javasript:void(0);">关闭</a></div>
        <!-- 认证审核  end -->
        
        
        
        
        
 		<!--[if !IE]> -->
	    <script src='../js/angular/angular.min.js'></script>
		<!-- <![endif]-->
		<!--[if lte IE 8 ]>
			<script src='../js/angular-1.2.19/angular.min.js'></script>
		<![endif]-->
		<!--[if !lte IE 8 ]>
			<script src='../js/angular/angular.min.js'></script>
		<![endif]-->
			<script type="text/javascript" src="../js/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="../js/md5.js"></script>
		<script type="text/javascript" src="../js/common.js?v=${ver}"></script>
		<script type="text/javascript" src="../js/base64.js?v=${ver}"></script>
		<script type="text/javascript" src="auditInstallUserCtrl.js?v=${ver}"></script>
	</body>
</html>

