<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html ng-app="cmCarrierCompanyApp">
	<head>
	    <title>联运汇_承运商管理 </title>
	    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="keywords" content="联运汇"/> 
		<meta name="description" content="联运汇" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />	
        <link rel="stylesheet" type="text/css" href="../css/$tenantId$/icon.css?v=${ver}"/>	
		<link rel="stylesheet" type="text/css" href="../css/$tenantId$/public.css?v=${ver}"/>
		<link rel="stylesheet" type="text/css" href="../css/$tenantId$/head.css?v=${ver}"/>
        <link rel="stylesheet" type="text/css" href="../css/$tenantId$/leftboxcs.css?v=${ver}"/>
        <link rel="stylesheet" type="text/css" href="../css/$tenantId$/master.css?v=${ver}"/>
        
</head>
	<body ng-controller="cmCarrierCompanyCtrl" style="overflow: hidden;"  onload="setContentHegthDelay(800)">
        <!-- 问题处理-回显 -->
        <div class="billing_1 clearfix pb_20 mt_20" >
        
        		<table width="100%" border="0" cellspacing="0" cellpadding="0" class="search_table search_term">
					<tbody><tr>
						
						<td width="100"><label class="term_label">提货省份：</label>
                    	</td>
						<td>
                   		<div class="form_select" >
                               <select ng-model="data.provinceId" 
									ng-options="obj.id as obj.name for  obj in provinces " 
									ng-change="selectCity(data.provinceId)">
									<option value="">请选择提货省</option>
								</select>
                        </div>
                       
                        </td>
						<td width="100"><label class="term_label">提货城市：</label>
                    	</td>
						<td><div class="form_select" >
                               <select ng-model="data.regionId"
									ng-options="obj.id as obj.name for  obj in citys "
									ng-change="selectDistrict(data.regionId)">
									<option value="">请选择提货城市</option>
								</select>
                        </div>
						</td>
						<td width="100"><label class="term_label">提货区域：</label>
                    	</td>
						<td><div class="form_select" >
                               <select ng-model="data.countyId"
									ng-options="obj.id as obj.name for obj in districts " >
									<option value="">请选择提货区域</option>
								</select>
                        </div>
                            
                        </td>
						
						<td rowspan="2">
							<div class="bottom_search search_button" style="position:inherit;"><a ng-click="doQuery();" ng-Enter href="javascript:void(0);">查询</a><a class="qink" href="javascript:void(0);" ng-click="clear();">清空</a></div>
							
						</td>
						
					</tr>
					<tr>
						
						<td width="100"><!-- <label class="term_label">经营方式：</label> -->
						</td>
						<td>
                   		<!--  
                    	<div class="form_select w_b60 " >
                               <select ng-model="data.orgId"
									ng-options="obj.orgId as obj.orgName for  obj in orgInfo ">
								</select>
                        </div>-->
                       
                        </td>
						<td width="100"></td>
                    	<td></td>
						<td width="100"><!-- <label class="term_label">归属网点：</label> -->
                    	</td>
						<td>
                   			<!-- <div class="form_select" >
                               <select ng-model="data.orgId"
									ng-options="obj.orgId as obj.orgName for obj in orgInfo.items ">
								</select>
                        </div> -->
                        </td>
						
					</tr>
					
					
					
				</tbody>
		</table>
                
                 <div class="search_nr clearfix mt_20">
                <div class="bottom_nav pb_20 bottom_nav_search clearfix">
	                <h2>查询结果</h2>
	                <a class="button ml_10 newly" href="javascript:void(0)" ng-click="toSave()"><i class="button_icon button_icon dw_newly"></i>新增</a>
	                <a class="button ml_10 modify" href="javascript:void(0)" ng-click="toUpdate()"><i class="button_icon button_icon dw_modify"></i>修改</a>
	                <a class="button ml_10 delete" href="javascript:void(0)" ng-click="doDel()"><i class="button_icon button_icon dw_delete"></i>删除</a>
	                
                </div>
               <!--  <my-table>
                
                		<table width="100%" border="0" cellspacing="0" cellpadding="0"  class="waybill_table_list">
                                <thead>
                                  <tr>
                                    <th style="width:50px" class="search_list_border"><div class="controls"><input class="none" id="checkbox" type="checkbox"  ng-click="selectAll();" name="checkbox"><label for="checkbox"></label></div></th>
                                    <th width="10%">承运商</th>
                                    <th width="10%">联系人</th>
                                    <th width="10%">联系电话</th>
                                    <th width="25%">提货地址</th>
                                    <th width="10%">提货电话</th>
                                    <th width="10%">归属网点</th>
                                    <th width="15%">创建时间</th>
                                    <th width="10%">创建人</th>
                                  </tr>
                                </thead>
                        
                                <tbody>
                                  <tr ng-class="{'search_list_tr':$index%2==1}"   class="ng-cloak"  ng-repeat="o in page.data.items" ng-click="selectOne(o.id)">
                                    <td style="width:50px" class="search_list_border"><div class="controls"><input id="checkbox{{o.id}}" class="none" value="{{o.id}}" type="checkbox" ng-click="selectOne(o.id)" name="check-1" ><label for="check-1"></label></div></td>
                                    <td width="10%">{{o.carrierName}}</td>
                                    <td width="10%">{{o.linkMan}}</td>
                                    <td width="10%">{{o.linkBill}}</td>
                                    <td width="25%" style="white-space:inherit;">{{o.provinceName}}{{o.cityName}}{{o.districtName}}{{o.address}}</td>
                                    <td width="10%">{{o.bill}}</td>
                                    <td width="10%">{{o.orgName}}</td>
                                    <td width="15%">{{o.createDate}}</td>
                                     <td width="10%">{{o.opName}}</td>
                                  </tr>
                                </tbody>
                              </table>
                    
             </my-table> -->
                  <my-Adv-Table 
                isShowSeq="false" 
                isMultiSelect="false" 
                isShowCheck=true 
                isFilter="false" 
                isSum="false" 
                width="100%"
                id="orgId" 
                head='[
                {"name":"承运商","code":"orgName","width":"20%"},
                {"name":"联系人","code":"orgPrincipal","width":"20%"},
                {"name":"联系电话","code":"orgPrincipalPhone","width":"20%"},
                {"name":"提货地址","code":"address","width":"20%"},
                {"name":"提货电话","code":"carryLinkPhone","width":"16%"}
                ]'>
                </my-Adv-Table>
		</div>
        </div>
 		<!-- <script type="text/javascript" src="../js/x.js"></script> -->
        <!--[if !IE]> -->
	    <script src='../js/angular/angular.min.js'></script>
		<!-- <![endif]-->
		<!--[if lte IE 8 ]>
			<script src='../js/angular-1.2.19/angular.min.js'></script>
		<![endif]-->
		<!--[if !lte IE 8 ]>
			<script src='../js/angular/angular.min.js'></script>
		<![endif]-->
		<script type="text/javascript" src="../js/md5.js?v=${ver}"></script>
		<script type="text/javascript" src="../js/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="../js/common.js?v=${ver}"></script>
		<script type="text/javascript" src="cmCarrierCompanyCtrl.js?v=${ver}"></script>
</body>
</html>

