<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html ng-app="installUserManageApp" xmlns="http://www.w3.org/1999/xhtml" >
	<head>
	    <title>合作公司</title>
	    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="keywords" content="一智通"/> 
		<meta name="description" content="一智通" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />	
        <link rel="stylesheet" type="text/css" href="../css/$tenantId$/icon.css?v=${ver}">	
		<link rel="stylesheet" type="text/css" href="../css/$tenantId$/public.css">
		<link rel="stylesheet" type="text/css" href="../css/$tenantId$/head.css?v=${ver}">
        <link rel="stylesheet" type="text/css" href="../css/$tenantId$/master.css?v=${ver}">
</head>
	<body ng-controller="installUserManageCtrl" onload="setContentHegthDelay(800)" >
		<div class="billing_1">
			<div id="vehicle">
			<div class="search">
				<table width="100%" border="0" cellspacing="0" cellpadding="0" class="search_table">
				  <tr>
					<td width="150"><label class="control-label">省份：</label></td>
					<td>
						<div class="search_select w_146">
							<select name="select" class="xl_z" ng-model="query.provinceId" ng-change="queryCity()" ng-disabled="all" ng-options="province.id as province.name for  province in provinces">
								<option value="">请选择服务省</option>
								</select>
						</div>					
					</td>
					<td width="100"><label class="control-label w_100">地市：</label></td>
					<td><div class="search_select w_146 fl">
								<select name="select" class="xl_z" ng-model="query.cityId" ng-disabled="all" ng-click="selectCity()" ng-options="objCon.id as objCon.name for  objCon in citys">
								</select>						</div></td>
					<td width="100"><label class="control-label w_100">常规服务：</label></td>
					<td><div class="search_select w_146">
							<my-select id="query.commonServiceId" code-type="SCHE_SERVICE_TYPE" has-all="true" default-value="-1" url="" />
						</div></td>
					<td rowspan="2">
						<div class="search_button"><a class="search_button_ss" href="javaScript:void(0)" ng-Enter ng-click="doQuery()">搜索</a>  <a class="search_button_cz" href="javaScript:void(0)" ng-click="clear();">重置</a></div>					</td>
				  </tr>
				  <tr>
					<td width="150"><label class="control-label">增值服务：</label></td>
					<td><div class="search_select w_146">
						<my-select id="query.valueServiceId" code-type="SCHE_VALUE_SERVICE_TYPE" has-all="true" default-value="-1" url="" />
						</div>
					</td>
					<td><label class="control-label">合作商名称：</label></td>
					<td><input class="input_box" ng-model="query.companyName" type="text" /></td>
					<td width="100"><label class="control-label w_100">合作商账号：</label></td>
					<td><input class="input_box" ng-model="query.companyAcct" type="text" /></td>
					<td width="100"></td>
					<td></td>
				  </tr>
				   <tr>
					<td width="150"><label class="control-label">货品类型：</label></td>
					<td>
						<div class="search_select w_146">
						<select name="select" class="xl_z" ng-model="query.commonChildServiceId"  ng-disabled="all" ng-options="productService.prodId as productService.name for  productService in childServiceItmes">
								<option value="">请选择货品类型</option>
						</select>		
						</div>	
					</td>
				  </tr>
				</table>

			</div>
			<div class="waybill_title clearfix">
				<h2 class="title_h2 fl"><i class="icon title_icon fl"></i>合同公司列表</h2>
				<div class="fr mt15_mr20">
					<a class="button ml_10 newly" href="#" ng-click="toAdd()"><i class="button_icon button_icon dw_newly"></i>新增</a>
					<a class="button ml_10 modify" href="#" ng-click="toModify()"><i class="button_icon button_icon dw_modify"></i>修改</a>
					<a class="button ml_10 delete" href="#" ng-click="toDel()"><i class="button_icon button_icon dw_delete"></i>删除</a>
					
				</div>
			</div>
			 <my-table>
			  <div id="size" class="zz_list ng-scope table_height" style="overflow:auto;">
			<table width="100%" border="0" cellspacing="0" cellpadding="0"  class="search_lista">
				  <thead id="tb1">
				  	<tr>
						<th width="79"><div class="input_z">
	                  			<input id="checkboxa" class="none input_gx" ng-click="selectAll('check-1','checkboxa');" type="checkbox">
	            				<label for="checkboxa"></label>
	          				</div></th>
						<th width="8%">省</th>
						<th width="8%">市</th>
						<th width="20%">服务区域</th>
						<th width="10%">合作商名称</th>
						<th width="8%">合作商账号</th>
						<th width="10%">最大接单数(单)</th>
						<th width="10%">仓库体积(立方)</th>
						<th width="20%">仓库地址</th>
				  </tr>
				  </thead>
				  <tbody>
                                  <tr ng-class="{'search_list_tr':$index%2==0}"  class="ng-cloak" ng-click="selectOne(o.contractId,'checkbox');" ng-repeat="o in page.data.items">
                                  	<td width="79" class="search_list_border"><div class="controls"><input id="checkbox{{o.contractId}}" class="none input_gx" value="{{o.contractId}}" type="checkbox" name="check-1" ><label for="check-1"></label></div></td>
                                    <td width="8%">{{o.provinceName}}</td>
                                    <td width="8%">{{o.cityName}}</td>
                                    <td width="20%" class="too_long" style="width: 25%">{{o.areas}}</td>
                                    <td width="10%">{{o.contractCompanyName}}</td>
                                    <td width="8%">{{o.tanentCode}}</td>
                                    <td width="10%">{{o.lastAcceptOrders}}</td>
                                    <td width="10%">{{o.storeSquare}}</td>
                                    <td width="20%">{{o.storeAddr}}</td>
                                  </tr>
				  </tbody>
			</table></div>
			</my-table>
			</div>
		</div>
 		<!--[if !IE]> -->
	    <script src='../js/angular/angular.min.js'></script>
		<!-- <![endif]-->
		<!--[if lte IE 8 ]>
			<script src='../js/angular-1.2.19/angular.min.js'></script>
		<![endif]-->
		<!--[if !lte IE 8 ]>
			<script src='../js/angular/angular.min.js'></script>
		<![endif]-->
			<script type="text/javascript" src="../js/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="../js/md5.js"></script>
		<script type="text/javascript" src="../js/common.js?v=${ver}"></script>
		<script type="text/javascript" src="../js/base64.js?v=${ver}"></script>
		<script type="text/javascript" src="contractCompanyManageCtrl.js?v=${ver}"></script>
	</body>
</html>

