<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="modifyCmUserInfoPwdApp">
<head>
<title>${title}_修改密码</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="keywords" content="${title}" />
<meta name="description" content="${title}" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="../css/$tenantId$/icon.css?v=${ver}">
<link rel="stylesheet" type="text/css" href="../css/$tenantId$/public.css">
<link rel="stylesheet" type="text/css" href="../css/$tenantId$/head.css?v=${ver}">
<link rel="stylesheet" type="text/css" href="../css/$tenantId$/leftboxcs.css?v=${ver}">
<link rel="stylesheet" type="text/css" href="../css/$tenantId$/master.css">

</head>
<body ng-controller="modifyCmUserInfoPwdCtrl" >

	<!-- 网点设置 -->
	<div class="billing_1 clearfix pb_20 mt_20 plr_20"
		style="min-height: 500px">
		<form>
			<div class="billing_list xianlusz">
				<table width="100%" border="0" cellspacing="0" cellpadding="0" class="search_table com_liest">
					
					<tr>
						<td class="list_td"><label class="list_label">密码：</label></td>
						<td class="list_td">
							<div >
							     <input maxlength="16"  ng-model="user.password" type="password" class="form_billing ng-pristine ng-valid ng-valid-maxlength ng-touched"/>
							</div>
						</td>
					</tr>
					
					<tr>
						<td class="list_td"><label class="list_label">确认密码：</label></td>
						<td class="list_td">
							<div >
							     <input maxlength="16"  ng-model="user.confirmPassword" type="password" class="form_billing ng-pristine ng-valid ng-valid-maxlength ng-touched"/>
							</div>
						</td>
					</tr>
					
					<tr>
						<td></td>
						<td><div class="bottom_nav1" style="text-align: left;">
							<a style="margin: 0 10px 0 0 " href="javascript:void(0)" ng-click="doSave()">保 存</a>
							<a style="margin: 0 10px 0 0 " href="javascript:void(0)" ng-click="close()">取 消</a>
						</div></td>
					</tr>
				</table>
			</div>
		</form>
	</div>
	

	<!--[if !IE]> -->
	<script src='../js/angular/angular.min.js'></script>
	<!-- <![endif]-->
	<!--[if lte IE 8 ]>
			<script src='../js/angular-1.2.19/angular.min.js'></script>
		<![endif]-->
	<!--[if !lte IE 8 ]>
			<script src='../js/angular/angular.min.js'></script>
		<![endif]-->
	<script type="text/javascript" src="../js/md5.js?v=${ver}"></script>
	<script type="text/javascript" src="../js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="../js/base64.js?v=${ver}"></script>
	<script type="text/javascript" src="../js/common.js?v=${ver}"></script>
	<script type="text/javascript" src="modifyCmUserPwdCtrl.js?v=${ver}"></script>
</body>
</html>

