<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="querySpecialLineUserInfoPullApp">
<head>
<title></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="keywords" content="云企" />
<meta name="description" content="云企" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="../css/$tenantId$/icon.css?v=${ver}">
<link rel="stylesheet" type="text/css" href="../css/$tenantId$/public.css">
<link rel="stylesheet" type="text/css" href="../css/$tenantId$/head.css?v=${ver}">
<link rel="stylesheet" type="text/css" href="../css/$tenantId$/leftboxcs.css?v=${ver}">
<link rel="stylesheet" type="text/css" href="../css/$tenantId$/master.css">
<style>
.form_billing{border-radius: 1px;}
.ui-select{width: 100%;
        width:-moz-calc(100% - 2px);
        width:-webkit-calc(100% - 2px);
        width:calc(100% - 2px)}
.ui-select,.ui-select select{ height:24px!important;min-height: 24px !important;}
.ui-select select{}
</style>

</head>
<body ng-controller="querySpecialLineUserInfoPullCtrl" class="ng-cloak" >
	<!-- 订单调单 开始 -->
	<div class="billing_1 clearfix pb_20 mt_20"	style="min-height: 300px">
		<table width="100%" border="0" cellspacing="0" cellpadding="0" class="search_table search_term">
					<tbody>
					<tr>
						<td width="100"><label class="term_label">专线公司：</label>
                   			</td>
						<td width="200">
							<input class="form_term ng-pristine ng-untouched ng-valid ng-valid-maxlength"  ng-model="query.tenantName" maxlength="100">
                        </td>
                        <td width="100"><label class="term_label">拉包工：</label>
                   			</td>
						<td width="200">
							<input class="form_term ng-pristine ng-untouched ng-valid ng-valid-maxlength"  ng-model="query.userName" maxlength="100">
                        </td>
                        <td width="100"><label class="term_label">拉包工手机：</label>
                   			</td>
						<td width="200">
							<input class="form_term ng-pristine ng-untouched ng-valid ng-valid-maxlength"  ng-model="query.billId" maxlength="100">
                        </td>
					</tr>
					
					<tr>
						
                        <td width="100"><label class="term_label">合作方式：</label>
                   			</td>
						<td width="200">
							<div class="ui-select" >
								<select ng-model="query.cooperationMode" ng-options="obj.codeValue as obj.codeName for obj in cooperationModeData.items ">
									<option value="">所有</option>
								</select>
							</div>
                        </td>
                        <td width="100"><label class="term_label">认证状态：</label>
                   			</td>
						<td width="200">
							<div class="ui-select" >
								<select ng-model="query.pullState" ng-options="obj.codeValue as obj.codeName for obj in pullStaticDate.items ">
									<option value="">所有</option>
								</select>
							</div>
                        </td>
                        <td width="100"><label class="term_label">拉包工工号：</label></td>
						<td width="200"><input class="form_term ng-pristine ng-untouched ng-valid ng-valid-maxlength"  ng-model="query.jobNumber" maxlength="5"></td>
						<td >
							<div class="bottom_search" style="position:inherit;">
								<a ng-click="doQuery();" ng-enter="" href="javascript:void(0);">查询</a>
								<a ng-click="clean();" ng-enter="" href="javascript:void(0);">清空</a>
							</div>
						</td>
					</tr>
				</tbody>
		</table>
		<div style="position: relative;">
				<div class="bottom_nav pb_20 bottom_nav_search clearfix tableStyle">
	                <h2>查询结果</h2>
	                <a class="button ml_10 newly" href="javascript:void(0)" ng-click="addUserInfoPull()">
	                	<i class="button_icon button_icon dw_newly"></i>新增
	                </a>
	                <a class="button ml_10 modify" href="javascript:void(0)" ng-click="updateUserInfoPull()">
	                	<i class="button_icon button_icon dw_modify"></i>修改
	                </a>
	                <a class="button ml_10 modify" href="javascript:void(0)" ng-click="verifyUserInfoPull()">
	                	<i class="button_icon button_icon dw_modify"></i>审核
	                </a>
	                <a class="button ml_10 modify" href="javascript:void(0)" ng-click="delUserInfoPull()">
	                	<i class="button_icon button_icon dw_modify"></i>注销用户
	                </a>
                </div>
               <my-Table-Cm head="head" table="page" url="url"  is-Show-Row="true"  is-Filter="false" param="urlParam" id="userId" table-Name="querySpecialLineUserInfoPull" ver="${ver}" after-Init-Fn="doQuery()"></my-Table-Cm>
		</div>
	</div>
	<!-- 订单调单 结束 -->
	<!-- 确认订单 弹窗 开始 -->
	<div class="popup" style="width: 500px; height: 240px; top: 20px; margin-left: -250px;" ng-show="isBlack == true">
       		<div class="title"><h2 class="popup_bt">提示</h2><i href="javascript:void(0)" class="list_xl_icon icon" onclick="document.getElementsByClassName('popup')[0].style.display='none';document.getElementsByClassName('popup_bj')[0].style.display='none'"></i></div>
            <div class="popup_content"><p class="popup_p" style="color: #ff0000;">确定将【{{black.userName}}】拉包工拉黑</div>
			<div class="clearfix xianlusz">
			<label class="list_label fl" style="width: 130px;">请填写拉黑备注：</label>
				<textarea maxlength="200" style="height:90px; width:300px; border: 1px solid #d9e2ee;border-radius: 5px; padding:3px 4px;" ng-model="black.remark" class="form-control fl ng-pristine ng-valid ng-valid-maxlength ng-touched ng-untouched"></textarea>
			</div>
            <div class="bottom_nav1" style="margin-top:10px;">
				<a class="button ml_10 baoc" href="javascript:void(0)" ng-click="pullBlack(3)"><i class="button_icon button_icon dw_baoc"></i>保存</a>
				<a href="javascript:void(0)" ng-click="pullBlack(2)">取 消</a>
			</div>
     </div>
	 <!-- 确认订单 弹窗 结束 -->
	 
	 <!-- 透明背景 -->
	 <div class="popup_bj"  ng-show="notBlack == true"></div>
	 
	<!--[if !IE]> -->
	<script src='../js/angular/angular.min.js'></script>
	<!-- <![endif]-->
	<!--[if lte IE 8 ]>
			<script src='../js/angular-1.2.19/angular.min.js'></script>
		<![endif]-->
	<!--[if !lte IE 8 ]>
			<script src='../js/angular/angular.min.js'></script>
		<![endif]-->
	<script type="text/javascript" src="../js/md5.js?v=${ver}"></script>
	<script type="text/javascript" src="../js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="../js/base64.js?v=${ver}"></script>
	<script type="text/javascript" src="../js/common.js?v=${ver}"></script>
	<script type="text/javascript" src="../../js/table/tableCommon.js?v=${ver}"></script>
	<script type="text/javascript" src="querySpecialLineUserInfoPullCtrl.js?v=${ver}"></script>
</body>
</html>

