<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html ng-app="addOrgInfoApp" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>联运汇_新增网点</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="keywords" content="联运汇" />
<meta name="description" content="联运汇" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css"
	href="../css/$tenantId$/icon.css?v=${ver}">
<link rel="stylesheet" type="text/css"
	href="../css/$tenantId$/public.css?v=${ver}">
<link rel="stylesheet" type="text/css"
	href="../css/$tenantId$/head.css?v=${ver}">
<link rel="stylesheet" type="text/css"
	href="../css/$tenantId$/leftboxcs.css?v=${ver}">
<link rel="stylesheet" type="text/css"
	href="../css/$tenantId$/master.css?v=${ver}">

</head>
<body ng-controller="addOrgInfoCtrl" onload="setContentHeight()">

	<!-- 网点设置 -->
	<div class="billing_1 clearfix pb_20 mt_20 plr_20">
		<form>
			<div class="billing_list wdsz" style="padding-top: 20px;">
				<table width="100%" border="0" cellspacing="0" cellpadding="0" class="xianlusz">
					<tr>
						<!-- <td class="list_td"><label class="list_label"><em>*</em>网点编号：</label></td>
						<td class="list_td"><input class="form_billing" type="text" /></td> -->
						<td class="list_td"><label class="list_label"><em>*</em>网点名称：</label></td>
						<td class="list_td"><input ng-model="form.orgName" maxlength="20" type="text" class="form_billing" /></td>
						<td class="list_td"><label class="list_label"><em>*</em>网点简称：</label></td>
						<td class="list_td"><input type="text" ng-model="form.orgShorter" maxlength="10" class="form_billing" /></td>
						<td class="list_td"><label class="list_label"><em>*</em>上级网点：</label></td>
						<td class="list_td"><div class="ui-select">
								<select  ng-model="form.parentOrgId" ng-options="obj.orgId as obj.orgName for  obj in orgData ">
									
								</select>
							</div></td>
					</tr>
					<tr>
						<td class="list_td"><label class="list_label"><em>*</em>省份：</label></td>
						<td class="list_td"><div class="ui-select">
								<select  class="ng-cloak" ng-change="selectCity(form.provinceId);" ng-model="form.provinceId" ng-options="obj.id as obj.name for  obj in provinceData.items ">
									
								</select>
							</div></td>
						<td class="list_td"><label class="list_label"><em>*</em>城市：</label></td>
						<td class="list_td"><div class="ui-select">
								<select  ng-model="form.regionId"  ng-change="selectDistrict(form.regionId);"  ng-options="obj.id as obj.name for  obj in cityData.items ">
									
								</select>
							</div></td>
						<td class="list_td"><label class="list_label"><em>*</em>区/县：</label></td>
						<td class="list_td"><div class="ui-select">
								<select  class="ng-cloak" ng-model="form.countyId" ng-change="streetCreat(form.countyId);" ng-options="obj.id as obj.name for  obj in districtData.items ">
									
								</select>
							</div></td>
						<td class="list_td"><label class="list_label"><em>*</em>街道：</label></td>
						<td class="list_td"><div class="ui-select">
								<select  class="ng-cloak" ng-model="form.streetId" ng-options="obj.id as obj.name for  obj in streetData.items ">
								</select>
							</div>
							</td>
						
					</tr>
					<tr>
						<!-- <td class="list_td"><label class="list_label">经度：</label></td>
						<td class="list_td"><input type="text" class="form_billing" /></td>
						<td class="list_td"><label class="list_label">纬度：</label></td>
						<td class="list_td"><input class="form_billing" type="text" /></td> -->
						<td class="list_td"><label class="list_label">接货电话：</label></td>
						<td class="list_td"><input  ng-model="form.acceptLinkPhone" maxlength="12" class="form_billing" type="text" /></td>
						<td class="list_td"><label class="list_label">提货电话：</label></td>
						<td class="list_td"><input  ng-model="form.carryLinkPhone" maxlength="12" class="form_billing" type="text" /></td>
						<td class="list_td"><label class="list_label"><em>*</em>网点经理：</label></td>
						<td class="list_td"><input ng-model="form.orgManager" maxlength="12"  class="form_billing" type="text" /></td>
						<td class="list_td"><label class="list_label"><em>*</em>网点类型：</label></td>
						<td class="list_td"><div class="ui-select">
								 <my-select id="form.orgType"  has-all="false"  code-type="ORG_TYPE" url-param='' filter='承运商'/>
							</div></td>
					</tr>
					<tr>
						<td class="list_td"><label class="list_label">网点负责人：</label></td>
						<td class="list_td"><input ng-model="form.orgPrincipal" maxlength="12" class="form_billing" type="text" /></td>
						<td class="list_td"><label class="list_label">负责人手机：</label></td>
						<!-- <td class="list_td"><input onkeyup="value=value.replace(/[^\d]/g,'')" onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))" ng-model="form.orgPrincipalPhone" maxlength="12"  class="form_billing" type="text" /></td> -->
						<td class="list_td"><input  ng-model="form.orgPrincipalPhone" maxlength="16"  class="form_billing" type="text" /></td> 
						<td class="list_td"><label class="list_label">客服人员1：</label></td>
						<td class="list_td"><input ng-model="form.supportStaff" maxlength="16" class="form_billing" type="text" /></td>
						<td class="list_td"><label class="list_label">客服电话1：</label></td>
						<td class="list_td"><input  ng-model="form.supportStaffPhone" maxlength="16"  class="form_billing" type="text" /></td>
					</tr>
					<tr>
					    <td class="list_td"><label class="list_label">客服人员2：</label></td>
						<td class="list_td"><input ng-model="form.supportStaff2" maxlength="16" class="form_billing" type="text" /></td>
						<td class="list_td"><label class="list_label">客服电话2：</label></td>
						<td class="list_td"><input  ng-model="form.supportStaffPhone2" maxlength="16"  class="form_billing" type="text" /></td>
						<td class="list_td"><label class="list_label">传真：</label></td>
						<td class="list_td"><input ng-model="form.fax" maxlength="15" class="form_billing" type="text" /></td>
						<!-- <td class="list_td"><label class="list_label">是否财务中心：</label></td>
						<td class="list_td"><div class="controls">
								<input class="none" id="radio-1" type="radio" name="r-group-1"
									checked="checked"> <label for="radio-1">是</label> <input
									class="none" id="radio-2" type="radio" name="r-group-1">
								<label for="radio-2">否</label>
							</div></td>
						<td class="list_td"><label class="list_label"><em>*</em>所属财务中心：</label></td>
						<td class="list_td"><input class="form_billing" type="text" /></td> -->
						<td class="list_td"><label class="list_label"><em>*</em>经营类型：</label></td>
						<td class="list_td"><div class="ui-select">
								 <my-select id="form.businessType"  has-all="false"  code-type="BUSINESS_TYPE" url-param=''/>
							</div></td>
							
						<!-- <td class="list_td"><label class="list_label"><em>*</em>是否代收货款：</label></td>
						<td class="list_td"><div class="controls">
								<input class="none" ng-model="form.isPaymentCollection" ng-click="radio(1);" value="1" id="radio-3" type="radio" name="isPaymentCollection"
									checked="checked"> <label for="radio-3" class="yd_span">是</label> <input
									class="none" id="radio-4" ng-model="form.isPaymentCollection" ng-click="radio(2);" value="2" type="radio" name="isPaymentCollection">
								<label for="radio-4" class="yd_span">否</label>
							</div></td>
						<td ng-if="form.isPaymentCollection==1" class="list_td"><label class="list_label"><em>*</em>代收款限额：</label></td>
						<td ng-if="form.isPaymentCollection==1" class="list_td"><input ng-model="form.limitForCollection" my-double-val='keyup' class="form_billing" type="text" placeholder="单位:元"/></td> -->
					</tr>
					<tr>
						<!-- <td class="list_td"><label class="list_label"><em>*</em>是否营业部门：</label></td>
						<td class="list_td"><div class="controls">
								<input ng-model="form.isDepartment" value="1"  class="none" id="radio-1" type="radio" name="isDepartment"
									checked="checked"> <label for="radio-1" class="yd_span">是</label> <input
									class="none" ng-model="form.isDepartment" value="2" id="radio-2" type="radio" name="isDepartment">
								<label for="radio-2" class="yd_span">否</label>
							</div></td>
						<td class="list_td"><label class="list_label"><em>*</em>是否结算到付单：</label></td>
						<td class="list_td"><div class="controls">
								<input ng-model="form.isSettleDocket" value="1" class="none" id="radio-5" type="radio" name="isSettleDocket"
									checked="checked"> <label for="radio-5" class="yd_span">是</label> <input
									class="none" ng-model="form.isSettleDocket" value="2" id="radio-6" type="radio" name="isSettleDocket">
								<label for="radio-6" class="yd_span">否</label>
							</div></td>
						<td class="list_td"><label class="list_label"><em>*</em>本位币类型：</label></td>
						<td class="list_td"><div class="ui-select"> <my-select id="form.currencyType"  has-all="false"  code-type="CURRENCY_TYPE" url-param=''/></div> </td> -->
					<td class="list_td"><label class="list_label"><em>*</em>详细地址：</label></td>
						<td class="list_td" colspan="3"><input class="form_billing" ng-model="form.departmentAddress" maxlength="30" type="text" />
			        <td>
			        <td></td>
			        <td></td>
					</tr>
					<tr>
					<!-- 	<td class="list_td"><label class="list_label"><em>*</em>提现基准：</label></td>
						<td class="list_td"><input ng-model="form.casReference"  maxlength="10" placeholder="输入说明，例:50%=0.5" class="form_billing" type="text" /></td>
						<td class="list_td"><label class="list_label"><em>*</em>锁机额度：</label></td>
						<td class="list_td"><input ng-model="form.lockLimit"  my-double-val='keyup' maxlength="10" class="form_billing" type="text" placeholder="单位:元"/></td>
						<td class="list_td"><label class="list_label"><em>*</em>预警额度：</label></td>
						<td class="list_td"><input ng-model="form.warningLimit" maxlength="10"  my-double-val='keyup' class="form_billing"  type="text" placeholder="单位:元"/></td> -->
					</tr>
					<tr>
						
						<td valign="top" class="list_td"><label class="list_label">备注：</label></td>
						<td colspan="7" class="list_td">
						<textarea ng-model="form.remark" onKeyDown='if (this.value.length>=100){event.returnValue=false}' class="yic_text" maxlength="100" ></textarea></td>
					</tr>
				</table>
			</div>
	<div class="bottom_nav1">
		<a href="javascript:void(0);" ng-click="doSave()">保 存</a><a ng-click="close();" href="javascript:void(0);">取 消</a>
	</div>
		</form>
	</div>

	<!--[if !IE]> -->
	<script src='../js/angular/angular.min.js'></script>
	<!-- <![endif]-->
	<!--[if lte IE 8 ]>
			<script src='../js/angular-1.2.19/angular.min.js'></script>
		<![endif]-->
	<!--[if !lte IE 8 ]>
			<script src='../js/angular/angular.min.js'></script>
		<![endif]-->
	<script type="text/javascript" src="../js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="../js/md5.js"></script>
	<script type="text/javascript" src="../js/common.js?v=${ver}"></script>
	<script type="text/javascript" src="../js/base64.js?v=${ver}"></script>
	<script type="text/javascript"
		src="../js/My97DatePicker/WdatePicker.js?v=${ver}"></script>
	<script type="text/javascript" src="addOrgInfoCtrl.js?v=${ver}"></script>
</body>
</html>

