<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html ng-app="serviceToApplicationApp" xmlns="http://www.w3.org/1999/xhtml" >
	<head>
	    <title>调度任务-提现申请</title>
	    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="keywords" content="联运会"/> 
		<meta name="description" content="联运会" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />	
        <link rel="stylesheet" type="text/css" href="../../css/$tenantId$/icon.css?v=${ver}">	
		<link rel="stylesheet" type="text/css" href="../../css/$tenantId$/public.css?v=${ver}">
		<link rel="stylesheet" type="text/css" href="../../css/$tenantId$/head.css?v=${ver}">
        <link rel="stylesheet" type="text/css" href="../../css/$tenantId$/master.css?v=${ver}">
</head>
	<body ng-controller="serviceToApplicationCtrl" onload="setContentHeight(300)"  style="overflow:hidden">
		<div class="billing_1">
			
			<!-- 提现申请 开始 -->
			<div class="tx_tc" id="vehicle_3" style=" margin-top:0; padding-top:28px; padding-bottom:20px;" >
				<div class="search" style=" padding-top:0;">
					
				<table width="100%" border="0" cellspacing="0" cellpadding="0" class="search_table">
				  <tbody><tr>
					<td width="150"><label class="control-label">合同公司名称：</label></td>
					<td><input  class="input_box" id="" type="text" ng-model="params.tenantName" disabled="disabled" /></td>
					<td width="100"><label class="control-label">联系方式：</label></td>
					<td><input disabled="disabled" class="input_box"  id="" type="text" ng-model="params.tenantPhone" /></td>
				<td width="100"><a class="search_ydcx"  ng-click="queryMaster();" style="width: 100px;"
 					href="javascript:void(0);">查找合作商</a></td>
						<td></td>
					<td></td>
				  </tr>
				  <tr>
					<td ><label class="control-label">收款方式：</label></td>
					<td><div class="search_select"><my-select id="params.receiType"  has-all="false" default-value=""
									code-type="ACCT_RECC_TYPE" url-param='' /></div></td>
					<td ng-show="params.receiType==1"><label class="control-label">归属银行：</label></td>
                    <td  ng-show="params.receiType==1"><div class="search_select">
						<my-select id="params.bankType"  has-all="false" default-value=""
						code-type="BANK_TYPE" url-param='' />
                         </div>
                    </td>
					<td><label class="control-label">持卡人：</label></td>
					<td><input  class="input_box input_bbj"  type="text"  ng-model="params.accountName" /></td>
					<td><label class="control-label"><span ng-if="params.receiType==1">银行卡号：</span><span ng-if="params.receiType==2">支付宝号：</span><span ng-if="params.receiType==3">微信号：</span></label></td>
					<td><input ng-if="params.receiType==1" class="input_box input_bbj" type="text" ng-model="params.bankAccount"/>
					<input  ng-if="params.receiType==2" class="input_box input_bbj" type="text" ng-model="params.paypalAccount"/>
					<input  ng-if="params.receiType==3" class="input_box input_bbj" type="text" ng-model="params.wxAccount"/>
					</td>
				  </tr>
				   <tr>
						<td width="150"><label class="control-label">待提现金额：</label></td>
						<td><input disabled="disabled" class="input_box input_bbj" type="text" ng-model="sf.waitCash" /></td>
						<td width="100"><label class="control-label">提现中金额：</label></td>
						<td><input disabled="disabled" class="input_box input_bbj" type="text" ng-model="sf.getCash" /></td>
						<td width="100"><label class="control-label">已提现金额：</label></td>
						<td><input disabled="disabled" class="input_box input_bbj" type="text" ng-model="sf.hasCash" /></td>
						<td><label class="control-label w_100">申请提现金额：</label></td>
						<td><input disabled="disabled" class="input_box input_bbj" type="text" value="{{add.applyTotalMoney/100|number:2}}"/></td>
					  </tr>
				</tbody></table>
					
					</div>
				<!--任务列表 start-->
			<div class="waybill_title clearfix"></div>
			<div style="overflow: auto;/*height: 400px*/"><table width="100%" border="0" cellspacing="0" cellpadding="0"  class="waybill_table_list">
				  <thead>
				  	<tr>
						<th style="width: 60px;"><div class="input_z">
	                  			<input id="checkboxb" class="none input_gx" ng-click="selectAll('check-2','checkboxb');" type="checkbox">
	            				<label for="checkboxb"></label>
	          				</div></th>
							<th>任务类别</th>
							<th>运单号</th>
							<th>金额</th>
							<th>费用类型</th>
				  </tr>
				  </thead>
				  <tbody>
                                  <tr ng-class="{'search_list_tr':$index%2==0}"  class="ng-cloak" ng-click="selectOne(t,'checkboxt');" ng-repeat="t in sf.withList">
                                  	<td class="search_list_border"><div class="controls"><input id="checkboxt{{t.withId}}" class="none input_gx" value="{{t}}" type="checkbox" name="check-2" ><label for="check-2"></label></div></td>
                                    <td>{{t.keyTypeName}}</td>
                                    <td>{{t.trackNum}}</td>
                                    <td>{{t.money/100|number:2}}</td>
                                     <td>{{t.feeTypeName}}</td>
                                  </tr>
				  </tbody>
			</table></div>
			<!--任务列表 end-->
			
			<!--任务列表 end-->
			<div class="tx_tc_button" style="margin-top:20px;"><a class="search_button_ss"  href="javaScript:void(0)" ng-click="doSave()">申请</a><a class="search_button_cz" href="javascript:void(0);"  ng-click="close()">返回</a></div>
				</div>
    		<!-- 提现申请 结束 -->
			
			
		</div>
		
		       
<!--服务商 开始 --> 
   <div  id="master" style="position:fixed; top:20px;left:50%; width:850px; height:600px; margin-left:-440px;z-index:99996;display: none">
   		<a class="tc_x" href="javascript:void(0)" ng-click="closeMaster();">x</a>
   		
   		<div class="billing_1 clearfix pb_20" style="margin: 0!important" >
                
                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="search_table search_term dhl_qkd kz_fx">
					<tbody><tr>
						<td width="100"><label class="term_label">名称：</label></td>
						<td><input class="form_term" ng-model="user.name"/></td>
						<td width="100"><label class="term_label">联系电话：</label></td>
						<td><input class="form_term" ng-model="user.linkPhone" maxlength="11"/></td>
						<td rowspan="2">
							<div class="bottom_search search_button" style="position:inherit;">
								<a ng-click="queryMaster();" ng-Enter href="javascript:void(0);">查询</a>
								<a class="qink" href="javascript:void(0);" ng-click="clear();">清空</a>
								
							</div>
						</td>
					</tr>
					<tr>
						<td width="100"><label class="term_label">省份：</label></td>
						<td>
						<div class="form_select">
                                <select class="ng-cloak" ng-change="selectCity(user.provinceId);" ng-model="user.provinceId" ng-options="obj.id as obj.name for  obj in provinceData.items ">
                                
                                </select>
                            </div>
						</td>
						<td width="100"><label class="term_label">城市：</label></td>
						<td><div class="form_select">
                                <select class="ng-cloak"  ng-model="user.cityId"  ng-options="obj.id as obj.name for  obj in cityData.items ">
                                </select>
                            </div></td>
					</tr>
                   </tbody>
                </table>
                <div class="bottom_nav pb_20 bottom_nav_search clearfix"><h2>查询结果--<!-- <span class="f14">双击查看详情</span>--></h2><a ng-click="selectMaster();" href="javascript:void(0);" >确定</a></div>
			  <div class="kz_fx_list">
			  <my-Adv-Table 
                isShowSeq="false" 
                isMultiSelect="false" 
                isShowCheck=true 
                isFilter="false" 
                width="100%"
                isSum="false" 
                id="orgId" 
                name="masterInfo"
                head='[
                {"name":"名称","code":"name","width":"25%"},
                {"name":"联系方式","code":"phone","width":"25%"},
                 {"name":"服务省份","code":"provinceName","width":"25%"},
                {"name":"服务城市","code":"cityName","width":"21%"}
                ]'>
                </my-Adv-Table>
                </div>
		</div>
   </div>
<!--服务商 结束 --> 
 <div id="alertMsgIsShow" class="popup_bj"  style="display: none;z-index:99995"></div>
 		<!--[if !IE]> -->
	    <script src='../../js/angular/angular.js'></script>
		<!-- <![endif]-->
		<!--[if lte IE 8 ]>
			<script src='../../js/angular-1.2.19/angular.min.js'></script>
		<![endif]-->
		<!--[if !lte IE 8 ]>
			<script src='../../js/angular/angular.min.js'></script>
		<![endif]-->
		<script type="text/javascript" src="../../js/md5.js"></script>
		<script type="text/javascript" src="../../js/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="../../js/jquery.js"></script>
		<script type="text/javascript" src="../../js/common.js?v=${ver}"></script>
		<script type="text/javascript" src="../../js/base64.js?v=${ver}"></script>
		<script type="text/javascript" src="serviceToApplicationCtrl.js?v=${ver}"></script>
	</body>
</html>

