<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html ng-app="zxAuthApplicationApp" xmlns="http://www.w3.org/1999/xhtml" >
	<head>
	    <title>调度任务-提现申请</title>
	    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="keywords" content="一智通"/> 
		<meta name="description" content="一智通" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />	
        <link rel="stylesheet" type="text/css" href="../../css/$tenantId$/icon.css?v=${ver}">	
		<link rel="stylesheet" type="text/css" href="../../css/$tenantId$/public.css?v=${ver}">
		<link rel="stylesheet" type="text/css" href="../../css/$tenantId$/head.css?v=${ver}">
        <link rel="stylesheet" type="text/css" href="../../css/$tenantId$/master.css?v=${ver}">
		 
		<script type="text/javascript" src="../../js/x.js?v=${ver}"></script>
</head>
	<body ng-controller="zxAuthApplicationCtrl" onload="setContentHeight(300)"  style="overflow:hidden">
		<div class="billing_1">
			<!-- 提现审批 开始 -->
			<div class="tx_tc" id="vehicle_1" style="margin-top:0; padding-top:28px; padding-bottom:20px;">
					<table width="100%" border="0" cellspacing="0" cellpadding="0" class="search_table tx_tc_table">
					 <tr>
						<td width="150"><label class="control-label">待提现金额：</label></td>
						<td><input disabled="disabled" class="input_box input_bbj" type="text" ng-model="sf.waitCash" /></td>
						<td width="100"><label class="control-label">提现中金额：</label></td>
						<td><input disabled="disabled" class="input_box input_bbj" type="text" ng-model="sf.getCash" /></td>
						<td width="100"><label class="control-label">已提现金额：</label></td>
						<td><input disabled="disabled" class="input_box input_bbj" type="text" ng-model="sf.hasCash" /></td>
						<td><label class="control-label w_100">申请提现金额：</label></td>
						<td><input disabled="disabled" class="input_box input_bbj" type="text" value="{{audit.dzMoney/100|number:2}}"/></td>
					  </tr>
					  <tr>
						<td width="100"><label class="control-label ">安装师傅：</label></td>
						<td><input disabled="disabled" class="input_box" type="text" ng-model="audit.workerName" /></td>
						<td width="100"><label class="control-label">师傅帐号：</label></td>
						<td><input class="input_box" id="" type="text" ng-model="audit.workerLoginAcct" disabled="disabled"/></td>
						<!-- <td><label class="control-label">提现金额：</label></td>
						<td><input disabled="disabled" class="input_box" type="text" value="{{audit.dzMoney/100|number:2}}"  /></td> -->
					  </tr>
					   <tr>
						<td><label class="control-label">付款方式：</label></td>
						<td><input class="input_box" id="" type="text" disabled="disabled" ng-model="audit.receiTypeName"/></td>
						<td width="100"><label class="control-label">卡名：</label></td>
						<td><input class="input_box" id="" type="text" ng-model="audit.bankName" disabled="disabled"/></td>
						<td width="100"><label class="control-label">持卡人：</label></td>
						<td><input class="input_box" id="" type="text" ng-model="audit.accountName" disabled="disabled"/></td>
						<td><label class="control-label"><span ng-if="audit.receiType==1">银行卡号：</span><span ng-if="audit.receiType==2">支付宝号：</span><span ng-if="audit.receiType==3">微信号：</span></label></td>
						<td colspan="3"><input disabled="disabled" class="input_box" type="text" style="width:100%" ng-model="audit.bankAccount"/></td>
					  </tr>
					</table>
				</div>
    		<!-- 提现审批 结束 -->
			<!--任务列表 start-->
					<div class="waybill_title clearfix"></div>
						<table width="100%" border="0" cellspacing="0" cellpadding="0"  class="waybill_table_list">
										  <thead>
										  	<tr>
													<th>任务类别</th>
													<th>运单号</th>
													<th>金额</th>
													<th>费用类型</th>
										  </tr>
										  </thead>
										  <tbody>
				                                  <tr ng-class="{'search_list_tr':$index%2==0}"  class="ng-cloak" ng-repeat="t in auditView">
				                                    <td>{{t.taskTypeName}}</td>
				                                    <td>{{t.wayBillId}}</td>
				                                    <td>{{t.dzMoney/100|number:2}}</td>
				                                     <td>{{t.feeTypeName}}</td>
				                                  </tr>
										  </tbody>
									</table>
					<!--任务列表 end-->
			<div class="search" style=" padding-top:20px;">
						<table width="100%" border="0" cellspacing="0" cellpadding="0" class="search_table">
						  <tbody> <tr>
						<td><label class="control-label">申请时间：</label></td>
						<td><input class="input_box" id="" type="text" disabled="disabled" ng-model="audit.strCreateDate"/></td>
						<td><label class="control-label">申请人：</label></td>
						<td><input class="input_box" id="" type="text" disabled="disabled" ng-model="audit.workerName"/></td>
					  </tr>
					  <tr>
						<td valign="top"><label class="control-label" style="line-height:20px;">审批备注：</label></td>
						<td colspan="5"><textarea ng-model="audit.auditNote" maxlength="500" style="height:90px; width:100%; border: 1px solid #d9e2ee;border-radius: 5px; padding:3px 4px;" ng-model="newData.carOwnerVisitLog" class="form-control ng-pristine ng-valid ng-valid-maxlength ng-touched"></textarea></td>
					  </tr>
						</tbody></table>
					</div>
					
				<div class="tx_tc_button"><a class="search_button_ss" href="javaScript:void(0)"  ng-click="auditSts('1')">通过</a><a class="search_button_ss" href="javaScript:void(0)"  ng-click="auditSts('2')">不通过</a><a class="search_button_cz" href="javaScript:void(0)"  ng-click="close();">取消</a></div>
				
				</div>
 		<!--[if !IE]> -->
	    <script src='../../js/angular/angular.min.js'></script>
		<!-- <![endif]-->
		<!--[if lte IE 8 ]>
			<script src='../../js/angular-1.2.19/angular.min.js'></script>
		<![endif]-->
		<!--[if !lte IE 8 ]>
			<script src='../../js/angular/angular.min.js'></script>
		<![endif]-->
		<script type="text/javascript" src="../../js/md5.js"></script>
		<script type="text/javascript" src="../../js/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="../../js/jquery.js"></script>
		<script type="text/javascript" src="../../js/common.js?v=${ver}"></script>
		<script type="text/javascript" src="../../js/base64.js?v=${ver}"></script>
		<script type="text/javascript" src="../../js/My97DatePicker/WdatePicker.js?v=${ver}"></script>
		<script type="text/javascript" src="zxAuthApplicationCtrl.js?v=${ver}"></script>
	</body>
</html>

