<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html ng-app="businessManageApp">
<head>
<title>${title}_拉包公司管理</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="keywords" content="${title}" />
<meta name="description" content="${title}" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css"
	href="../css/$tenantId$/icon.css?v=${ver}">
<link rel="stylesheet" type="text/css"
	href="../css/$tenantId$/public.css?v=${ver}">
<link rel="stylesheet" type="text/css"
	href="../css/$tenantId$/head.css?v=${ver}">
<link rel="stylesheet" type="text/css"
	href="../css/$tenantId$/leftboxcs.css?v=${ver}">
<link rel="stylesheet" type="text/css"
	href="../css/$tenantId$/master.css?v=${ver}">

</head>
<body ng-controller="businessManageCtrl" style="overflow: hidden"
	onLoad="setContentHeight()">
	<!-- 拉包公司管理   start -->
	<div class="billing_1 clearfix pb_20 mt_20">
	<div class="search">
		<table width="100%" border="0" cellspacing="0" cellpadding="0"
			class="search_table search_term">
			<tbody>
				<tr>
					<td width="100"><label class="term_label">拉包公司：</label></td>
					<td>
						<div class="form_select">
							<select class="form_term" ng-model="user.orgId"
								ng-options="obj.orgId as obj.orgName for  obj in companyData.items ">
							</select>
						</div>
					</td>
					<td width="100"><label class="term_label">公司编码：</label></td>
					<td><input class="form_term" ng-model="user.tenantCode" /></td>
					<td width="100"><label class="term_label">联系电话：</label></td>
					<td><input class="form_term" ng-model="user.linkPhone"
						maxlength="11" /></td>
					<td rowspan="2"><div class="bottom_search search_button"
							style="position: inherit;">
							<a ng-click="doQuery();" ng-Enter href="javascript:void(0);">查询</a><a
								class="qink" href="javascript:void(0);" ng-click="clear();">清空</a>
						</div></td>
				</tr>
			</tbody>
		</table>
		</div>
		<div style="position: relative;" class="search_nr clearfix mt_20">
				<div class="bottom_nav pb_20 bottom_nav_search clearfix tableStyle">
				<h2>查询结果</h2>
				<a ng-click="newAdd()" class="button ml_10 newly"
					href="javascript:void(0)"> <i
					class="button_icon button_icon dw_newly"></i>新增
				</a> <a class="button ml_10 modify" href="javascript:void(0)"
					ng-click="businessUpdate()"> <i
					class="button_icon button_icon dw_modify"></i>修改
				</a> <a class="button ml_10 delete" href="javascript:void(0)"
					ng-click="delOrg()"> <i
					class="button_icon button_icon dw_delete"></i>删除
				</a>
			</div>
			<my-Table-Cm head="head" is-Multi-Select="true" table="table"
				after-Init-Fn="doQuery()" url="url" param="urlParam" id="tenantId" is-Show-Row="true"
				table-Name="businessManage" ver="${ver}"></my-Table-Cm>
		</div>
	</div>
	<!-- 拉包公司管理  end -->

	<!--[if !IE]> -->
	<script src='../js/angular/angular.min.js'></script>
	<!-- <![endif]-->
	<!--[if lte IE 8 ]>
			<script src='../js/angular-1.2.19/angular.min.js'></script>
		<![endif]-->
	<!--[if !lte IE 8 ]>
			<script src='../js/angular/angular.min.js'></script>
		<![endif]-->
	<script type="text/javascript" src="../js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript" src="../js/md5.js"></script>
	<script type="text/javascript" src="../js/common.js?v=${ver}"></script>
	<script type="text/javascript" src="../js/base64.js?v=${ver}"></script>
	<script type="text/javascript"
		src="../js/My97DatePicker/WdatePicker.js?v=${ver}"></script>
	<script type="text/javascript" src="businessManageCtrl.js?v=${ver}"></script>
	<script type="text/javascript"
		src="../js/table/tableCommon.js?v=${ver}"></script>
</body>
</html>

