<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html ng-app="dedicatedQueryApp"> 
	<head>
	    <title>${title}_专线查询 </title>
	    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="keywords" content="${title}"/> 
		<meta name="description" content="${title}" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />	
        <link rel="stylesheet" type="text/css" href="../css/$tenantId$/icon.css?v=${ver}">	
		<link rel="stylesheet" type="text/css" href="../css/$tenantId$/public.css?v=${ver}">
		<link rel="stylesheet" type="text/css" href="../css/$tenantId$/head.css?v=${ver}">
        <link rel="stylesheet" type="text/css" href="../css/$tenantId$/leftboxcs.css?v=${ver}">
        <link rel="stylesheet" type="text/css" href="../css/$tenantId$/master.css?v=${ver}">
       
</head>
	<body ng-controller="dedicatedQueryCtrl" style="overflow:hidden" onLoad="setContentHeight()">
        <!-- 专线查询   start -->
        <div class="billing_1 clearfix pb_20 mt_20">
        	 
             <table width="100%" border="0" cellspacing="0" cellpadding="0" class="search_table search_term">
					<tbody>
					<tr>
						<td width="100"><label class="term_label">专线名称：</label></td>
						<td><input class="form_term" ng-model="params.name" maxlength="10"/></td>
						<td width="100"><label class="term_label">联系人：</label></td>
						<td><input class="form_term" ng-model="params.linkMan" maxlength="10"/></td>
						<td width="100"><label class="term_label">联系电话：</label></td>
						<td><input class="form_term" ng-model="params.linkPhone" maxlength="11"/></td>
						
						<td rowspan="2"><div class="bottom_search search_button" style="position:inherit;"><a ng-click="doQuery();" ng-Enter href="javascript:void(0);">查询</a><a class="qink" href="javascript:void(0);" ng-click="clear();">清空</a></div></td>
					</tr>
					<tr>
						<td width="100">
							<label class="term_label">达到省份：</label>
						</td>
						<td>
							<div class="form_select">
		 						<select class="form_term"  ng-model="params.provinceIds" ng-options="obj.id as obj.name for  obj in provinceData.items ">
                            </select>
                            </div>
						</td>
						<td width="100"></td>
						<td></td>
						<td width="100"></td>
						<td></td>
						
					</tr>
					
				</tbody>
		</table>
        <div class="search_nr clearfix mt_20">
              <div class="bottom_nav pb_20 bottom_nav_search clearfix">
              <h2>查询结果</h2>
              <!-- <a href="javascript:void(0)">干线费用</a>
              <a href="javascript:void(0)">配安费用</a> -->
              <a ng-click="newAdd()" class="button ml_10 newly" href="javascript:void(0)">
             	 <i class="button_icon button_icon dw_newly"></i>新增
              </a>
              <a ng-click="update()" class="button ml_10 modify" href="javascript:void(0)">
             	 <i class="button_icon button_icon dw_modify"></i>修改
              </a>
              <a ng-click="delOrg()" class="button ml_10 delete" href="javascript:void(0)">
             	 <i class="button_icon button_icon dw_delete"></i>删除
              </a>
              </div>
              
              <my-Adv-Table 
                isShowSeq="false" 
                isMultiSelect="false" 
                isShowCheck=true 
                isFilter="false" 
                width="100%"
                isSum="false" 
                id="tenantId" 
                
                head='[
                {"name":"专线编码","code":"tenantCode","width":"10%"},
                {"name":"专线名称","code":"name","width":"10%"},
                {"name":"到达省份","code":"provinceNames","width":"25%"},
                {"name":"联系人","code":"linkMan","width":"10%"},
                {"name":"联系电话","code":"linkPhone","width":"10%"},
                {"name":"客服电话","code":"csPhones","width":"15%"},
                {"name":"专线地址","code":"address","width":"16%"}
                ]'>
                </my-Adv-Table>
                
              <!-- <my-table>
                   <div class="zz_list ng-scope" style="overflow:auto;">
                         <table width="100%" class="search_lista" border="0" cellspacing="0" cellpadding="0">
                               <thead>
                                <tr>
                                    <th width="79" class="search_list_border"><div class="controls"><input id="checkbox" class="none input_gx" ng-click="selectAll();" type="checkbox"><label for="checkbox"></label></div></th>
									<th>专线ID</th>
									<th>专线名称</th>
									<th>归属组织</th>
                                    <th>到达省份</th>
                                    <th>联系人</th>
                                    <th>联系电话</th>
                                    <th>客服电话</th>
                                    <th>专线地址</th>
                                </tr>
                              </thead>
                               
                              <tbody>
                                  <tr ng-class="{'search_list_tr':$index%2==1}"  class="ng-cloak" ng-click="selectOne(o.orderId);" ng-repeat="o in page.data.items" >
                                  <tr>
                                  	<td width="79" class="search_list_border"><div class="controls">
                                  		<input id="checkbox{{o.orderId}}" class="none input_gx" value="{{o}}" type="checkbox" name="check-1" >
                                  		<label for="check-1"></label></div>
                                  	</td>
                                    <td>T00001</td>
                                    <td>联运汇专线</td>
                                    <td>联运汇</td>
                                    <td>湖南/湖北</td>
                                    <td>张三</td>
                                    <td>13800138000</td>
                                    <td>020-8888999</td>
                                    <td>乐从联运汇物流园xxxx</td>
                                    
                                    
                                  </tr>
                              </tbody>
                            </table>
                           
                </div>
                </my-table> -->
        	</div>
        	
        </div>
        <!-- 专线查询  end -->
 		
 		<!--[if !IE]> -->
	    <script src='../js/angular/angular.min.js'></script>
		<!-- <![endif]-->
		<!--[if lte IE 8 ]>
			<script src='../js/angular-1.2.19/angular.min.js'></script>
		<![endif]-->
		<!--[if !lte IE 8 ]>
			<script src='../js/angular/angular.min.js'></script>
		<![endif]-->
		<script type="text/javascript" src="../js/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="../js/jquery.js"></script>
		<script type="text/javascript" src="../js/md5.js"></script>
		<script type="text/javascript" src="../js/common.js?v=${ver}"></script>
		<script type="text/javascript" src="../js/base64.js?v=${ver}"></script>
		<script type="text/javascript" src="../js/My97DatePicker/WdatePicker.js?v=${ver}"></script>
		<script type="text/javascript" src="dedicatedQueryCtrl.js?v=${ver}"></script>
</body>
</html>

