<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html ng-app="AcProveManageApp"> 
	<head>
	    <title>联运汇_核销管理 </title>
	    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="keywords" content="联运汇"/> 
		<meta name="description" content="联运汇" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />	
        <link rel="stylesheet" type="text/css" href="../css/$tenantId$/icon.css?v=${ver}">	
		<link rel="stylesheet" type="text/css" href="../css/$tenantId$/public.css?v=${ver}">
		<link rel="stylesheet" type="text/css" href="../css/$tenantId$/head.css?v=${ver}">
        <link rel="stylesheet" type="text/css" href="../css/$tenantId$/leftboxcs.css?v=${ver}">
        <link rel="stylesheet" type="text/css" href="../css/$tenantId$/master.css?v=${ver}">
        
</head>
	<body ng-controller="AcProveManageCtrl" onload="setContentHeight()" >
        <!-- 核销管理 -->
        <div class="billing_1 clearfix pb_20 mt_20">
				<table width="100%" border="0" cellspacing="0" cellpadding="0" class="search_table search_term">
					<tbody><tr>
						<td width="100"><label class="term_label">运单号：</label>
                   			</td>
						<td>
						<input class="form_term" ng-model="query.trackingNum" ng-change="upNum('query.trackingNum')" maxlength="16" type="text">
                            </td>
				<!-- 		<td width="100"><label class="term_label">核销类型：</label>
                       		
							</td>
						<td><div class="form_select">
                                <my-select id="query.checkType" disabled="disabled='true'"  code-type="AC_FEE_CONFIG@FEE_TYPE" filter="中转费用" has-all="true" default-value="-1" url="" />
                            </div></td> -->
                         
						<td width="100"><label class="term_label">收支类型：</label>
                       		
                        
                    	</td>
						<td><div class="form_select">
                                <my-select id="query.inoutSts"  code-type="AC_CASH_PROVE@INOUT_STS"  has-all="true" default-value="-1" />
                            </div>
						</td>
						<td width="100"><label class="term_label">核销状态：</label>
                       		
                        
                    	</td>
						<td>
                        <div class="form_select">
                                <my-select id="query.checkSts"  code-type="AC_CASH_PROVE@CHECK_STS" has-all="true" default-value="-1" url="" />
                            </div>
                        </td>
						<td rowspan="3">
							<div class="bottom_search search_button" style="position:inherit;"><a ng-click="doQuery();" ng-Enter href="javascript:void(0);">查询</a><a class="qink" href="javascript:void(0);" ng-click="clear();">清空</a></div>
							
						</td>
					</tr>
					<tr>
						
						
						<td width="100"><label class="term_label">发货人：</label></td>
						<td><input class="form_term" ng-model="query.consignorName"  maxlength="16" type="text"></td>
					    <td width="100"><label class="term_label">发货人电话：</label>
                        
                    	</td>
						<td>
                        	<input class="form_term" ng-model="query.consignorBill"  maxlength="16" type="text">
                        </td>
                        <td width="100"><label class="term_label">收货人：</label></td>
						<td><input class="form_term" ng-model="query.consigneeName" maxlength="16" type="text"></td>
						
					</tr>
					
	                <tr>
	                   <td width="100"><label class="term_label">收货人电话：</label>
                        
                    	</td>
						<td>
                        	<input class="form_term" ng-model="query.consigneeBill"  maxlength="16" type="text">
                        </td>
						<td width="100"><label class="term_label">开单时间：</label>
                   		</td>
						<td>
							<input my-Date-Picker ng-model="query.beginDate" id="beginDate" readonly="readonly" class="form_term fl w_xjr"  type="text"><span class="search_span fl">到</span><input readonly="readonly" ng-model="query.endDate"  my-Date-Picker id="endDate" class="form_term fl w_xjr" type="text">
                        </td>
						<td width="100"></td>
						<td></td>
						<td width="100"></td>
						<td></td>
						
						
					</tr>
					
				</tbody>
		</table>
        
                
                     <div class="search_nr clearfix mt_20">
              
                            
                  <div class="bottom_nav pb_20 bottom_nav_search clearfix"><h2>查询结果</h2>
	                  <a class="button ml_10 write " ng-click="deal();" href="javascript:void(0)"><i class="button_icon button_icon dw_write"></i>核销</a>
	                  <a  ng-click="undeal();" href="javascript:void(0)">反核销</a>
	                  <a  ng-click="page.downloadExcelFile();" href="javascript:void(0)">导出</a>
                  </div>
                  <!-- <my-table>
                  <div class="zz_list" style="overflow:auto;">
                    
                         <table class="search_lista" border="0" cellspacing="0" cellpadding="0" style="width:1792px;">
                               <thead>
                                <tr >
                                    <th width="79" class="search_list_border"><div class="controls"><input id="checkbox" class="none" ng-click="selectAll();" type="checkbox"><label for="checkbox"></label></div></th>
                                    <th width="119">运单号</th>
                                    <th width="111">核销金额</th>
                                    <th width="108">核销状态</th>
                                    <th width="140">创建日期</th>
                                    <th width="142">核销日期</th>
                                    <th width="128">收支类型</th>
                                    <th width="118">收支状态</th>
                                    <th width="130">对方对象类型</th>
                                    <th width="128">对方对象</th>
                                    <th width="108">核销类型</th>
                                    <th width="108">核销方式</th>
                                    <th width="92">发货方</th>
                                    <th width="92">发货人</th>
                                    <th width="92">发货人手机</th>
                                    <th width="202">系统备注</th>
                                </tr>
                              </thead>
                              
                              <tbody>
                                  <tr ng-class="{'search_list_tr':$index%2==1}"  class="ng-cloak" ng-click="selectOne(o.checkedId);" ng-repeat="o in page.data.items">
                                  	<td width="79" class="search_list_border"><div class="controls"><input id="checkbox{{o.checkedId}}" class="none" value="{{o}}" type="checkbox" name="check-1" ><label for="check-1"></label></div></td>
                                    <td width="119">{{o.trackingNum}}</td>
                                    <td width="111">{{o.fee/100}}</td>
                                    <td width="108">{{o.checkStsName}}</td>
                                    <td width="140">{{o.createDate}}</td>
                                    <td width="142">{{o.checkDate}}</td>
                                    <td width="128">{{o.payTypeName}}</td>
                                    <td width="118">{{o.payStsName}}</td>
                                    <td width="130">{{o.faceObjTypeName}}</td>
                                    <td width="128">{{o.faceObjName}}</td>
                                    <td width="108">{{o.checkStsName}}</td>
                                    <td width="108">{{o.isSysDoName}}</td>
                                    <td width="92">{{o.consignorName}}</td>
                                    <td width="92">{{o.consignorLinkmanName}}</td>
                                    <td width="92">{{o.consignorBill}}</td>
                                    <td width="202"><div class="wz_hh" style="width: 200px;">{{o.sysRemark}}</div></td>
                                  </tr>
                              </tbody>
                            </table>
					
				</div>
                </my-table> -->
                  <!--  {"name":"核销科目","code":"feeTypeName","width":"110"}, -->
               <my-Adv-Table isShowSeq="false" width="100%" isMultiSelect="true"  isShowCheck="true" doubleclick="toDetailAllInfo" isFilter="true" isSum="true" id="checkedId" 
                       head='[
                            {"name":"运单号","code":"trackingNum","width":"100"},
                            {"name":"开单时间","code":"createDate","width":"120"},
                            {"name":"核销科目","code":"feeTypeName","width":"90"},
			                {"name":"核销金额","code":"feeDouble","isSum":"true","width":"100","number":"2"},
			                {"name":"核销状态","code":"checkStsName","width":"90"},
			                {"name":"核销时间","code":"checkDate","width":"120"},
			                {"name":"核销人","code":"checkOpName","width":"100"},
			                {"name":"制单人","code":"inputUserName","width":"100"},
			                {"name":"运单状态","code":"seeOrderStateName","width":"80"},
			                {"name":"发货人","code":"consignorName","width":"100"},
			                {"name":"发货人电话","code":"consignorBill","width":"100"},
			                {"name":"收货人","code":"consigneeName","width":"100"},
			                {"name":"收货人电话","code":"consigneeBill","width":"100"},
			                {"name":"收货人备用电话","code":"consigneeTelephone","width":"100"},
			                {"name":"货号","code":"goodsNumber","width":"110"},
			                {"name":"收支类型","code":"payTypeName","width":"80"},
			                {"name":"收支状态","code":"payStsName","width":"80"},
			                {"name":"对象类型","code":"objTypeName","width":"100"},
			                {"name":"对象","code":"objName","width":"100"},
			                {"name":"对方对象类型","code":"faceObjTypeName","width":"120"},
			                {"name":"对方对象","code":"faceObjName","width":"100"},
			                
			                {"name":"备注","code":"remark","width":"180"}
			                ]'>
                </my-Adv-Table>
                           
		</div>
        
        </div>
		 
 		<!--[if !IE]> -->
	    <script src='../js/angular/angular.min.js'></script>
		<!-- <![endif]-->
		<!--[if lte IE 8 ]>
			<script src='../js/angular-1.2.19/angular.min.js'></script>
		<![endif]-->
		<!--[if !lte IE 8 ]>
			<script src='../js/angular/angular.min.js'></script>
		<![endif]-->
		<script type="text/javascript" src="../js/md5.js"></script>
		<script type="text/javascript" src="../js/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="../js/jquery.js"></script>
		<script type="text/javascript" src="../js/common.js?v=${ver}"></script>
		<script type="text/javascript" src="../js/base64.js?v=${ver}"></script>
		<script type="text/javascript" src="../js/My97DatePicker/WdatePicker.js?v=${ver}"></script>
		<script type="text/javascript" src="AcProveManageCtrl.js?v=${ver}"></script>
</body>
</html>

