@charset "gb2312";
/*--side_nav css定义--*/
.sidebar{ width:120px; max-height:100%; position:fixed; /*background:#303942*/z-index: 1;}

.side_top{ height:35px;background: #9aabbf;border-radius:0 2px 2px 0;display: none;}
	.side_top a{ width:36px; height:35px; display:block; /*background:#212832;*/ position:relative}
	.side_top a:hover{ background:#e66045}
	.icon_bars{background-position:-440px 0px; width: 10px;height: 16px;display: block; position: absolute;top: 11px;left: 14px;}
	.active .icon_bars{background-position:-440px -18px; width: 10px;height: 16px;display: block; position: absolute;top: 10px;left: 12px;}
	

.side_search{ height:35px; background:#9aabbf; padding-right:15px;margin-top: 1px;border-radius:0 2px 2px 0;}
	.form_control{ width:80px;height: 35px;background:0;border: 0px;display: block;line-height: 35px;color: #333;border-radius: 4px; font-size:14px; margin-left:5px;}
	.form_control::-webkit-input-placeholder { /* WebKit browsers */color:#333;}
	.form_control::-moz-placeholder { /* Mozilla Firefox 4 to 18 */color:#333;}
	.form_control::-moz-placeholder { /* Mozilla Firefox 19+ */color:#333;}
	.form_control::-ms-input-placeholder { /* Internet Explorer 10+ */color:#333;}
	
	.btn_inverse{ position:absolute; border:0; width:28px; height:35px;cursor:pointer;background: transparent;right:3px;}
	.sida_search_icon{background-position:-458px 0px; width:16px; height:16px; display:block; cursor:pointer; margin:0 auto;}

.side_nav{}
	.side_nav li.li{ line-height:35px; /*border-bottom:1px solid #28313a; border-top:1px solid #3b444d;*/ position:relative;background: #9aabbf;margin-top: 1px;border-radius:0 2px 2px 0;}
	.side_nav li.li a{ color:#fff; font-size:14px; height:35px; display:block; padding-right:25px;cursor: pointer;}
	.side_nav li.li a:hover,.side_nav .hover a{ background:#e46143;  text-decoration:none; position:relative;}
	.side_nav li.li a:hover{width: 189px;}
	.side_nav li.li a.tooltip-tip:hover i{display: block!important;position: absolute;z-index: 999;right: 103px!important;}
	.side_nav li.li a span{ position:absolute; left:0px;}
	.navicon_1,.navicon_2,.navicon_3,.navicon_4,.navicon_5,.navicon_g6,.navicon_g7{ position:absolute; /*left:26px;*/ top:10px;right:9px;}
	.navicon_1{background-position:-349px -56px; width:16px; height:16px; display:block;}
	.navicon_2{background-position:-370px -56px; width:16px; height:16px; display:block}
	.navicon_3{background-position:-392px -56px; width:16px; height:16px; display:block}
	.navicon_4{background-position:-414px -56px; width:16px; height:16px; display:block}
	.navicon_5{background-position:-433px -56px; width:16px; height:16px; display:block}
	.navicon_g6{background-position:-452px -54px; width:16px; height:16px; display:block}
	.navicon_g7{background-position:-469px -54px; width:16px; height:16px; display:block}
	
/*--body 背景 css定义--*/
.whole_bj{ background:#303942}
.dtjss{background: url(../../image/$tenantId$/dx.png) no-repeat/*7-21*/;}

.skin-xx{width: 4px;background: #9aaac1;height:100%;position: fixed;z-index: 1;left: 0;}
.side_search:hover{ background:#e46143;  text-decoration:none; border-radius:0 0px 0px 0;}
.side_search:hover input{margin-left: 119px;background: #fff;height: 35px;width: 105px;padding: 0 0 0 10px!important;border-radius:0 2px 2px 0;border: 2px solid #e46143;border-left: 0}
		
