<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="branchFeeApp">
<head>
<title>运单详情</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="keywords" content="一智通" />
<meta name="description" content="一智通" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css"
	href="../css/$tenantId$/icon.css?v=${ver}" />
<link rel="stylesheet" type="text/css"
	href="../css/$tenantId$/public.css?v=${ver}" />
<link rel="stylesheet" type="text/css"
	href="../css/$tenantId$/head.css?v=${ver}" />
<link rel="stylesheet" type="text/css"
	href="../css/$tenantId$/master.css?v=${ver}" />

</head>
<body ng-controller="branchFeeCtrl" onload="setContentHeight()">

	<div class="billing_1" style="padding-bottom: 80px;">


		<!--新增师傅 start-->
		<div
			style="padding: 60px 90px 50px; border-bottom: 1px solid #f4f4f4;">

			<table width="580" border="0" cellpadding="0" cellspacing="0"
				class="search_table addition_table" style="margin: 0px auto;">
				<tr>
					<td width="100"><label class="control-label w_100"><em>*</em>省份：</label></td>
					<td><div class="search_select w_146">
							<select ng-change="selectCity(query.provinceId);" ng-disabled="flag==1" ng-model="query.provinceId" ng-options="obj.id as obj.name for  obj in provinceData.items " name="select" class="xl_z">
							</select>
						</div></td>
					<td width="100"><label class="control-label w_100"><em>*</em>城市：</label></td>
					<td><div class="search_select w_146">
							<select ng-change="selectDistrict(query.regionId);" ng-disabled="flag==1" ng-model="query.regionId"  ng-options="obj.id as obj.name for  obj in cityData.items " name="select" class="xl_z">
							</select>
						</div></td>

				</tr>
				<tr>
					<td width="100"><label class="control-label w_100"><em>*</em>区县：</label></td>
					<td><div class="search_select w_146">
							<select  ng-model="query.countyId" ng-disabled="flag==1" ng-change="selectStreet(query.countyId);"  ng-options="obj.id as obj.name for  obj in districtData.items " name="select" class="xl_z">
							</select>
						</div></td>
					<td width="100"><label class="control-label w_100"><em>*</em>乡镇：</label></td>
					<td><div class="search_select w_146">
							<select ng-model="query.townId"  ng-disabled="flag==1" ng-options="obj.id as obj.name for  obj in streetData.items "  name="select" class="xl_z">
							</select>
						</div></td>
				</tr>
				<tr>
					<td width="100"><label class="control-label w_100"><em>*</em>支线费用：</label></td>
					<td><input class="input_box" my-double-val='keyup' ng-disabled="flag==1" ng-model="query.priceUnit" id="" maxlength="5" type="text"> 元</td>
					<td width="100"></td>
					<td></td>
				</tr>
				<tr>
					<td width="100"><label class="control-label w_100"><em>*</em>超方费用：</label></td>
					<td><input class="input_box" my-double-val='keyup' ng-disabled="flag==1"  ng-model="query.exceedVolumePrice" maxlength="5" id="" type="text"> 元</td>
					<td width="100"><label class="control-label w_100"><em>*</em>超方：</label></td>
					<td><input class="input_box" my-double-val='keyup' ng-disabled="flag==1"  ng-model="query.exceedVolume" maxlength="5" id="" type="text"> 立方米</td>
				</tr>
				<tr>
					<td width="100"><label class="control-label w_100"><em>*</em>超远费用：</label></td>
					<td><input class="input_box" my-double-val='keyup' ng-disabled="flag==1" ng-model="query.exceedDisPrice" id="" maxlength="5" type="text"> 元</td>
					<td width="100"><label class="control-label w_100"><em>*</em>超远：</label></td>
					<td><input class="input_box" my-double-val='keyup' ng-disabled="flag==1" ng-model="query.exceedDis" id="" maxlength="5" type="text"> 公里</td>
				</tr>


			</table>



		</div>
		<div class="tx_tc_button" style="margin-top: 50px;">
			<a class="search_button_ss" ng-click="doSave();" ng-hide="flag==1" href="javascript:void(0);">保存</a> <a
				class="search_button_cz" ng-click="close();" href="javascript:void(0);">返回</a>
		</div>
		<!--新增师傅 end-->


	</div>


	<!--[if !IE]> -->
	<script src='../js/angular/angular.min.js'></script>
	<!-- <![endif]-->
	<!--[if lte IE 8 ]>
			<script src='../js/angular-1.2.19/angular.min.js'></script>
		<![endif]-->
	<!--[if !lte IE 8 ]>
			<script src='../js/angular/angular.min.js'></script>
		<![endif]-->
	<script type="text/javascript" src="../js/md5.js"></script>
	<script type="text/javascript" src="../js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="../js/common.js?v=${ver}"></script>
	<script type="text/javascript" src="../js/base64.js?v=${ver}"></script>
	<script type="text/javascript" src="branchFeeCtrl.js?v=${ver}"></script>
</body>
</html>

